<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>a1000n</string>
    <key>description</key>
    <string>Amiga 1000 (NTSC)</string>
    <key>media</key>
    <dict>
    </dict>
    <key>resolution</key>
    <array>
      <integer>724</integer>
      <integer>483</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>description</key>
        <string>Disk Drives</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string></string>
            <key>devname</key>
            <string>smartport</string>
            <key>default</key>
            <true/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>rs232</string>
        <key>description</key>
        <string>Serial</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>ie15</string>
            <key>description</key>
            <string>IE15 Terminal</string>
            <key>devname</key>
            <string>ie15_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>scorpion</string>
            <key>description</key>
            <string>Micro-Robotics Scorpion Intelligent Controller</string>
            <key>devname</key>
            <string>scorpion_ic</string>
          </dict>
          <dict>
            <key>value</key>
            <string>msystems_mouse</string>
            <key>description</key>
            <string>Mouse Systems Non-rotatable Mouse (HLE)</string>
            <key>devname</key>
            <string>rs232_mouse_hle_msystems</string>
          </dict>
          <dict>
            <key>value</key>
            <string>nss_tvi</string>
            <key>description</key>
            <string>Novag Super System TV Interface</string>
            <key>devname</key>
            <string>nss_tvinterface</string>
          </dict>
          <dict>
            <key>value</key>
            <string>pty</string>
            <key>description</key>
            <string>Pseudo Terminal</string>
            <key>devname</key>
            <string>pseudo_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>rs_printer</string>
            <key>description</key>
            <string>Radio Shack Serial Printer</string>
            <key>devname</key>
            <string>rs_serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>loopback</string>
            <key>description</key>
            <string>RS-232 Loopback</string>
            <key>devname</key>
            <string>rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>dec_loopback</string>
            <key>description</key>
            <string>RS-232 Loopback (DEC 12-15336-00)</string>
            <key>devname</key>
            <string>dec_rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>null_modem</string>
            <key>description</key>
            <string>RS-232 Null Modem</string>
            <key>devname</key>
            <string>null_modem</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>patch</string>
            <key>description</key>
            <string>RS-232 Patch Box</string>
            <key>devname</key>
            <string>rs232_patch_box</string>
          </dict>
          <dict>
            <key>value</key>
            <string>rs232_sync_io</string>
            <key>description</key>
            <string>RS-232 Synchronous I/O</string>
            <key>devname</key>
            <string>rs232_sync_io</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>keyboard</string>
            <key>description</key>
            <string>Serial Keyboard</string>
            <key>devname</key>
            <string>serial_keyboard</string>
          </dict>
          <dict>
            <key>value</key>
            <string>printer</string>
            <key>description</key>
            <string>Serial Printer</string>
            <key>devname</key>
            <string>serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>terminal</string>
            <key>description</key>
            <string>Serial Terminal</string>
            <key>devname</key>
            <string>serial_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>sunkbd</string>
            <key>description</key>
            <string>Sun Keyboard Adaptor</string>
            <key>devname</key>
            <string>sunkbd_adaptor</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mockingboard</string>
            <key>description</key>
            <string>Sweet Micro Systems Mockingboard D</string>
            <key>devname</key>
            <string>mockingboardd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>swtpc8212</string>
            <key>description</key>
            <string>SWTPC8212 Terminal</string>
            <key>devname</key>
            <string>swtpc8212_terminal</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>centronics</string>
        <key>description</key>
        <string>Printer</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>printer</string>
            <key>description</key>
            <string>Centronics Printer</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>centronics_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>pl80</string>
            <key>description</key>
            <string>COMX PL-80</string>
            <key>devname</key>
            <string>comx_pl80</string>
          </dict>
          <dict>
            <key>value</key>
            <string>covox_stereo</string>
            <key>description</key>
            <string>Covox (Stereo-in-1)</string>
            <key>devname</key>
            <string>covox_stereo</string>
          </dict>
          <dict>
            <key>value</key>
            <string>covox</string>
            <key>description</key>
            <string>Covox Speech Thing</string>
            <key>devname</key>
            <string>covox</string>
          </dict>
          <dict>
            <key>value</key>
            <string>digiblst</string>
            <key>description</key>
            <string>Digiblaster (DIY)</string>
            <key>devname</key>
            <string>cpcdigiblst</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ap2000</string>
            <key>description</key>
            <string>Epson ActionPrinter 2000</string>
            <key>devname</key>
            <string>ap2000</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ex800</string>
            <key>description</key>
            <string>Epson EX-800</string>
            <key>devname</key>
            <string>ex800</string>
          </dict>
          <dict>
            <key>value</key>
            <string>lx800</string>
            <key>description</key>
            <string>Epson LX-800</string>
            <key>devname</key>
            <string>lx800</string>
          </dict>
          <dict>
            <key>value</key>
            <string>lx810l</string>
            <key>description</key>
            <string>Epson LX-810L</string>
            <key>devname</key>
            <string>lx810l</string>
          </dict>
          <dict>
            <key>value</key>
            <string>p72</string>
            <key>description</key>
            <string>NEC PinWriter P72</string>
            <key>devname</key>
            <string>p72</string>
          </dict>
          <dict>
            <key>value</key>
            <string>samdac</string>
            <key>description</key>
            <string>SAMDAC</string>
            <key>devname</key>
            <string>centronics_samdac</string>
          </dict>
          <dict>
            <key>value</key>
            <string>nlq401</string>
            <key>description</key>
            <string>Schneider NLQ 401 Matrix Printer</string>
            <key>devname</key>
            <string>nlq401</string>
          </dict>
          <dict>
            <key>value</key>
            <string>chessmec</string>
            <key>description</key>
            <string>Tasc ChessMachine EC Interface</string>
            <key>devname</key>
            <string>centronics_chessmec</string>
          </dict>
          <dict>
            <key>value</key>
            <string>smartboard</string>
            <key>description</key>
            <string>Tasc SmartBoard SB30 Interface</string>
            <key>devname</key>
            <string>centronics_smartboard</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>kbd</string>
        <key>description</key>
        <string>Keyboard</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>a1000_dk</string>
            <key>description</key>
            <string>Amiga 1000 Keyboard (Denmark)</string>
            <key>devname</key>
            <string>a1000kbd_dk</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a1000_fr</string>
            <key>description</key>
            <string>Amiga 1000 Keyboard (France/Belgium)</string>
            <key>devname</key>
            <string>a1000kbd_fr</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a1000_de</string>
            <key>description</key>
            <string>Amiga 1000 Keyboard (Germany/Austria)</string>
            <key>devname</key>
            <string>a1000kbd_de</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a1000_it</string>
            <key>description</key>
            <string>Amiga 1000 Keyboard (Italy)</string>
            <key>devname</key>
            <string>a1000kbd_it</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a1000_se</string>
            <key>description</key>
            <string>Amiga 1000 Keyboard (Sweden/Finland)</string>
            <key>devname</key>
            <string>a1000kbd_se</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a1000_us</string>
            <key>description</key>
            <string>Amiga 1000 Keyboard (U.S./Canada)</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>a1000kbd_us</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a1000_gb</string>
            <key>description</key>
            <string>Amiga 1000 Keyboard (UK)</string>
            <key>devname</key>
            <string>a1000kbd_gb</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a1200_us</string>
            <key>description</key>
            <string>Amiga 1200 Keyboard Rev B</string>
            <key>devname</key>
            <string>a1200kbd_rb</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_g80_dk</string>
            <key>description</key>
            <string>Amiga 2000 Keyboard (Cherry - Denmark)</string>
            <key>devname</key>
            <string>a2000kbd_g80_dk</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_g80_de</string>
            <key>description</key>
            <string>Amiga 2000 Keyboard (Cherry - Germany/Austria)</string>
            <key>devname</key>
            <string>a2000kbd_g80_de</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_g80_se</string>
            <key>description</key>
            <string>Amiga 2000 Keyboard (Cherry - Sweden/Finland)</string>
            <key>devname</key>
            <string>a2000kbd_g80_se</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_g80_us</string>
            <key>description</key>
            <string>Amiga 2000 Keyboard (Cherry - U.S./Canada)</string>
            <key>devname</key>
            <string>a2000kbd_g80_us</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_g80_gb</string>
            <key>description</key>
            <string>Amiga 2000 Keyboard (Cherry - UK)</string>
            <key>devname</key>
            <string>a2000kbd_g80_gb</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_dk</string>
            <key>description</key>
            <string>Amiga 2000/3000/4000 Keyboard (Denmark)</string>
            <key>devname</key>
            <string>a2000kbd_dk</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_fr</string>
            <key>description</key>
            <string>Amiga 2000/3000/4000 Keyboard (France/Belgium)</string>
            <key>devname</key>
            <string>a2000kbd_fr</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_de</string>
            <key>description</key>
            <string>Amiga 2000/3000/4000 Keyboard (Germany/Austria)</string>
            <key>devname</key>
            <string>a2000kbd_de</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_it</string>
            <key>description</key>
            <string>Amiga 2000/3000/4000 Keyboard (Italy)</string>
            <key>devname</key>
            <string>a2000kbd_it</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_no</string>
            <key>description</key>
            <string>Amiga 2000/3000/4000 Keyboard (Norway)</string>
            <key>devname</key>
            <string>a2000kbd_no</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_es</string>
            <key>description</key>
            <string>Amiga 2000/3000/4000 Keyboard (Spain)</string>
            <key>devname</key>
            <string>a2000kbd_es</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_se</string>
            <key>description</key>
            <string>Amiga 2000/3000/4000 Keyboard (Sweden/Finland)</string>
            <key>devname</key>
            <string>a2000kbd_se</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_ch</string>
            <key>description</key>
            <string>Amiga 2000/3000/4000 Keyboard (Switzerland)</string>
            <key>devname</key>
            <string>a2000kbd_ch</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_us</string>
            <key>description</key>
            <string>Amiga 2000/3000/4000 Keyboard (U.S./Canada)</string>
            <key>devname</key>
            <string>a2000kbd_us</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a2000_gb</string>
            <key>description</key>
            <string>Amiga 2000/3000/4000 Keyboard (UK)</string>
            <key>devname</key>
            <string>a2000kbd_gb</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>fdc:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>35dd</string>
                <key>description</key>
                <string>3.5" DD</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>fdc:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>35dd</string>
                <key>description</key>
                <string>3.5" DD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>fdc:2</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>35dd</string>
                <key>description</key>
                <string>3.5" DD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>fdc:3</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>35dd</string>
                <key>description</key>
                <string>3.5" DD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>rs232_patch_box</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:dce</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>ie15</string>
                <key>description</key>
                <string>IE15 Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>scorpion</string>
                <key>description</key>
                <string>Micro-Robotics Scorpion Intelligent Controller</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>msystems_mouse</string>
                <key>description</key>
                <string>Mouse Systems Non-rotatable Mouse (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>nss_tvi</string>
                <key>description</key>
                <string>Novag Super System TV Interface</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>pty</string>
                <key>description</key>
                <string>Pseudo Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>rs_printer</string>
                <key>description</key>
                <string>Radio Shack Serial Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>loopback</string>
                <key>description</key>
                <string>RS-232 Loopback</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>dec_loopback</string>
                <key>description</key>
                <string>RS-232 Loopback (DEC 12-15336-00)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>null_modem</string>
                <key>description</key>
                <string>RS-232 Null Modem</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>patch</string>
                <key>description</key>
                <string>RS-232 Patch Box</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>rs232_sync_io</string>
                <key>description</key>
                <string>RS-232 Synchronous I/O</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>keyboard</string>
                <key>description</key>
                <string>Serial Keyboard</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>printer</string>
                <key>description</key>
                <string>Serial Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>terminal</string>
                <key>description</key>
                <string>Serial Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>sunkbd</string>
                <key>description</key>
                <string>Sun Keyboard Adaptor</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>mockingboard</string>
                <key>description</key>
                <string>Sweet Micro Systems Mockingboard D</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>swtpc8212</string>
                <key>description</key>
                <string>SWTPC8212 Terminal</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>scorpion_ic</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>bios</string>
            <key>description</key>
            <string>ROM</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—Default—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>61203</string>
                <key>description</key>
                <string>Version 61203 (3rd Dec 1986)</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sunkbd_adaptor</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:keyboard</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>type3hle</string>
                <key>description</key>
                <string>Sun Type 3 Keyboard (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type4hle</string>
                <key>description</key>
                <string>Sun Type 4 Keyboard (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5gbhle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Great Britain - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5jphle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Japan - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5sehle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Sweden - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5hle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (U.S.A. - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
      <string>amiga_workbench.xml</string>
      <string>amiga_hardware.xml</string>
      <string>amiga_apps.xml</string>
      <string>amiga_flop.xml</string>
      <string>amigaocs_flop.xml</string>
      <string>amiga_demos.xml</string>
      <string>amiga_a1000.xml</string>
    </array>
  </dict>
</plist>
