<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>agat9</string>
    <key>description</key>
    <string>Agat-9</string>
    <key>media</key>
    <dict>
      <key>cass</key>
      <integer>1</integer>
    </dict>
    <key>resolution</key>
    <array>
      <integer>512</integer>
      <integer>512</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>ramsize</string>
        <key>description</key>
        <string>RAM</string>
        <key>options</key>
        <array>
          <dict>
            <key>intValue</key>
            <integer>131072</integer>
            <key>description</key>
            <string>128K</string>
            <key>value</key>
            <string>128K</string>
            <key>default</key>
            <true/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl1</string>
        <key>description</key>
        <string>Slot 1</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdchle</string>
            <key>description</key>
            <string>Agat 840K floppy card</string>
            <key>devname</key>
            <string>agat840k_hle</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc</string>
            <key>description</key>
            <string>Agat 840K floppy controller card</string>
            <key>devname</key>
            <string>agat_fdc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a7ports</string>
            <key>description</key>
            <string>Agat-7 Ports Card</string>
            <key>devname</key>
            <string>a7ports</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc140</string>
            <key>description</key>
            <string>Agat-9 140K floppy card</string>
            <key>devname</key>
            <string>agat9_flop</string>
            <key>media</key>
            <dict>
              <key>floppy_5_25</key>
              <integer>2</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>diskii</string>
            <key>description</key>
            <string>Apple Disk II controller</string>
            <key>devname</key>
            <string>a2diskii</string>
            <key>media</key>
            <dict>
              <key>floppy_5_25</key>
              <integer>2</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>nclock</string>
            <key>description</key>
            <string>Nippel Clock</string>
            <key>devname</key>
            <string>nclock</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl2</string>
        <key>description</key>
        <string>Slot 2</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdchle</string>
            <key>description</key>
            <string>Agat 840K floppy card</string>
            <key>devname</key>
            <string>agat840k_hle</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc</string>
            <key>description</key>
            <string>Agat 840K floppy controller card</string>
            <key>devname</key>
            <string>agat_fdc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a7ports</string>
            <key>description</key>
            <string>Agat-7 Ports Card</string>
            <key>devname</key>
            <string>a7ports</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc140</string>
            <key>description</key>
            <string>Agat-9 140K floppy card</string>
            <key>devname</key>
            <string>agat9_flop</string>
            <key>media</key>
            <dict>
              <key>floppy_5_25</key>
              <integer>2</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>diskii</string>
            <key>description</key>
            <string>Apple Disk II controller</string>
            <key>devname</key>
            <string>a2diskii</string>
            <key>media</key>
            <dict>
              <key>floppy_5_25</key>
              <integer>2</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>nclock</string>
            <key>description</key>
            <string>Nippel Clock</string>
            <key>devname</key>
            <string>nclock</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl3</string>
        <key>description</key>
        <string>Slot 3</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdchle</string>
            <key>description</key>
            <string>Agat 840K floppy card</string>
            <key>devname</key>
            <string>agat840k_hle</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc</string>
            <key>description</key>
            <string>Agat 840K floppy controller card</string>
            <key>devname</key>
            <string>agat_fdc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a7ports</string>
            <key>description</key>
            <string>Agat-7 Ports Card</string>
            <key>devname</key>
            <string>a7ports</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc140</string>
            <key>description</key>
            <string>Agat-9 140K floppy card</string>
            <key>devname</key>
            <string>agat9_flop</string>
            <key>media</key>
            <dict>
              <key>floppy_5_25</key>
              <integer>2</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>diskii</string>
            <key>description</key>
            <string>Apple Disk II controller</string>
            <key>devname</key>
            <string>a2diskii</string>
            <key>media</key>
            <dict>
              <key>floppy_5_25</key>
              <integer>2</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>nclock</string>
            <key>description</key>
            <string>Nippel Clock</string>
            <key>devname</key>
            <string>nclock</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl4</string>
        <key>description</key>
        <string>Slot 4</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdchle</string>
            <key>description</key>
            <string>Agat 840K floppy card</string>
            <key>devname</key>
            <string>agat840k_hle</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc</string>
            <key>description</key>
            <string>Agat 840K floppy controller card</string>
            <key>devname</key>
            <string>agat_fdc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a7ports</string>
            <key>description</key>
            <string>Agat-7 Ports Card</string>
            <key>devname</key>
            <string>a7ports</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc140</string>
            <key>description</key>
            <string>Agat-9 140K floppy card</string>
            <key>devname</key>
            <string>agat9_flop</string>
            <key>media</key>
            <dict>
              <key>floppy_5_25</key>
              <integer>2</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>diskii</string>
            <key>description</key>
            <string>Apple Disk II controller</string>
            <key>devname</key>
            <string>a2diskii</string>
            <key>media</key>
            <dict>
              <key>floppy_5_25</key>
              <integer>2</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>nclock</string>
            <key>description</key>
            <string>Nippel Clock</string>
            <key>devname</key>
            <string>nclock</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl5</string>
        <key>description</key>
        <string>Slot 5</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdchle</string>
            <key>description</key>
            <string>Agat 840K floppy card</string>
            <key>devname</key>
            <string>agat840k_hle</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc</string>
            <key>description</key>
            <string>Agat 840K floppy controller card</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>agat_fdc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a7ports</string>
            <key>description</key>
            <string>Agat-7 Ports Card</string>
            <key>devname</key>
            <string>a7ports</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc140</string>
            <key>description</key>
            <string>Agat-9 140K floppy card</string>
            <key>devname</key>
            <string>agat9_flop</string>
            <key>media</key>
            <dict>
              <key>floppy_5_25</key>
              <integer>2</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>diskii</string>
            <key>description</key>
            <string>Apple Disk II controller</string>
            <key>devname</key>
            <string>a2diskii</string>
            <key>media</key>
            <dict>
              <key>floppy_5_25</key>
              <integer>2</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>nclock</string>
            <key>description</key>
            <string>Nippel Clock</string>
            <key>devname</key>
            <string>nclock</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl6</string>
        <key>description</key>
        <string>Slot 6</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdchle</string>
            <key>description</key>
            <string>Agat 840K floppy card</string>
            <key>devname</key>
            <string>agat840k_hle</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc</string>
            <key>description</key>
            <string>Agat 840K floppy controller card</string>
            <key>devname</key>
            <string>agat_fdc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a7ports</string>
            <key>description</key>
            <string>Agat-7 Ports Card</string>
            <key>devname</key>
            <string>a7ports</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc140</string>
            <key>description</key>
            <string>Agat-9 140K floppy card</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>agat9_flop</string>
            <key>media</key>
            <dict>
              <key>floppy_5_25</key>
              <integer>2</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>diskii</string>
            <key>description</key>
            <string>Apple Disk II controller</string>
            <key>devname</key>
            <string>a2diskii</string>
            <key>media</key>
            <dict>
              <key>floppy_5_25</key>
              <integer>2</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>nclock</string>
            <key>description</key>
            <string>Nippel Clock</string>
            <key>devname</key>
            <string>nclock</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>a7ports</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:centronics</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>printer</string>
                <key>description</key>
                <string>Centronics Printer</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>pl80</string>
                <key>description</key>
                <string>COMX PL-80</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>covox_stereo</string>
                <key>description</key>
                <string>Covox (Stereo-in-1)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>covox</string>
                <key>description</key>
                <string>Covox Speech Thing</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>ap2000</string>
                <key>description</key>
                <string>Epson ActionPrinter 2000</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>ex800</string>
                <key>description</key>
                <string>Epson EX-800</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>lx800</string>
                <key>description</key>
                <string>Epson LX-800</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>lx810l</string>
                <key>description</key>
                <string>Espon LX-810L</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>p72</string>
                <key>description</key>
                <string>NEC PinWriter P72</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>samdac</string>
                <key>description</key>
                <string>SAMDAC</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>chessmec</string>
                <key>description</key>
                <string>Tasc ChessMachine EC Interface</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>smartboard</string>
                <key>description</key>
                <string>Tasc SmartBoard SB30 Interface</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>agat_fdc</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>525dsqd</string>
                <key>description</key>
                <string>5.25" quad density floppy drive</string>
                <key>default</key>
                <true/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>525dsqd</string>
                <key>description</key>
                <string>5.25" quad density floppy drive</string>
                <key>default</key>
                <true/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
    </array>
  </dict>
</plist>
