<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>agat9</string>
    <key>description</key>
    <string>Agat-9</string>
    <key>media</key>
    <dict>
      <key>cass</key>
      <integer>1</integer>
    </dict>
    <key>resolution</key>
    <array>
      <integer>512</integer>
      <integer>256</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>ramsize</string>
        <key>description</key>
        <string>RAM</string>
        <key>options</key>
        <array>
          <dict>
            <key>intValue</key>
            <integer>131072</integer>
            <key>description</key>
            <string>128K</string>
            <key>value</key>
            <string>128K</string>
            <key>default</key>
            <true/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>bios</string>
        <key>description</key>
        <string>ROM</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—Default—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>v1</string>
            <key>description</key>
            <string>Version 1</string>
          </dict>
          <dict>
            <key>value</key>
            <string>v2</string>
            <key>description</key>
            <string>Version 2</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl1</string>
        <key>description</key>
        <string>Slot 1</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdchle</string>
            <key>description</key>
            <string>Agat 840K Floppy Card</string>
            <key>devname</key>
            <string>agat840k_hle</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc</string>
            <key>description</key>
            <string>Agat 840K Floppy Controller Card</string>
            <key>devname</key>
            <string>agat_fdc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a7ports</string>
            <key>description</key>
            <string>Agat-7 Ports Card</string>
            <key>devname</key>
            <string>a7ports</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc140</string>
            <key>description</key>
            <string>Agat-9 140K Floppy Card</string>
            <key>devname</key>
            <string>agat9_flop</string>
          </dict>
          <dict>
            <key>value</key>
            <string>diskiing</string>
            <key>description</key>
            <string>Apple Disk II NG Controller (16-sector)</string>
            <key>devname</key>
            <string>a2diskiing</string>
          </dict>
          <dict>
            <key>value</key>
            <string>nclock</string>
            <key>description</key>
            <string>Nippel Clock</string>
            <key>devname</key>
            <string>nclock</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl2</string>
        <key>description</key>
        <string>Slot 2</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdchle</string>
            <key>description</key>
            <string>Agat 840K Floppy Card</string>
            <key>devname</key>
            <string>agat840k_hle</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc</string>
            <key>description</key>
            <string>Agat 840K Floppy Controller Card</string>
            <key>devname</key>
            <string>agat_fdc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a7ports</string>
            <key>description</key>
            <string>Agat-7 Ports Card</string>
            <key>devname</key>
            <string>a7ports</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc140</string>
            <key>description</key>
            <string>Agat-9 140K Floppy Card</string>
            <key>devname</key>
            <string>agat9_flop</string>
          </dict>
          <dict>
            <key>value</key>
            <string>diskiing</string>
            <key>description</key>
            <string>Apple Disk II NG Controller (16-sector)</string>
            <key>devname</key>
            <string>a2diskiing</string>
          </dict>
          <dict>
            <key>value</key>
            <string>nclock</string>
            <key>description</key>
            <string>Nippel Clock</string>
            <key>devname</key>
            <string>nclock</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl3</string>
        <key>description</key>
        <string>Slot 3</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdchle</string>
            <key>description</key>
            <string>Agat 840K Floppy Card</string>
            <key>devname</key>
            <string>agat840k_hle</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc</string>
            <key>description</key>
            <string>Agat 840K Floppy Controller Card</string>
            <key>devname</key>
            <string>agat_fdc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a7ports</string>
            <key>description</key>
            <string>Agat-7 Ports Card</string>
            <key>devname</key>
            <string>a7ports</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc140</string>
            <key>description</key>
            <string>Agat-9 140K Floppy Card</string>
            <key>devname</key>
            <string>agat9_flop</string>
          </dict>
          <dict>
            <key>value</key>
            <string>diskiing</string>
            <key>description</key>
            <string>Apple Disk II NG Controller (16-sector)</string>
            <key>devname</key>
            <string>a2diskiing</string>
          </dict>
          <dict>
            <key>value</key>
            <string>nclock</string>
            <key>description</key>
            <string>Nippel Clock</string>
            <key>devname</key>
            <string>nclock</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl4</string>
        <key>description</key>
        <string>Slot 4</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdchle</string>
            <key>description</key>
            <string>Agat 840K Floppy Card</string>
            <key>devname</key>
            <string>agat840k_hle</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc</string>
            <key>description</key>
            <string>Agat 840K Floppy Controller Card</string>
            <key>devname</key>
            <string>agat_fdc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a7ports</string>
            <key>description</key>
            <string>Agat-7 Ports Card</string>
            <key>devname</key>
            <string>a7ports</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc140</string>
            <key>description</key>
            <string>Agat-9 140K Floppy Card</string>
            <key>devname</key>
            <string>agat9_flop</string>
          </dict>
          <dict>
            <key>value</key>
            <string>diskiing</string>
            <key>description</key>
            <string>Apple Disk II NG Controller (16-sector)</string>
            <key>devname</key>
            <string>a2diskiing</string>
          </dict>
          <dict>
            <key>value</key>
            <string>nclock</string>
            <key>description</key>
            <string>Nippel Clock</string>
            <key>devname</key>
            <string>nclock</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl5</string>
        <key>description</key>
        <string>Slot 5</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdchle</string>
            <key>description</key>
            <string>Agat 840K Floppy Card</string>
            <key>devname</key>
            <string>agat840k_hle</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc</string>
            <key>description</key>
            <string>Agat 840K Floppy Controller Card</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>agat_fdc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a7ports</string>
            <key>description</key>
            <string>Agat-7 Ports Card</string>
            <key>devname</key>
            <string>a7ports</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc140</string>
            <key>description</key>
            <string>Agat-9 140K Floppy Card</string>
            <key>devname</key>
            <string>agat9_flop</string>
          </dict>
          <dict>
            <key>value</key>
            <string>diskiing</string>
            <key>description</key>
            <string>Apple Disk II NG Controller (16-sector)</string>
            <key>devname</key>
            <string>a2diskiing</string>
          </dict>
          <dict>
            <key>value</key>
            <string>nclock</string>
            <key>description</key>
            <string>Nippel Clock</string>
            <key>devname</key>
            <string>nclock</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl6</string>
        <key>description</key>
        <string>Slot 6</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdchle</string>
            <key>description</key>
            <string>Agat 840K Floppy Card</string>
            <key>devname</key>
            <string>agat840k_hle</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc</string>
            <key>description</key>
            <string>Agat 840K Floppy Controller Card</string>
            <key>devname</key>
            <string>agat_fdc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a7ports</string>
            <key>description</key>
            <string>Agat-7 Ports Card</string>
            <key>devname</key>
            <string>a7ports</string>
          </dict>
          <dict>
            <key>value</key>
            <string>a9fdc140</string>
            <key>description</key>
            <string>Agat-9 140K Floppy Card</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>agat9_flop</string>
          </dict>
          <dict>
            <key>value</key>
            <string>diskiing</string>
            <key>description</key>
            <string>Apple Disk II NG Controller (16-sector)</string>
            <key>devname</key>
            <string>a2diskiing</string>
          </dict>
          <dict>
            <key>value</key>
            <string>nclock</string>
            <key>description</key>
            <string>Nippel Clock</string>
            <key>devname</key>
            <string>nclock</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>a2diskiing</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>525</string>
                <key>description</key>
                <string>5.25"</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_5_25</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>525</string>
                <key>description</key>
                <string>5.25"</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_5_25</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>a7ports</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:centronics</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>printer</string>
                <key>description</key>
                <string>Centronics Printer</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>pl80</string>
                <key>description</key>
                <string>COMX PL-80</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>covox_stereo</string>
                <key>description</key>
                <string>Covox (Stereo-in-1)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>covox</string>
                <key>description</key>
                <string>Covox Speech Thing</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>digiblst</string>
                <key>description</key>
                <string>Digiblaster (DIY)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>ap2000</string>
                <key>description</key>
                <string>Epson ActionPrinter 2000</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>ex800</string>
                <key>description</key>
                <string>Epson EX-800</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>fx80</string>
                <key>description</key>
                <string>Epson FX-80</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>jx80</string>
                <key>description</key>
                <string>Epson JX-80</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>lx800</string>
                <key>description</key>
                <string>Epson LX-800</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>lx810l</string>
                <key>description</key>
                <string>Epson LX-810L</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>rx80</string>
                <key>description</key>
                <string>Epson RX-80</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>p72</string>
                <key>description</key>
                <string>NEC PinWriter P72</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>samdac</string>
                <key>description</key>
                <string>SAMDAC</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>nlq401</string>
                <key>description</key>
                <string>Schneider NLQ 401 Matrix Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>chessmec</string>
                <key>description</key>
                <string>Tasc ChessMachine EC Interface</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>smartboard</string>
                <key>description</key>
                <string>Tasc SmartBoard SB30 Interface</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>adaptator</string>
                <key>description</key>
                <string>The Adaptator 2x DE-9 Multitap</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>adaptator_multitap</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:joy_p1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>joy</string>
                <key>description</key>
                <string>Atari / CBM Digital joystick</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>wheel</string>
                <key>description</key>
                <string>Atari / CBM Driving Wheel</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>pad</string>
                <key>description</key>
                <string>Atari / CBM Dual paddles</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>keypad</string>
                <key>description</key>
                <string>Atari / CBM Keypad</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>lp</string>
                <key>description</key>
                <string>Atari / CBM Light Pen</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>mouse</string>
                <key>description</key>
                <string>Atari / CBM Mouse</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>trakball</string>
                <key>description</key>
                <string>Atari CX22/CX80 Trak-Ball</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cx85</string>
                <key>description</key>
                <string>Atari CX85 Numeric Keypad</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>joybstr</string>
                <key>description</key>
                <string>CBS Electronics Booster-Grip Joystick Adaptor</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:joy_p2</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>joy</string>
                <key>description</key>
                <string>Atari / CBM Digital joystick</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>wheel</string>
                <key>description</key>
                <string>Atari / CBM Driving Wheel</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>pad</string>
                <key>description</key>
                <string>Atari / CBM Dual paddles</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>keypad</string>
                <key>description</key>
                <string>Atari / CBM Keypad</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>lp</string>
                <key>description</key>
                <string>Atari / CBM Light Pen</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>mouse</string>
                <key>description</key>
                <string>Atari / CBM Mouse</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>trakball</string>
                <key>description</key>
                <string>Atari CX22/CX80 Trak-Ball</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cx85</string>
                <key>description</key>
                <string>Atari CX85 Numeric Keypad</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>joybstr</string>
                <key>description</key>
                <string>CBS Electronics Booster-Grip Joystick Adaptor</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>agat9_flop</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>525</string>
                <key>description</key>
                <string>5.25"</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_5_25</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>525</string>
                <key>description</key>
                <string>5.25"</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_5_25</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>agat_fdc</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>525dsqd</string>
                <key>description</key>
                <string>5.25" quad density floppy drive</string>
                <key>default</key>
                <true/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>525dsqd</string>
                <key>description</key>
                <string>5.25" quad density floppy drive</string>
                <key>default</key>
                <true/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
    </array>
  </dict>
</plist>
