<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>apple3</string>
    <key>description</key>
    <string>Apple ///</string>
    <key>media</key>
    <dict>
    </dict>
    <key>resolution</key>
    <array>
      <integer>560</integer>
      <integer>384</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>ramsize</string>
        <key>description</key>
        <string>RAM</string>
        <key>options</key>
        <array>
          <dict>
            <key>intValue</key>
            <integer>131072</integer>
            <key>description</key>
            <string>128K</string>
            <key>value</key>
            <string>128K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>262144</integer>
            <key>description</key>
            <string>256K</string>
            <key>value</key>
            <string>256K</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>524288</integer>
            <key>description</key>
            <string>512K</string>
            <key>value</key>
            <string>512K</string>
            <key>default</key>
            <false/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>description</key>
        <string>Disk Drives</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string></string>
            <key>devname</key>
            <string>smartport</string>
            <key>default</key>
            <true/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl1</string>
        <key>description</key>
        <string>Slot 1</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>mouse</string>
            <key>description</key>
            <string>Apple II Mouse Card</string>
            <key>devname</key>
            <string>a2mouse</string>
          </dict>
          <dict>
            <key>value</key>
            <string>cffa2</string>
            <key>description</key>
            <string>CFFA 2.0 Compact Flash (6502 firmware, www.dreher.net)</string>
            <key>devname</key>
            <string>a2cffa02</string>
          </dict>
          <dict>
            <key>value</key>
            <string>cmsscsi</string>
            <key>description</key>
            <string>CMS SCSI II Card</string>
            <key>disabled</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>grafex</string>
            <key>description</key>
            <string>Grafex-32</string>
            <key>devname</key>
            <string>a2grafex</string>
          </dict>
          <dict>
            <key>value</key>
            <string>softcard3</string>
            <key>description</key>
            <string>Microsoft SoftCard ///</string>
            <key>devname</key>
            <string>softcard3</string>
          </dict>
          <dict>
            <key>value</key>
            <string>focusdrive</string>
            <key>description</key>
            <string>Parsons Engineering Focus Drive</string>
            <key>disabled</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>applicard</string>
            <key>description</key>
            <string>PCPI Applicard</string>
            <key>devname</key>
            <string>a2aplcrd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mockingboard</string>
            <key>description</key>
            <string>Sweet Micro Systems Mockingboard Sound/Speech I</string>
            <key>devname</key>
            <string>a2mockbd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>thclock</string>
            <key>description</key>
            <string>ThunderWare ThunderClock Plus</string>
            <key>devname</key>
            <string>a2thunpl</string>
          </dict>
          <dict>
            <key>value</key>
            <string>titan3plus2</string>
            <key>description</key>
            <string>Titan /// Plus //</string>
            <key>devname</key>
            <string>titan3p2</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl2</string>
        <key>description</key>
        <string>Slot 2</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>mouse</string>
            <key>description</key>
            <string>Apple II Mouse Card</string>
            <key>devname</key>
            <string>a2mouse</string>
          </dict>
          <dict>
            <key>value</key>
            <string>cffa2</string>
            <key>description</key>
            <string>CFFA 2.0 Compact Flash (6502 firmware, www.dreher.net)</string>
            <key>devname</key>
            <string>a2cffa02</string>
          </dict>
          <dict>
            <key>value</key>
            <string>cmsscsi</string>
            <key>description</key>
            <string>CMS SCSI II Card</string>
            <key>disabled</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>grafex</string>
            <key>description</key>
            <string>Grafex-32</string>
            <key>devname</key>
            <string>a2grafex</string>
          </dict>
          <dict>
            <key>value</key>
            <string>softcard3</string>
            <key>description</key>
            <string>Microsoft SoftCard ///</string>
            <key>devname</key>
            <string>softcard3</string>
          </dict>
          <dict>
            <key>value</key>
            <string>focusdrive</string>
            <key>description</key>
            <string>Parsons Engineering Focus Drive</string>
            <key>disabled</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>applicard</string>
            <key>description</key>
            <string>PCPI Applicard</string>
            <key>devname</key>
            <string>a2aplcrd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mockingboard</string>
            <key>description</key>
            <string>Sweet Micro Systems Mockingboard Sound/Speech I</string>
            <key>devname</key>
            <string>a2mockbd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>thclock</string>
            <key>description</key>
            <string>ThunderWare ThunderClock Plus</string>
            <key>devname</key>
            <string>a2thunpl</string>
          </dict>
          <dict>
            <key>value</key>
            <string>titan3plus2</string>
            <key>description</key>
            <string>Titan /// Plus //</string>
            <key>devname</key>
            <string>titan3p2</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl3</string>
        <key>description</key>
        <string>Slot 3</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>mouse</string>
            <key>description</key>
            <string>Apple II Mouse Card</string>
            <key>devname</key>
            <string>a2mouse</string>
          </dict>
          <dict>
            <key>value</key>
            <string>cffa2</string>
            <key>description</key>
            <string>CFFA 2.0 Compact Flash (6502 firmware, www.dreher.net)</string>
            <key>devname</key>
            <string>a2cffa02</string>
          </dict>
          <dict>
            <key>value</key>
            <string>cmsscsi</string>
            <key>description</key>
            <string>CMS SCSI II Card</string>
            <key>disabled</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>grafex</string>
            <key>description</key>
            <string>Grafex-32</string>
            <key>devname</key>
            <string>a2grafex</string>
          </dict>
          <dict>
            <key>value</key>
            <string>softcard3</string>
            <key>description</key>
            <string>Microsoft SoftCard ///</string>
            <key>devname</key>
            <string>softcard3</string>
          </dict>
          <dict>
            <key>value</key>
            <string>focusdrive</string>
            <key>description</key>
            <string>Parsons Engineering Focus Drive</string>
            <key>disabled</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>applicard</string>
            <key>description</key>
            <string>PCPI Applicard</string>
            <key>devname</key>
            <string>a2aplcrd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mockingboard</string>
            <key>description</key>
            <string>Sweet Micro Systems Mockingboard Sound/Speech I</string>
            <key>devname</key>
            <string>a2mockbd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>thclock</string>
            <key>description</key>
            <string>ThunderWare ThunderClock Plus</string>
            <key>devname</key>
            <string>a2thunpl</string>
          </dict>
          <dict>
            <key>value</key>
            <string>titan3plus2</string>
            <key>description</key>
            <string>Titan /// Plus //</string>
            <key>devname</key>
            <string>titan3p2</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl4</string>
        <key>description</key>
        <string>Slot 4</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>mouse</string>
            <key>description</key>
            <string>Apple II Mouse Card</string>
            <key>devname</key>
            <string>a2mouse</string>
          </dict>
          <dict>
            <key>value</key>
            <string>cffa2</string>
            <key>description</key>
            <string>CFFA 2.0 Compact Flash (6502 firmware, www.dreher.net)</string>
            <key>devname</key>
            <string>a2cffa02</string>
          </dict>
          <dict>
            <key>value</key>
            <string>cmsscsi</string>
            <key>description</key>
            <string>CMS SCSI II Card</string>
            <key>disabled</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>grafex</string>
            <key>description</key>
            <string>Grafex-32</string>
            <key>devname</key>
            <string>a2grafex</string>
          </dict>
          <dict>
            <key>value</key>
            <string>softcard3</string>
            <key>description</key>
            <string>Microsoft SoftCard ///</string>
            <key>devname</key>
            <string>softcard3</string>
          </dict>
          <dict>
            <key>value</key>
            <string>focusdrive</string>
            <key>description</key>
            <string>Parsons Engineering Focus Drive</string>
            <key>disabled</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>applicard</string>
            <key>description</key>
            <string>PCPI Applicard</string>
            <key>devname</key>
            <string>a2aplcrd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mockingboard</string>
            <key>description</key>
            <string>Sweet Micro Systems Mockingboard Sound/Speech I</string>
            <key>devname</key>
            <string>a2mockbd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>thclock</string>
            <key>description</key>
            <string>ThunderWare ThunderClock Plus</string>
            <key>devname</key>
            <string>a2thunpl</string>
          </dict>
          <dict>
            <key>value</key>
            <string>titan3plus2</string>
            <key>description</key>
            <string>Titan /// Plus //</string>
            <key>devname</key>
            <string>titan3p2</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>rs232</string>
        <key>description</key>
        <string>RS232</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>ie15</string>
            <key>description</key>
            <string>IE15 Terminal</string>
            <key>devname</key>
            <string>ie15_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>pty</string>
            <key>description</key>
            <string>Pseudo terminal</string>
            <key>devname</key>
            <string>pseudo_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>rs_printer</string>
            <key>description</key>
            <string>Radio Shack Serial Printer</string>
            <key>devname</key>
            <string>rs_serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>patch</string>
            <key>description</key>
            <string>RS-232 Patch Box</string>
            <key>devname</key>
            <string>rs232_patch_box</string>
          </dict>
          <dict>
            <key>value</key>
            <string>loopback</string>
            <key>description</key>
            <string>RS232 Loopback</string>
            <key>devname</key>
            <string>rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>dec_loopback</string>
            <key>description</key>
            <string>RS232 Loopback (DEC 12-15336-00)</string>
            <key>devname</key>
            <string>dec_rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>null_modem</string>
            <key>description</key>
            <string>RS232 Null Modem</string>
            <key>devname</key>
            <string>null_modem</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>rs232_sync_io</string>
            <key>description</key>
            <string>RS232 Synchronous I/O</string>
            <key>devname</key>
            <string>rs232_sync_io</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>keyboard</string>
            <key>description</key>
            <string>Serial Keyboard</string>
            <key>devname</key>
            <string>serial_keyboard</string>
          </dict>
          <dict>
            <key>value</key>
            <string>printer</string>
            <key>description</key>
            <string>Serial Printer</string>
            <key>devname</key>
            <string>serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>terminal</string>
            <key>description</key>
            <string>Serial Terminal</string>
            <key>devname</key>
            <string>serial_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>sunkbd</string>
            <key>description</key>
            <string>Sun Keyboard Adaptor</string>
            <key>devname</key>
            <string>sunkbd_adaptor</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mockingboard</string>
            <key>description</key>
            <string>Sweet Micro Systems Mockingboard D</string>
            <key>devname</key>
            <string>mockingboardd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>swtpc8212</string>
            <key>description</key>
            <string>SWTPC8212 Terminal</string>
            <key>devname</key>
            <string>swtpc8212_terminal</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>525</string>
                <key>description</key>
                <string>5.25"</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_5_25</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>525</string>
                <key>description</key>
                <string>5.25"</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_5_25</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>2</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>525</string>
                <key>description</key>
                <string>5.25"</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_5_25</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>3</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>525</string>
                <key>description</key>
                <string>5.25"</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_5_25</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>a2cffa02</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:cffa2_ata:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>hdd</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:cffa2_ata:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>hdd</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>a2focdrv</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:zipdrive_ata:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>hdd</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:zipdrive_ata:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>hdd</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>cmsscsi</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:scsibus:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:scsibus:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:scsibus:2</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:scsibus:3</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:scsibus:4</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:scsibus:5</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:scsibus:6</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>rs232_patch_box</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:dce</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>ie15</string>
                <key>description</key>
                <string>IE15 Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>pty</string>
                <key>description</key>
                <string>Pseudo terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>rs_printer</string>
                <key>description</key>
                <string>Radio Shack Serial Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>patch</string>
                <key>description</key>
                <string>RS-232 Patch Box</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>loopback</string>
                <key>description</key>
                <string>RS232 Loopback</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>dec_loopback</string>
                <key>description</key>
                <string>RS232 Loopback (DEC 12-15336-00)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>null_modem</string>
                <key>description</key>
                <string>RS232 Null Modem</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>rs232_sync_io</string>
                <key>description</key>
                <string>RS232 Synchronous I/O</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>keyboard</string>
                <key>description</key>
                <string>Serial Keyboard</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>printer</string>
                <key>description</key>
                <string>Serial Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>terminal</string>
                <key>description</key>
                <string>Serial Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>sunkbd</string>
                <key>description</key>
                <string>Sun Keyboard Adaptor</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>mockingboard</string>
                <key>description</key>
                <string>Sweet Micro Systems Mockingboard D</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>swtpc8212</string>
                <key>description</key>
                <string>SWTPC8212 Terminal</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sunkbd_adaptor</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:keyboard</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>type3hle</string>
                <key>description</key>
                <string>Sun Type 3 Keyboard (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type4hle</string>
                <key>description</key>
                <string>Sun Type 4 Keyboard (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5gbhle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Great Britain - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5jphle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Japan - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5sehle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Sweden - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5hle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (U.S.A. - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>titan3p2</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:gameio</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>joy</string>
                <key>description</key>
                <string>Apple II analog joysticks</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>paddles</string>
                <key>description</key>
                <string>Apple II paddles</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>compeyes</string>
                <key>description</key>
                <string>Digital Vision ComputerEyes</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>picture</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>gizmo</string>
                <key>description</key>
                <string>HAL Labs Gizmo</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
      <string>apple3.xml</string>
    </array>
  </dict>
</plist>
