<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>apple1</string>
    <key>description</key>
    <string>Apple I</string>
    <key>media</key>
    <dict>
    </dict>
    <key>resolution</key>
    <array>
      <integer>560</integer>
      <integer>384</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>ramsize</string>
        <key>description</key>
        <string>RAM</string>
        <key>options</key>
        <array>
          <dict>
            <key>intValue</key>
            <integer>4096</integer>
            <key>description</key>
            <string>4K</string>
            <key>value</key>
            <string>4K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>8192</integer>
            <key>description</key>
            <string>8K</string>
            <key>value</key>
            <string>8K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>12288</integer>
            <key>description</key>
            <string>12K</string>
            <key>value</key>
            <string>12K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>16384</integer>
            <key>description</key>
            <string>16K</string>
            <key>value</key>
            <string>16K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>20480</integer>
            <key>description</key>
            <string>20K</string>
            <key>value</key>
            <string>20K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>24576</integer>
            <key>description</key>
            <string>24K</string>
            <key>value</key>
            <string>24K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>28672</integer>
            <key>description</key>
            <string>28K</string>
            <key>value</key>
            <string>28K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>32768</integer>
            <key>description</key>
            <string>32K</string>
            <key>value</key>
            <string>32K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>36864</integer>
            <key>description</key>
            <string>36K</string>
            <key>value</key>
            <string>36K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>40960</integer>
            <key>description</key>
            <string>40K</string>
            <key>value</key>
            <string>40K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>45056</integer>
            <key>description</key>
            <string>44K</string>
            <key>value</key>
            <string>44K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>49152</integer>
            <key>description</key>
            <string>48K</string>
            <key>value</key>
            <string>48K</string>
            <key>default</key>
            <true/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>exp</string>
        <key>description</key>
        <string>Expansion</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>cassette</string>
            <key>description</key>
            <string>Apple I cassette board</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>a1cass</string>
            <key>media</key>
            <dict>
              <key>cass</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>cffa</string>
            <key>description</key>
            <string>CFFA Compact Flash for Apple I</string>
            <key>devname</key>
            <string>cffa1</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>cffa1</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:cffa_ata:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>hdd</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
                <key>default</key>
                <true/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:cffa_ata:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>hdd</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
      <string>apple1.xml</string>
    </array>
  </dict>
</plist>
