<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>apple2cp</string>
    <key>description</key>
    <string>Apple //c Plus</string>
    <key>media</key>
    <dict>
      <key>floppy_5_25</key>
      <integer>2</integer>
      <key>floppy_3_5</key>
      <integer>2</integer>
    </dict>
    <key>resolution</key>
    <array>
      <integer>560</integer>
      <integer>384</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>ramsize</string>
        <key>description</key>
        <string>RAM</string>
        <key>options</key>
        <array>
          <dict>
            <key>intValue</key>
            <integer>131072</integer>
            <key>description</key>
            <string>128K</string>
            <key>value</key>
            <string>128K</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>393216</integer>
            <key>description</key>
            <string>384K</string>
            <key>value</key>
            <string>384K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>655360</integer>
            <key>description</key>
            <string>640K</string>
            <key>value</key>
            <string>640K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>917504</integer>
            <key>description</key>
            <string>896K</string>
            <key>value</key>
            <string>896K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>1179648</integer>
            <key>description</key>
            <string>1152K</string>
            <key>value</key>
            <string>1152K</string>
            <key>default</key>
            <false/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>gameio</string>
        <key>description</key>
        <string>Game I/O</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>joy</string>
            <key>description</key>
            <string>Apple II analog joysticks</string>
            <key>devname</key>
            <string>a2joy</string>
          </dict>
          <dict>
            <key>value</key>
            <string>paddles</string>
            <key>description</key>
            <string>Apple II paddles</string>
            <key>devname</key>
            <string>a2pdls</string>
          </dict>
          <dict>
            <key>value</key>
            <string>compeyes</string>
            <key>description</key>
            <string>Digital Vision ComputerEyes</string>
            <key>devname</key>
            <string>a2ceyes</string>
            <key>media</key>
            <dict>
              <key>picture</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>gizmo</string>
            <key>description</key>
            <string>HAL Labs Gizmo</string>
            <key>devname</key>
            <string>a2gizmo</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>printer</string>
        <key>description</key>
        <string>Printer</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>ie15</string>
            <key>description</key>
            <string>IE15 Terminal</string>
            <key>devname</key>
            <string>ie15_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>pty</string>
            <key>description</key>
            <string>Pseudo terminal</string>
            <key>devname</key>
            <string>pseudo_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>rs_printer</string>
            <key>description</key>
            <string>Radio Shack Serial Printer</string>
            <key>devname</key>
            <string>rs_serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>patch</string>
            <key>description</key>
            <string>RS-232 Patch Box</string>
            <key>devname</key>
            <string>rs232_patch_box</string>
          </dict>
          <dict>
            <key>value</key>
            <string>loopback</string>
            <key>description</key>
            <string>RS232 Loopback</string>
            <key>devname</key>
            <string>rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>dec_loopback</string>
            <key>description</key>
            <string>RS232 Loopback (DEC 12-15336-00)</string>
            <key>devname</key>
            <string>dec_rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>null_modem</string>
            <key>description</key>
            <string>RS232 Null Modem</string>
            <key>devname</key>
            <string>null_modem</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>rs232_sync_io</string>
            <key>description</key>
            <string>RS232 Synchronous I/O</string>
            <key>devname</key>
            <string>rs232_sync_io</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>keyboard</string>
            <key>description</key>
            <string>Serial Keyboard</string>
            <key>devname</key>
            <string>serial_keyboard</string>
          </dict>
          <dict>
            <key>value</key>
            <string>printer</string>
            <key>description</key>
            <string>Serial Printer</string>
            <key>devname</key>
            <string>serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>terminal</string>
            <key>description</key>
            <string>Serial Terminal</string>
            <key>devname</key>
            <string>serial_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>sunkbd</string>
            <key>description</key>
            <string>Sun Keyboard Adaptor</string>
            <key>devname</key>
            <string>sunkbd_adaptor</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mockingboard</string>
            <key>description</key>
            <string>Sweet Micro Systems Mockingboard D</string>
            <key>devname</key>
            <string>mockingboardd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>swtpc8212</string>
            <key>description</key>
            <string>SWTPC8212 Terminal</string>
            <key>devname</key>
            <string>swtpc8212_terminal</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>modem</string>
        <key>description</key>
        <string>Modem</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>ie15</string>
            <key>description</key>
            <string>IE15 Terminal</string>
            <key>devname</key>
            <string>ie15_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>pty</string>
            <key>description</key>
            <string>Pseudo terminal</string>
            <key>devname</key>
            <string>pseudo_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>rs_printer</string>
            <key>description</key>
            <string>Radio Shack Serial Printer</string>
            <key>devname</key>
            <string>rs_serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>patch</string>
            <key>description</key>
            <string>RS-232 Patch Box</string>
            <key>devname</key>
            <string>rs232_patch_box</string>
          </dict>
          <dict>
            <key>value</key>
            <string>loopback</string>
            <key>description</key>
            <string>RS232 Loopback</string>
            <key>devname</key>
            <string>rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>dec_loopback</string>
            <key>description</key>
            <string>RS232 Loopback (DEC 12-15336-00)</string>
            <key>devname</key>
            <string>dec_rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>null_modem</string>
            <key>description</key>
            <string>RS232 Null Modem</string>
            <key>devname</key>
            <string>null_modem</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>rs232_sync_io</string>
            <key>description</key>
            <string>RS232 Synchronous I/O</string>
            <key>devname</key>
            <string>rs232_sync_io</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>keyboard</string>
            <key>description</key>
            <string>Serial Keyboard</string>
            <key>devname</key>
            <string>serial_keyboard</string>
          </dict>
          <dict>
            <key>value</key>
            <string>printer</string>
            <key>description</key>
            <string>Serial Printer</string>
            <key>devname</key>
            <string>serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>terminal</string>
            <key>description</key>
            <string>Serial Terminal</string>
            <key>devname</key>
            <string>serial_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>sunkbd</string>
            <key>description</key>
            <string>Sun Keyboard Adaptor</string>
            <key>devname</key>
            <string>sunkbd_adaptor</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mockingboard</string>
            <key>description</key>
            <string>Sweet Micro Systems Mockingboard D</string>
            <key>devname</key>
            <string>mockingboardd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>swtpc8212</string>
            <key>description</key>
            <string>SWTPC8212 Terminal</string>
            <key>devname</key>
            <string>swtpc8212_terminal</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>rs232_patch_box</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:dce</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>ie15</string>
                <key>description</key>
                <string>IE15 Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>pty</string>
                <key>description</key>
                <string>Pseudo terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>rs_printer</string>
                <key>description</key>
                <string>Radio Shack Serial Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>patch</string>
                <key>description</key>
                <string>RS-232 Patch Box</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>loopback</string>
                <key>description</key>
                <string>RS232 Loopback</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>dec_loopback</string>
                <key>description</key>
                <string>RS232 Loopback (DEC 12-15336-00)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>null_modem</string>
                <key>description</key>
                <string>RS232 Null Modem</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>rs232_sync_io</string>
                <key>description</key>
                <string>RS232 Synchronous I/O</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>keyboard</string>
                <key>description</key>
                <string>Serial Keyboard</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>printer</string>
                <key>description</key>
                <string>Serial Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>terminal</string>
                <key>description</key>
                <string>Serial Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>sunkbd</string>
                <key>description</key>
                <string>Sun Keyboard Adaptor</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>mockingboard</string>
                <key>description</key>
                <string>Sweet Micro Systems Mockingboard D</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>swtpc8212</string>
                <key>description</key>
                <string>SWTPC8212 Terminal</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sunkbd_adaptor</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:keyboard</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>type3hle</string>
                <key>description</key>
                <string>Sun Type 3 Keyboard (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type4hle</string>
                <key>description</key>
                <string>Sun Type 4 Keyboard (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5gbhle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Great Britain - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5jphle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Japan - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5sehle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Sweden - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5hle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (U.S.A. - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
      <string>apple2_flop_clcracked.xml</string>
      <dict>
        <key>name</key>
        <string>apple2_flop_orig.xml</string>
        <key>filter</key>
        <string>A2C</string>
      </dict>
      <string>apple2_flop_misc.xml</string>
    </array>
  </dict>
</plist>
