<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>cz101</string>
    <key>description</key>
    <string>CZ-101</string>
    <key>media</key>
    <dict>
    </dict>
    <key>resolution</key>
    <array>
      <integer>97</integer>
      <integer>38</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>ramsize</string>
        <key>description</key>
        <string>RAM</string>
        <key>options</key>
        <array>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>bios</string>
        <key>description</key>
        <string>ROM</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—Default—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>v2</string>
            <key>description</key>
            <string>Version II</string>
          </dict>
          <dict>
            <key>value</key>
            <string>v1</string>
            <key>description</key>
            <string>Version I</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>mdin</string>
        <key>description</key>
        <string>MIDI In</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>midiin</string>
            <key>description</key>
            <string>MIDI In port</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>midiin_port</string>
            <key>media</key>
            <dict>
              <key>midiin</key>
              <integer>1</integer>
            </dict>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>mdout</string>
        <key>description</key>
        <string>MIDI Out</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>midiout</string>
            <key>description</key>
            <string>MIDI Out port</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>midiout_port</string>
            <key>media</key>
            <dict>
              <key>midiout</key>
              <integer>1</integer>
            </dict>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
    </array>
    <key>software</key>
    <array>
    </array>
  </dict>
</plist>
