<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>hp9k340</string>
    <key>description</key>
    <string>HP9000/340</string>
    <key>media</key>
    <dict>
    </dict>
    <key>resolution</key>
    <array>
      <integer>1024</integer>
      <integer>400</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>sl1</string>
        <key>description</key>
        <string>Slot 1</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>human_interface</string>
            <key>description</key>
            <string>HP Human Interface Card</string>
            <key>devname</key>
            <string>human_interface</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98265a</string>
            <key>description</key>
            <string>HP98265A SCSI S16 Interface</string>
            <key>devname</key>
            <string>hp98265a</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98543</string>
            <key>description</key>
            <string>HP98543 Medium-res Color DIO Video Card</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>dio98543</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98544</string>
            <key>description</key>
            <string>HP98544 High-res Monochrome DIO Video Card</string>
            <key>devname</key>
            <string>dio98544</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98550</string>
            <key>description</key>
            <string>HP98550A High-res Color DIO Video Card</string>
            <key>devname</key>
            <string>dio98550</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98603b</string>
            <key>description</key>
            <string>HP98603 BASIC ROM Card</string>
            <key>devname</key>
            <string>dio98603b</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98603a</string>
            <key>description</key>
            <string>HP98603A BASIC 4.0 ROM Card</string>
            <key>devname</key>
            <string>dio98603a</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98620</string>
            <key>description</key>
            <string>HP98620 DMA Controller</string>
            <key>devname</key>
            <string>hp98620</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98643</string>
            <key>description</key>
            <string>HP98643A LANIC Ethernet Card</string>
            <key>devname</key>
            <string>dio98643</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98644</string>
            <key>description</key>
            <string>HP98644A Asynchronous Serial Interface</string>
            <key>devname</key>
            <string>dio98644</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl2</string>
        <key>description</key>
        <string>Slot 2</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>human_interface</string>
            <key>description</key>
            <string>HP Human Interface Card</string>
            <key>devname</key>
            <string>human_interface</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98265a</string>
            <key>description</key>
            <string>HP98265A SCSI S16 Interface</string>
            <key>devname</key>
            <string>hp98265a</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98543</string>
            <key>description</key>
            <string>HP98543 Medium-res Color DIO Video Card</string>
            <key>devname</key>
            <string>dio98543</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98544</string>
            <key>description</key>
            <string>HP98544 High-res Monochrome DIO Video Card</string>
            <key>devname</key>
            <string>dio98544</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98550</string>
            <key>description</key>
            <string>HP98550A High-res Color DIO Video Card</string>
            <key>devname</key>
            <string>dio98550</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98603b</string>
            <key>description</key>
            <string>HP98603 BASIC ROM Card</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>dio98603b</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98603a</string>
            <key>description</key>
            <string>HP98603A BASIC 4.0 ROM Card</string>
            <key>devname</key>
            <string>dio98603a</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98620</string>
            <key>description</key>
            <string>HP98620 DMA Controller</string>
            <key>devname</key>
            <string>hp98620</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98643</string>
            <key>description</key>
            <string>HP98643A LANIC Ethernet Card</string>
            <key>devname</key>
            <string>dio98643</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98644</string>
            <key>description</key>
            <string>HP98644A Asynchronous Serial Interface</string>
            <key>devname</key>
            <string>dio98644</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl3</string>
        <key>description</key>
        <string>Slot 3</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>human_interface</string>
            <key>description</key>
            <string>HP Human Interface Card</string>
            <key>devname</key>
            <string>human_interface</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98265a</string>
            <key>description</key>
            <string>HP98265A SCSI S16 Interface</string>
            <key>devname</key>
            <string>hp98265a</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98543</string>
            <key>description</key>
            <string>HP98543 Medium-res Color DIO Video Card</string>
            <key>devname</key>
            <string>dio98543</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98544</string>
            <key>description</key>
            <string>HP98544 High-res Monochrome DIO Video Card</string>
            <key>devname</key>
            <string>dio98544</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98550</string>
            <key>description</key>
            <string>HP98550A High-res Color DIO Video Card</string>
            <key>devname</key>
            <string>dio98550</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98603b</string>
            <key>description</key>
            <string>HP98603 BASIC ROM Card</string>
            <key>devname</key>
            <string>dio98603b</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98603a</string>
            <key>description</key>
            <string>HP98603A BASIC 4.0 ROM Card</string>
            <key>devname</key>
            <string>dio98603a</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98620</string>
            <key>description</key>
            <string>HP98620 DMA Controller</string>
            <key>devname</key>
            <string>hp98620</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98643</string>
            <key>description</key>
            <string>HP98643A LANIC Ethernet Card</string>
            <key>devname</key>
            <string>dio98643</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98644</string>
            <key>description</key>
            <string>HP98644A Asynchronous Serial Interface</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>dio98644</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl4</string>
        <key>description</key>
        <string>Slot 4</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>human_interface</string>
            <key>description</key>
            <string>HP Human Interface Card</string>
            <key>devname</key>
            <string>human_interface</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98265a</string>
            <key>description</key>
            <string>HP98265A SCSI S16 Interface</string>
            <key>devname</key>
            <string>hp98265a</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98543</string>
            <key>description</key>
            <string>HP98543 Medium-res Color DIO Video Card</string>
            <key>devname</key>
            <string>dio98543</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98544</string>
            <key>description</key>
            <string>HP98544 High-res Monochrome DIO Video Card</string>
            <key>devname</key>
            <string>dio98544</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98550</string>
            <key>description</key>
            <string>HP98550A High-res Color DIO Video Card</string>
            <key>devname</key>
            <string>dio98550</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98603b</string>
            <key>description</key>
            <string>HP98603 BASIC ROM Card</string>
            <key>devname</key>
            <string>dio98603b</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98603a</string>
            <key>description</key>
            <string>HP98603A BASIC 4.0 ROM Card</string>
            <key>devname</key>
            <string>dio98603a</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98620</string>
            <key>description</key>
            <string>HP98620 DMA Controller</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>hp98620</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98643</string>
            <key>description</key>
            <string>HP98643A LANIC Ethernet Card</string>
            <key>devname</key>
            <string>dio98643</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98644</string>
            <key>description</key>
            <string>HP98644A Asynchronous Serial Interface</string>
            <key>devname</key>
            <string>dio98644</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl5</string>
        <key>description</key>
        <string>Slot 5</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>human_interface</string>
            <key>description</key>
            <string>HP Human Interface Card</string>
            <key>devname</key>
            <string>human_interface</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98265a</string>
            <key>description</key>
            <string>HP98265A SCSI S16 Interface</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>hp98265a</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98543</string>
            <key>description</key>
            <string>HP98543 Medium-res Color DIO Video Card</string>
            <key>devname</key>
            <string>dio98543</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98544</string>
            <key>description</key>
            <string>HP98544 High-res Monochrome DIO Video Card</string>
            <key>devname</key>
            <string>dio98544</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98550</string>
            <key>description</key>
            <string>HP98550A High-res Color DIO Video Card</string>
            <key>devname</key>
            <string>dio98550</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98603b</string>
            <key>description</key>
            <string>HP98603 BASIC ROM Card</string>
            <key>devname</key>
            <string>dio98603b</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98603a</string>
            <key>description</key>
            <string>HP98603A BASIC 4.0 ROM Card</string>
            <key>devname</key>
            <string>dio98603a</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98620</string>
            <key>description</key>
            <string>HP98620 DMA Controller</string>
            <key>devname</key>
            <string>hp98620</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98643</string>
            <key>description</key>
            <string>HP98643A LANIC Ethernet Card</string>
            <key>devname</key>
            <string>dio98643</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98644</string>
            <key>description</key>
            <string>HP98644A Asynchronous Serial Interface</string>
            <key>devname</key>
            <string>dio98644</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sl7</string>
        <key>description</key>
        <string>Slot 7</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>human_interface</string>
            <key>description</key>
            <string>HP Human Interface Card</string>
            <key>devname</key>
            <string>human_interface</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98265a</string>
            <key>description</key>
            <string>HP98265A SCSI S16 Interface</string>
            <key>devname</key>
            <string>hp98265a</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98543</string>
            <key>description</key>
            <string>HP98543 Medium-res Color DIO Video Card</string>
            <key>devname</key>
            <string>dio98543</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98544</string>
            <key>description</key>
            <string>HP98544 High-res Monochrome DIO Video Card</string>
            <key>devname</key>
            <string>dio98544</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98550</string>
            <key>description</key>
            <string>HP98550A High-res Color DIO Video Card</string>
            <key>devname</key>
            <string>dio98550</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98603b</string>
            <key>description</key>
            <string>HP98603 BASIC ROM Card</string>
            <key>devname</key>
            <string>dio98603b</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98603a</string>
            <key>description</key>
            <string>HP98603A BASIC 4.0 ROM Card</string>
            <key>devname</key>
            <string>dio98603a</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98620</string>
            <key>description</key>
            <string>HP98620 DMA Controller</string>
            <key>devname</key>
            <string>hp98620</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98643</string>
            <key>description</key>
            <string>HP98643A LANIC Ethernet Card</string>
            <key>devname</key>
            <string>dio98643</string>
          </dict>
          <dict>
            <key>value</key>
            <string>98644</string>
            <key>description</key>
            <string>HP98644A Asynchronous Serial Interface</string>
            <key>devname</key>
            <string>dio98644</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>dio98644</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:rs232</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>ie15</string>
                <key>description</key>
                <string>IE15 Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>scorpion</string>
                <key>description</key>
                <string>Micro-Robotics Scorpion Intelligent Controller</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>pty</string>
                <key>description</key>
                <string>Pseudo terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>rs_printer</string>
                <key>description</key>
                <string>Radio Shack Serial Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>patch</string>
                <key>description</key>
                <string>RS-232 Patch Box</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>loopback</string>
                <key>description</key>
                <string>RS232 Loopback</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>dec_loopback</string>
                <key>description</key>
                <string>RS232 Loopback (DEC 12-15336-00)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>null_modem</string>
                <key>description</key>
                <string>RS232 Null Modem</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>rs232_sync_io</string>
                <key>description</key>
                <string>RS232 Synchronous I/O</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>keyboard</string>
                <key>description</key>
                <string>Serial Keyboard</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>printer</string>
                <key>description</key>
                <string>Serial Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>terminal</string>
                <key>description</key>
                <string>Serial Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>sunkbd</string>
                <key>description</key>
                <string>Sun Keyboard Adaptor</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>mockingboard</string>
                <key>description</key>
                <string>Sweet Micro Systems Mockingboard D</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>swtpc8212</string>
                <key>description</key>
                <string>SWTPC8212 Terminal</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>hp98265a</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:scsibus:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>tape</string>
                <key>description</key>
                <string>SCSI tape</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:scsibus:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>tape</string>
                <key>description</key>
                <string>SCSI tape</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:scsibus:2</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>tape</string>
                <key>description</key>
                <string>SCSI tape</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:scsibus:3</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>tape</string>
                <key>description</key>
                <string>SCSI tape</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:scsibus:4</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>tape</string>
                <key>description</key>
                <string>SCSI tape</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:scsibus:5</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>tape</string>
                <key>description</key>
                <string>SCSI tape</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:scsibus:6</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>tape</string>
                <key>description</key>
                <string>SCSI tape</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>human_interface</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:hil1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>hp_46060b</string>
                <key>description</key>
                <string>HP 46060B Mouse</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>hp_ipc_kbd</string>
                <key>description</key>
                <string>HP Integral Keyboard (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>hp_46021a</string>
                <key>description</key>
                <string>HP ITF Keyboard</string>
                <key>default</key>
                <true/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:hil2</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>hp_46060b</string>
                <key>description</key>
                <string>HP 46060B Mouse</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>hp_ipc_kbd</string>
                <key>description</key>
                <string>HP Integral Keyboard (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>hp_46021a</string>
                <key>description</key>
                <string>HP ITF Keyboard</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:ieee0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>hp9122c</string>
                <key>description</key>
                <string>HP9122C Dual High density disk drive</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>hp9895</string>
                <key>description</key>
                <string>HP9895</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>rs232_patch_box</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:dce</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>ie15</string>
                <key>description</key>
                <string>IE15 Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>scorpion</string>
                <key>description</key>
                <string>Micro-Robotics Scorpion Intelligent Controller</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>pty</string>
                <key>description</key>
                <string>Pseudo terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>rs_printer</string>
                <key>description</key>
                <string>Radio Shack Serial Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>patch</string>
                <key>description</key>
                <string>RS-232 Patch Box</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>loopback</string>
                <key>description</key>
                <string>RS232 Loopback</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>dec_loopback</string>
                <key>description</key>
                <string>RS232 Loopback (DEC 12-15336-00)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>null_modem</string>
                <key>description</key>
                <string>RS232 Null Modem</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>rs232_sync_io</string>
                <key>description</key>
                <string>RS232 Synchronous I/O</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>keyboard</string>
                <key>description</key>
                <string>Serial Keyboard</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>printer</string>
                <key>description</key>
                <string>Serial Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>terminal</string>
                <key>description</key>
                <string>Serial Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>sunkbd</string>
                <key>description</key>
                <string>Sun Keyboard Adaptor</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>mockingboard</string>
                <key>description</key>
                <string>Sweet Micro Systems Mockingboard D</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>swtpc8212</string>
                <key>description</key>
                <string>SWTPC8212 Terminal</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sunkbd_adaptor</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:keyboard</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>type3hle</string>
                <key>description</key>
                <string>Sun Type 3 Keyboard (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type4hle</string>
                <key>description</key>
                <string>Sun Type 4 Keyboard (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5gbhle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Great Britain - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5jphle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Japan - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5sehle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Sweden - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5hle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (U.S.A. - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
      <string>hp9k3xx_flop.xml</string>
      <string>hp9k3xx_cdrom.xml</string>
      <string>hp9k3xx_hdd.xml</string>
    </array>
  </dict>
</plist>
