<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>las128e2</string>
    <key>description</key>
    <string>Laser 128ex2 (version 6.1)</string>
    <key>ram</key>
    <array>
      <dict>
        <key>intValue</key>
        <integer>131072</integer>
        <key>description</key>
        <string>128K</string>
        <key>value</key>
        <string>128K</string>
        <key>default</key>
        <true/>
      </dict>
      <dict>
        <key>intValue</key>
        <integer>393216</integer>
        <key>description</key>
        <string>384K</string>
        <key>value</key>
        <string>384K</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>intValue</key>
        <integer>655360</integer>
        <key>description</key>
        <string>640K</string>
        <key>value</key>
        <string>640K</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>intValue</key>
        <integer>917504</integer>
        <key>description</key>
        <string>896K</string>
        <key>value</key>
        <string>896K</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>intValue</key>
        <integer>1179648</integer>
        <key>description</key>
        <string>1152K</string>
        <key>value</key>
        <string>1152K</string>
        <key>default</key>
        <false/>
      </dict>
    </array>
    <key>media</key>
    <dict>
      <key>flop_5_25</key>
      <integer>2</integer>
    </dict>
    <key>resolution</key>
    <array>
      <integer>560</integer>
      <integer>384</integer>
    </array>
    <key>gameio</key>
    <array>
      <dict>
        <key>value</key>
        <string></string>
        <key>description</key>
        <string>—None—</string>
        <key>default</key>
        <true/>
      </dict>
      <dict>
        <key>value</key>
        <string>joy</string>
        <key>description</key>
        <string>Apple II analog joysticks</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>paddles</string>
        <key>description</key>
        <string>Apple II paddles</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>compeyes</string>
        <key>description</key>
        <string>Digital Vision ComputerEyes</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>gizmo</string>
        <key>description</key>
        <string>HAL Labs Gizmo</string>
        <key>default</key>
        <false/>
      </dict>
    </array>
    <key>printer</key>
    <array>
      <dict>
        <key>value</key>
        <string></string>
        <key>description</key>
        <string>—None—</string>
        <key>default</key>
        <true/>
      </dict>
      <dict>
        <key>value</key>
        <string>ie15</string>
        <key>description</key>
        <string>IE15 Terminal</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>pty</string>
        <key>description</key>
        <string>Pseudo terminal</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>loopback</string>
        <key>description</key>
        <string>RS232 Loopback</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>dec_loopback</string>
        <key>description</key>
        <string>RS232 Loopback (DEC 12-15336-00)</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>null_modem</string>
        <key>description</key>
        <string>RS232 Null Modem</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>keyboard</string>
        <key>description</key>
        <string>Serial Keyboard</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>printer</string>
        <key>description</key>
        <string>Serial Printer</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>terminal</string>
        <key>description</key>
        <string>Serial Terminal</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>sunkbd</string>
        <key>description</key>
        <string>Sun Keyboard Adaptor</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>swtpc8212</string>
        <key>description</key>
        <string>SWTPC8212 Terminal</string>
        <key>default</key>
        <false/>
      </dict>
    </array>
    <key>modem</key>
    <array>
      <dict>
        <key>value</key>
        <string></string>
        <key>description</key>
        <string>—None—</string>
        <key>default</key>
        <true/>
      </dict>
      <dict>
        <key>value</key>
        <string>ie15</string>
        <key>description</key>
        <string>IE15 Terminal</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>pty</string>
        <key>description</key>
        <string>Pseudo terminal</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>loopback</string>
        <key>description</key>
        <string>RS232 Loopback</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>dec_loopback</string>
        <key>description</key>
        <string>RS232 Loopback (DEC 12-15336-00)</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>null_modem</string>
        <key>description</key>
        <string>RS232 Null Modem</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>keyboard</string>
        <key>description</key>
        <string>Serial Keyboard</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>printer</string>
        <key>description</key>
        <string>Serial Printer</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>terminal</string>
        <key>description</key>
        <string>Serial Terminal</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>sunkbd</string>
        <key>description</key>
        <string>Sun Keyboard Adaptor</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>value</key>
        <string>swtpc8212</string>
        <key>description</key>
        <string>SWTPC8212 Terminal</string>
        <key>default</key>
        <false/>
      </dict>
    </array>
  </dict>
</plist>
