<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>las3000</string>
    <key>description</key>
    <string>Laser 3000</string>
    <key>media</key>
    <dict>
      <key>cass</key>
      <integer>1</integer>
    </dict>
    <key>resolution</key>
    <array>
      <integer>560</integer>
      <integer>384</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>ramsize</string>
        <key>description</key>
        <string>RAM</string>
        <key>options</key>
        <array>
          <dict>
            <key>intValue</key>
            <integer>192</integer>
            <key>description</key>
            <string>192K</string>
            <key>value</key>
            <string>192K</string>
            <key>default</key>
            <true/>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
    </array>
    <key>software</key>
    <array>
    </array>
  </dict>
</plist>
