<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>lisa2</string>
    <key>description</key>
    <string>Lisa2</string>
    <key>media</key>
    <dict>
    </dict>
    <key>resolution</key>
    <array>
      <integer>720</integer>
      <integer>364</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>bios</string>
        <key>description</key>
        <string>ROM</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—Default—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>revh</string>
            <key>description</key>
            <string>LISA Bootrom Rev H (2/24/84)</string>
          </dict>
          <dict>
            <key>value</key>
            <string>revg</string>
            <key>description</key>
            <string>LISA Bootrom Rev G (2/08/84)</string>
          </dict>
          <dict>
            <key>value</key>
            <string>revf</string>
            <key>description</key>
            <string>LISA Bootrom Rev F (12/21/83)</string>
          </dict>
          <dict>
            <key>value</key>
            <string>reve</string>
            <key>description</key>
            <string>LISA Bootrom Rev E (10/20/83)</string>
          </dict>
          <dict>
            <key>value</key>
            <string>rev3b</string>
            <key>description</key>
            <string>LISA Bootrom Rev 3B (9/8/83)</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>description</key>
        <string>Disk Drives</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string></string>
            <key>devname</key>
            <string>smartport</string>
            <key>default</key>
            <true/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>pp</string>
        <key>description</key>
        <string>Parallel</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>profile</string>
            <key>description</key>
            <string>Apple Profile Drive HLE</string>
            <key>devname</key>
            <string>profilehle</string>
          </dict>
          <dict>
            <key>value</key>
            <string>widget</string>
            <key>description</key>
            <string>Apple Widget Drive HLE</string>
            <key>devname</key>
            <string>widgethle</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>fdc:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>tw</string>
                <key>description</key>
                <string>5.25" twiggy drive</string>
                <key>default</key>
                <true/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>fdc:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>tw</string>
                <key>description</key>
                <string>5.25" twiggy drive</string>
                <key>default</key>
                <true/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
      <string>lisa.xml</string>
    </array>
  </dict>
</plist>
