<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>mac128k</string>
    <key>description</key>
    <string>Macintosh 128k</string>
    <key>media</key>
    <dict>
    </dict>
    <key>resolution</key>
    <array>
      <integer>512</integer>
      <integer>342</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>ramsize</string>
        <key>description</key>
        <string>RAM</string>
        <key>options</key>
        <array>
          <dict>
            <key>intValue</key>
            <integer>131072</integer>
            <key>description</key>
            <string>128K</string>
            <key>value</key>
            <string>128K</string>
            <key>default</key>
            <true/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>description</key>
        <string>Disk Drives</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string></string>
            <key>devname</key>
            <string>smartport</string>
            <key>default</key>
            <true/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>pds</string>
        <key>description</key>
        <string>PDS</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>hyperdrive</string>
            <key>description</key>
            <string>GCC HyperDrive</string>
            <key>devname</key>
            <string>pds_hyper</string>
            <key>media</key>
            <dict>
              <key>hard</key>
              <integer>1</integer>
            </dict>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>kbd</string>
        <key>description</key>
        <string>Keyboard</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>gb</string>
            <key>description</key>
            <string>Macintosh Keyboard (British - M0110B)</string>
            <key>devname</key>
            <string>mackbd_m0110b</string>
          </dict>
          <dict>
            <key>value</key>
            <string>fr</string>
            <key>description</key>
            <string>Macintosh Keyboard (French - M0110F)</string>
            <key>devname</key>
            <string>mackbd_m0110f</string>
          </dict>
          <dict>
            <key>value</key>
            <string>it</string>
            <key>description</key>
            <string>Macintosh Keyboard (Italian - M0110T)</string>
            <key>devname</key>
            <string>mackbd_m0110t</string>
          </dict>
          <dict>
            <key>value</key>
            <string>jp</string>
            <key>description</key>
            <string>Macintosh Keyboard (Japanese - M0110J)</string>
            <key>devname</key>
            <string>mackbd_m0110j</string>
          </dict>
          <dict>
            <key>value</key>
            <string>us</string>
            <key>description</key>
            <string>Macintosh Keyboard (U.S. - M0110)</string>
            <key>devname</key>
            <string>mackbd_m0110</string>
          </dict>
          <dict>
            <key>value</key>
            <string>pad</string>
            <key>description</key>
            <string>Macintosh Numeric Keypad (English - M0120)</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>mackbd_m0120</string>
          </dict>
          <dict>
            <key>value</key>
            <string>eupad</string>
            <key>description</key>
            <string>Macintosh Numeric Keypad (European - M0120P)</string>
            <key>devname</key>
            <string>mackbd_m0120p</string>
          </dict>
          <dict>
            <key>value</key>
            <string>frp</string>
            <key>description</key>
            <string>Macintosh Plus Keyboard (French - M0110A F)</string>
            <key>devname</key>
            <string>mackbd_m0110a_f</string>
          </dict>
          <dict>
            <key>value</key>
            <string>jpp</string>
            <key>description</key>
            <string>Macintosh Plus Keyboard (Japanese - M0110A J)</string>
            <key>devname</key>
            <string>mackbd_m0110a_j</string>
          </dict>
          <dict>
            <key>value</key>
            <string>usp</string>
            <key>description</key>
            <string>Macintosh Plus Keyboard (U.S. - M0110A)</string>
            <key>devname</key>
            <string>mackbd_m0110a</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>fdc:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>35dd</string>
                <key>description</key>
                <string>3.5" DD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35hd</string>
                <key>description</key>
                <string>3.5" HD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35sd</string>
                <key>description</key>
                <string>3.5" SD</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>fdc:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>35dd</string>
                <key>description</key>
                <string>3.5" DD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35hd</string>
                <key>description</key>
                <string>3.5" HD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35sd</string>
                <key>description</key>
                <string>3.5" SD</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>mackbd_m0120</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:kbd</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>gb</string>
                <key>description</key>
                <string>Macintosh Keyboard (British - M0110B)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>fr</string>
                <key>description</key>
                <string>Macintosh Keyboard (French - M0110F)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>it</string>
                <key>description</key>
                <string>Macintosh Keyboard (Italian - M0110T)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>jp</string>
                <key>description</key>
                <string>Macintosh Keyboard (Japanese - M0110J)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>us</string>
                <key>description</key>
                <string>Macintosh Keyboard (U.S. - M0110)</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>pad</string>
                <key>description</key>
                <string>Macintosh Numeric Keypad (English - M0120)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>eupad</string>
                <key>description</key>
                <string>Macintosh Numeric Keypad (European - M0120P)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>frp</string>
                <key>description</key>
                <string>Macintosh Plus Keyboard (French - M0110A F)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>jpp</string>
                <key>description</key>
                <string>Macintosh Plus Keyboard (Japanese - M0110A J)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>usp</string>
                <key>description</key>
                <string>Macintosh Plus Keyboard (U.S. - M0110A)</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>mackbd_m0120p</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:kbd</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>gb</string>
                <key>description</key>
                <string>Macintosh Keyboard (British - M0110B)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>fr</string>
                <key>description</key>
                <string>Macintosh Keyboard (French - M0110F)</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>it</string>
                <key>description</key>
                <string>Macintosh Keyboard (Italian - M0110T)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>jp</string>
                <key>description</key>
                <string>Macintosh Keyboard (Japanese - M0110J)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>us</string>
                <key>description</key>
                <string>Macintosh Keyboard (U.S. - M0110)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>pad</string>
                <key>description</key>
                <string>Macintosh Numeric Keypad (English - M0120)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>eupad</string>
                <key>description</key>
                <string>Macintosh Numeric Keypad (European - M0120P)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>frp</string>
                <key>description</key>
                <string>Macintosh Plus Keyboard (French - M0110A F)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>jpp</string>
                <key>description</key>
                <string>Macintosh Plus Keyboard (Japanese - M0110A J)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>usp</string>
                <key>description</key>
                <string>Macintosh Plus Keyboard (U.S. - M0110A)</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
      <string>mac_flop_orig.xml</string>
      <string>mac_flop_clcracked.xml</string>
      <string>mac_flop.xml</string>
    </array>
  </dict>
</plist>
