<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>maciicx</string>
    <key>description</key>
    <string>Macintosh IIcx</string>
    <key>media</key>
    <dict>
    </dict>
    <key>resolution</key>
    <array>
      <integer>640</integer>
      <integer>480</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>ramsize</string>
        <key>description</key>
        <string>RAM</string>
        <key>options</key>
        <array>
          <dict>
            <key>intValue</key>
            <integer>2097152</integer>
            <key>description</key>
            <string>2M</string>
            <key>value</key>
            <string>2M</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>8388608</integer>
            <key>description</key>
            <string>8M</string>
            <key>value</key>
            <string>8M</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>33554432</integer>
            <key>description</key>
            <string>32M</string>
            <key>value</key>
            <string>32M</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>67108864</integer>
            <key>description</key>
            <string>64M</string>
            <key>value</key>
            <string>64M</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>100663296</integer>
            <key>description</key>
            <string>96M</string>
            <key>value</key>
            <string>96M</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>134217728</integer>
            <key>description</key>
            <string>128M</string>
            <key>value</key>
            <string>128M</string>
            <key>default</key>
            <false/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>description</key>
        <string>Disk Drives</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string></string>
            <key>devname</key>
            <string>smartport</string>
            <key>default</key>
            <true/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>nb9</string>
        <key>description</key>
        <string>Slot 9</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>mdc48</string>
            <key>description</key>
            <string>Apple Macintosh Display Card 4/8 (MDC 1.0.1)</string>
            <key>devname</key>
            <string>nb_mdc48</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mdc824</string>
            <key>description</key>
            <string>Apple Macintosh Display Card 8/24 (MDC 1.2)</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>nb_mdc824</string>
          </dict>
          <dict>
            <key>value</key>
            <string>m2hires</string>
            <key>description</key>
            <string>Apple Macintosh II High Resolution Video Card</string>
            <key>devname</key>
            <string>nb_m2hr</string>
          </dict>
          <dict>
            <key>value</key>
            <string>m2video</string>
            <key>description</key>
            <string>Apple Macintosh II Video Card</string>
            <key>devname</key>
            <string>nb_m2vc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>enetnb</string>
            <key>description</key>
            <string>Apple NuBus Ethernet card</string>
            <key>devname</key>
            <string>nb_aenet</string>
          </dict>
          <dict>
            <key>value</key>
            <string>quadralink</string>
            <key>description</key>
            <string>Applied Engineering Quadralink serial card</string>
            <key>devname</key>
            <string>nb_qdlink</string>
          </dict>
          <dict>
            <key>value</key>
            <string>asmc3nb</string>
            <key>description</key>
            <string>Asante MC3NB Ethernet card</string>
            <key>devname</key>
            <string>nb_amc3b</string>
          </dict>
          <dict>
            <key>value</key>
            <string>bootbug</string>
            <key>description</key>
            <string>Brigent BootBug debugger card</string>
            <key>devname</key>
            <string>nb_btbug</string>
          </dict>
          <dict>
            <key>value</key>
            <string>portrait</string>
            <key>description</key>
            <string>Macintosh II Portrait Video Card</string>
            <key>devname</key>
            <string>nb_wspt</string>
          </dict>
          <dict>
            <key>value</key>
            <string>vikbw</string>
            <key>description</key>
            <string>Moniterm Viking video card</string>
            <key>devname</key>
            <string>nb_vikbw</string>
          </dict>
          <dict>
            <key>value</key>
            <string>image</string>
            <key>description</key>
            <string>NuBus Disk Image Pseudo-Card</string>
            <key>devname</key>
            <string>nb_image</string>
            <key>media</key>
            <dict>
              <key>pseudo_disk</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>radiustpd</string>
            <key>description</key>
            <string>Radius Two Page Display video card</string>
            <key>devname</key>
            <string>nb_rtpd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>cb264</string>
            <key>description</key>
            <string>RasterOps ColorBoard 264 video card</string>
            <key>devname</key>
            <string>nb_c264</string>
          </dict>
          <dict>
            <key>value</key>
            <string>laserview</string>
            <key>description</key>
            <string>Sigma Designs LaserView video card</string>
            <key>devname</key>
            <string>nb_laserview</string>
          </dict>
          <dict>
            <key>value</key>
            <string>specpdq</string>
            <key>description</key>
            <string>SuperMac Spectrum PDQ video card</string>
            <key>devname</key>
            <string>nb_spdq</string>
          </dict>
          <dict>
            <key>value</key>
            <string>spec8s3</string>
            <key>description</key>
            <string>SuperMac Spectrum/8 Series III video card</string>
            <key>devname</key>
            <string>nb_sp8s3</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>nba</string>
        <key>description</key>
        <string>Slot A</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>mdc48</string>
            <key>description</key>
            <string>Apple Macintosh Display Card 4/8 (MDC 1.0.1)</string>
            <key>devname</key>
            <string>nb_mdc48</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mdc824</string>
            <key>description</key>
            <string>Apple Macintosh Display Card 8/24 (MDC 1.2)</string>
            <key>devname</key>
            <string>nb_mdc824</string>
          </dict>
          <dict>
            <key>value</key>
            <string>m2hires</string>
            <key>description</key>
            <string>Apple Macintosh II High Resolution Video Card</string>
            <key>devname</key>
            <string>nb_m2hr</string>
          </dict>
          <dict>
            <key>value</key>
            <string>m2video</string>
            <key>description</key>
            <string>Apple Macintosh II Video Card</string>
            <key>devname</key>
            <string>nb_m2vc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>enetnb</string>
            <key>description</key>
            <string>Apple NuBus Ethernet card</string>
            <key>devname</key>
            <string>nb_aenet</string>
          </dict>
          <dict>
            <key>value</key>
            <string>quadralink</string>
            <key>description</key>
            <string>Applied Engineering Quadralink serial card</string>
            <key>devname</key>
            <string>nb_qdlink</string>
          </dict>
          <dict>
            <key>value</key>
            <string>asmc3nb</string>
            <key>description</key>
            <string>Asante MC3NB Ethernet card</string>
            <key>devname</key>
            <string>nb_amc3b</string>
          </dict>
          <dict>
            <key>value</key>
            <string>bootbug</string>
            <key>description</key>
            <string>Brigent BootBug debugger card</string>
            <key>devname</key>
            <string>nb_btbug</string>
          </dict>
          <dict>
            <key>value</key>
            <string>portrait</string>
            <key>description</key>
            <string>Macintosh II Portrait Video Card</string>
            <key>devname</key>
            <string>nb_wspt</string>
          </dict>
          <dict>
            <key>value</key>
            <string>vikbw</string>
            <key>description</key>
            <string>Moniterm Viking video card</string>
            <key>devname</key>
            <string>nb_vikbw</string>
          </dict>
          <dict>
            <key>value</key>
            <string>image</string>
            <key>description</key>
            <string>NuBus Disk Image Pseudo-Card</string>
            <key>devname</key>
            <string>nb_image</string>
            <key>media</key>
            <dict>
              <key>pseudo_disk</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>radiustpd</string>
            <key>description</key>
            <string>Radius Two Page Display video card</string>
            <key>devname</key>
            <string>nb_rtpd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>cb264</string>
            <key>description</key>
            <string>RasterOps ColorBoard 264 video card</string>
            <key>devname</key>
            <string>nb_c264</string>
          </dict>
          <dict>
            <key>value</key>
            <string>laserview</string>
            <key>description</key>
            <string>Sigma Designs LaserView video card</string>
            <key>devname</key>
            <string>nb_laserview</string>
          </dict>
          <dict>
            <key>value</key>
            <string>specpdq</string>
            <key>description</key>
            <string>SuperMac Spectrum PDQ video card</string>
            <key>devname</key>
            <string>nb_spdq</string>
          </dict>
          <dict>
            <key>value</key>
            <string>spec8s3</string>
            <key>description</key>
            <string>SuperMac Spectrum/8 Series III video card</string>
            <key>devname</key>
            <string>nb_sp8s3</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>nbb</string>
        <key>description</key>
        <string>Slot B</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>mdc48</string>
            <key>description</key>
            <string>Apple Macintosh Display Card 4/8 (MDC 1.0.1)</string>
            <key>devname</key>
            <string>nb_mdc48</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mdc824</string>
            <key>description</key>
            <string>Apple Macintosh Display Card 8/24 (MDC 1.2)</string>
            <key>devname</key>
            <string>nb_mdc824</string>
          </dict>
          <dict>
            <key>value</key>
            <string>m2hires</string>
            <key>description</key>
            <string>Apple Macintosh II High Resolution Video Card</string>
            <key>devname</key>
            <string>nb_m2hr</string>
          </dict>
          <dict>
            <key>value</key>
            <string>m2video</string>
            <key>description</key>
            <string>Apple Macintosh II Video Card</string>
            <key>devname</key>
            <string>nb_m2vc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>enetnb</string>
            <key>description</key>
            <string>Apple NuBus Ethernet card</string>
            <key>devname</key>
            <string>nb_aenet</string>
          </dict>
          <dict>
            <key>value</key>
            <string>quadralink</string>
            <key>description</key>
            <string>Applied Engineering Quadralink serial card</string>
            <key>devname</key>
            <string>nb_qdlink</string>
          </dict>
          <dict>
            <key>value</key>
            <string>asmc3nb</string>
            <key>description</key>
            <string>Asante MC3NB Ethernet card</string>
            <key>devname</key>
            <string>nb_amc3b</string>
          </dict>
          <dict>
            <key>value</key>
            <string>bootbug</string>
            <key>description</key>
            <string>Brigent BootBug debugger card</string>
            <key>devname</key>
            <string>nb_btbug</string>
          </dict>
          <dict>
            <key>value</key>
            <string>portrait</string>
            <key>description</key>
            <string>Macintosh II Portrait Video Card</string>
            <key>devname</key>
            <string>nb_wspt</string>
          </dict>
          <dict>
            <key>value</key>
            <string>vikbw</string>
            <key>description</key>
            <string>Moniterm Viking video card</string>
            <key>devname</key>
            <string>nb_vikbw</string>
          </dict>
          <dict>
            <key>value</key>
            <string>image</string>
            <key>description</key>
            <string>NuBus Disk Image Pseudo-Card</string>
            <key>devname</key>
            <string>nb_image</string>
            <key>media</key>
            <dict>
              <key>pseudo_disk</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>radiustpd</string>
            <key>description</key>
            <string>Radius Two Page Display video card</string>
            <key>devname</key>
            <string>nb_rtpd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>cb264</string>
            <key>description</key>
            <string>RasterOps ColorBoard 264 video card</string>
            <key>devname</key>
            <string>nb_c264</string>
          </dict>
          <dict>
            <key>value</key>
            <string>laserview</string>
            <key>description</key>
            <string>Sigma Designs LaserView video card</string>
            <key>devname</key>
            <string>nb_laserview</string>
          </dict>
          <dict>
            <key>value</key>
            <string>specpdq</string>
            <key>description</key>
            <string>SuperMac Spectrum PDQ video card</string>
            <key>devname</key>
            <string>nb_spdq</string>
          </dict>
          <dict>
            <key>value</key>
            <string>spec8s3</string>
            <key>description</key>
            <string>SuperMac Spectrum/8 Series III video card</string>
            <key>devname</key>
            <string>nb_sp8s3</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>fdc:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>35dd</string>
                <key>description</key>
                <string>3.5" DD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35hd</string>
                <key>description</key>
                <string>3.5" HD</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35sd</string>
                <key>description</key>
                <string>3.5" SD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>fdc:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>35dd</string>
                <key>description</key>
                <string>3.5" DD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35hd</string>
                <key>description</key>
                <string>3.5" HD</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35sd</string>
                <key>description</key>
                <string>3.5" SD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:2</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:3</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:4</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:5</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:6</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>aplcdsc</string>
                <key>description</key>
                <string>Apple SCSI CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>nb_btbug</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:serport0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>null_modem</string>
                <key>description</key>
                <string>RS232 Null Modem</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>terminal</string>
                <key>description</key>
                <string>Serial Terminal</string>
                <key>default</key>
                <true/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>nb_qdlink</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:serport0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>null_modem</string>
                <key>description</key>
                <string>RS232 Null Modem</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>terminal</string>
                <key>description</key>
                <string>Serial Terminal</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:serport1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>null_modem</string>
                <key>description</key>
                <string>RS232 Null Modem</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>terminal</string>
                <key>description</key>
                <string>Serial Terminal</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:serport2</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>null_modem</string>
                <key>description</key>
                <string>RS232 Null Modem</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>terminal</string>
                <key>description</key>
                <string>Serial Terminal</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:serport3</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>null_modem</string>
                <key>description</key>
                <string>RS232 Null Modem</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>terminal</string>
                <key>description</key>
                <string>Serial Terminal</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
      <string>mac_hdd.xml</string>
      <string>mac_flop.xml</string>
      <string>mac_hdflop.xml</string>
    </array>
  </dict>
</plist>
