<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>maclc3</string>
    <key>description</key>
    <string>Macintosh LC III</string>
    <key>ram</key>
    <array>
      <dict>
        <key>intValue</key>
        <integer>4194304</integer>
        <key>description</key>
        <string>4M</string>
        <key>value</key>
        <string>4M</string>
        <key>default</key>
        <true/>
      </dict>
      <dict>
        <key>intValue</key>
        <integer>8388608</integer>
        <key>description</key>
        <string>8M</string>
        <key>value</key>
        <string>8M</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>intValue</key>
        <integer>16777216</integer>
        <key>description</key>
        <string>16M</string>
        <key>value</key>
        <string>16M</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>intValue</key>
        <integer>33554432</integer>
        <key>description</key>
        <string>32M</string>
        <key>value</key>
        <string>32M</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>intValue</key>
        <integer>50331648</integer>
        <key>description</key>
        <string>48M</string>
        <key>value</key>
        <string>48M</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>intValue</key>
        <integer>67108864</integer>
        <key>description</key>
        <string>64M</string>
        <key>value</key>
        <string>64M</string>
        <key>default</key>
        <false/>
      </dict>
      <dict>
        <key>intValue</key>
        <integer>83886080</integer>
        <key>description</key>
        <string>80M</string>
        <key>value</key>
        <string>80M</string>
        <key>default</key>
        <false/>
      </dict>
    </array>
    <key>media</key>
    <dict>
      <key>flop_3_5</key>
      <integer>2</integer>
      <key>hard</key>
      <integer>2</integer>
      <key>cdrm</key>
      <integer>1</integer>
    </dict>
    <key>resolution</key>
    <array>
      <integer>640</integer>
      <integer>480</integer>
    </array>
  </dict>
</plist>
