<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>macse</string>
    <key>description</key>
    <string>Macintosh SE</string>
    <key>media</key>
    <dict>
      <key>hard</key>
      <integer>2</integer>
    </dict>
    <key>resolution</key>
    <array>
      <integer>512</integer>
      <integer>342</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>ramsize</string>
        <key>description</key>
        <string>RAM</string>
        <key>options</key>
        <array>
          <dict>
            <key>intValue</key>
            <integer>2097152</integer>
            <key>description</key>
            <string>2M</string>
            <key>value</key>
            <string>2M</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>2621440</integer>
            <key>description</key>
            <string>2560K</string>
            <key>value</key>
            <string>2560K</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>4194304</integer>
            <key>description</key>
            <string>4M</string>
            <key>value</key>
            <string>4M</string>
            <key>default</key>
            <true/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>description</key>
        <string>Disk Drives</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string></string>
            <key>devname</key>
            <string>smartport</string>
            <key>default</key>
            <true/>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>fdc:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>35dd</string>
                <key>description</key>
                <string>3.5" DD</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35hd</string>
                <key>description</key>
                <string>3.5" HD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35sd</string>
                <key>description</key>
                <string>3.5" SD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>fdc:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>35dd</string>
                <key>description</key>
                <string>3.5" DD</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35hd</string>
                <key>description</key>
                <string>3.5" HD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35sd</string>
                <key>description</key>
                <string>3.5" SD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
      <string>mac_flop.xml</string>
      <string>mac_hdd.xml</string>
    </array>
  </dict>
</plist>
