<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>nws3410</string>
    <key>description</key>
    <string>NWS-3410</string>
    <key>media</key>
    <dict>
    </dict>
    <key>resolution</key>
    <array>
      <integer>640</integer>
      <integer>240</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>ramsize</string>
        <key>description</key>
        <string>RAM</string>
        <key>options</key>
        <array>
          <dict>
            <key>intValue</key>
            <integer>8388608</integer>
            <key>description</key>
            <string>8M</string>
            <key>value</key>
            <string>8M</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>12582912</integer>
            <key>description</key>
            <string>12M</string>
            <key>value</key>
            <string>12M</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>16777216</integer>
            <key>description</key>
            <string>16M</string>
            <key>value</key>
            <string>16M</string>
            <key>default</key>
            <false/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>bios</string>
        <key>description</key>
        <string>ROM</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—Default—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>nws3410</string>
            <key>description</key>
            <string>NWS-3410 v2.0</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>description</key>
        <string>Disk Drives</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string></string>
            <key>devname</key>
            <string>smartport</string>
            <key>default</key>
            <true/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>serial0</string>
        <key>description</key>
        <string>Serial 0</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>ie15</string>
            <key>description</key>
            <string>IE15 Terminal</string>
            <key>devname</key>
            <string>ie15_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>scorpion</string>
            <key>description</key>
            <string>Micro-Robotics Scorpion Intelligent Controller</string>
            <key>devname</key>
            <string>scorpion_ic</string>
          </dict>
          <dict>
            <key>value</key>
            <string>pty</string>
            <key>description</key>
            <string>Pseudo Terminal</string>
            <key>devname</key>
            <string>pseudo_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>rs_printer</string>
            <key>description</key>
            <string>Radio Shack Serial Printer</string>
            <key>devname</key>
            <string>rs_serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>patch</string>
            <key>description</key>
            <string>RS-232 Patch Box</string>
            <key>devname</key>
            <string>rs232_patch_box</string>
          </dict>
          <dict>
            <key>value</key>
            <string>loopback</string>
            <key>description</key>
            <string>RS232 Loopback</string>
            <key>devname</key>
            <string>rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>dec_loopback</string>
            <key>description</key>
            <string>RS232 Loopback (DEC 12-15336-00)</string>
            <key>devname</key>
            <string>dec_rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>null_modem</string>
            <key>description</key>
            <string>RS232 Null Modem</string>
            <key>devname</key>
            <string>null_modem</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>rs232_sync_io</string>
            <key>description</key>
            <string>RS232 Synchronous I/O</string>
            <key>devname</key>
            <string>rs232_sync_io</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>keyboard</string>
            <key>description</key>
            <string>Serial Keyboard</string>
            <key>devname</key>
            <string>serial_keyboard</string>
          </dict>
          <dict>
            <key>value</key>
            <string>printer</string>
            <key>description</key>
            <string>Serial Printer</string>
            <key>devname</key>
            <string>serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>terminal</string>
            <key>description</key>
            <string>Serial Terminal</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>serial_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>sunkbd</string>
            <key>description</key>
            <string>Sun Keyboard Adaptor</string>
            <key>devname</key>
            <string>sunkbd_adaptor</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mockingboard</string>
            <key>description</key>
            <string>Sweet Micro Systems Mockingboard D</string>
            <key>devname</key>
            <string>mockingboardd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>swtpc8212</string>
            <key>description</key>
            <string>SWTPC8212 Terminal</string>
            <key>devname</key>
            <string>swtpc8212_terminal</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>serial1</string>
        <key>description</key>
        <string>Serial 1</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>ie15</string>
            <key>description</key>
            <string>IE15 Terminal</string>
            <key>devname</key>
            <string>ie15_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>scorpion</string>
            <key>description</key>
            <string>Micro-Robotics Scorpion Intelligent Controller</string>
            <key>devname</key>
            <string>scorpion_ic</string>
          </dict>
          <dict>
            <key>value</key>
            <string>pty</string>
            <key>description</key>
            <string>Pseudo Terminal</string>
            <key>devname</key>
            <string>pseudo_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>rs_printer</string>
            <key>description</key>
            <string>Radio Shack Serial Printer</string>
            <key>devname</key>
            <string>rs_serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>patch</string>
            <key>description</key>
            <string>RS-232 Patch Box</string>
            <key>devname</key>
            <string>rs232_patch_box</string>
          </dict>
          <dict>
            <key>value</key>
            <string>loopback</string>
            <key>description</key>
            <string>RS232 Loopback</string>
            <key>devname</key>
            <string>rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>dec_loopback</string>
            <key>description</key>
            <string>RS232 Loopback (DEC 12-15336-00)</string>
            <key>devname</key>
            <string>dec_rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>null_modem</string>
            <key>description</key>
            <string>RS232 Null Modem</string>
            <key>devname</key>
            <string>null_modem</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>rs232_sync_io</string>
            <key>description</key>
            <string>RS232 Synchronous I/O</string>
            <key>devname</key>
            <string>rs232_sync_io</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>keyboard</string>
            <key>description</key>
            <string>Serial Keyboard</string>
            <key>devname</key>
            <string>serial_keyboard</string>
          </dict>
          <dict>
            <key>value</key>
            <string>printer</string>
            <key>description</key>
            <string>Serial Printer</string>
            <key>devname</key>
            <string>serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>terminal</string>
            <key>description</key>
            <string>Serial Terminal</string>
            <key>devname</key>
            <string>serial_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>sunkbd</string>
            <key>description</key>
            <string>Sun Keyboard Adaptor</string>
            <key>devname</key>
            <string>sunkbd_adaptor</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mockingboard</string>
            <key>description</key>
            <string>Sweet Micro Systems Mockingboard D</string>
            <key>devname</key>
            <string>mockingboardd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>swtpc8212</string>
            <key>description</key>
            <string>SWTPC8212 Terminal</string>
            <key>devname</key>
            <string>swtpc8212_terminal</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>fdc:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>35hd</string>
                <key>description</key>
                <string>3.5" HD</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:2</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:3</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:4</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:5</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:6</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>rs232_patch_box</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:dce</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>ie15</string>
                <key>description</key>
                <string>IE15 Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>scorpion</string>
                <key>description</key>
                <string>Micro-Robotics Scorpion Intelligent Controller</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>pty</string>
                <key>description</key>
                <string>Pseudo terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>rs_printer</string>
                <key>description</key>
                <string>Radio Shack Serial Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>patch</string>
                <key>description</key>
                <string>RS-232 Patch Box</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>loopback</string>
                <key>description</key>
                <string>RS232 Loopback</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>dec_loopback</string>
                <key>description</key>
                <string>RS232 Loopback (DEC 12-15336-00)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>null_modem</string>
                <key>description</key>
                <string>RS232 Null Modem</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>rs232_sync_io</string>
                <key>description</key>
                <string>RS232 Synchronous I/O</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>keyboard</string>
                <key>description</key>
                <string>Serial Keyboard</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>printer</string>
                <key>description</key>
                <string>Serial Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>terminal</string>
                <key>description</key>
                <string>Serial Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>sunkbd</string>
                <key>description</key>
                <string>Sun Keyboard Adaptor</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>mockingboard</string>
                <key>description</key>
                <string>Sweet Micro Systems Mockingboard D</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>swtpc8212</string>
                <key>description</key>
                <string>SWTPC8212 Terminal</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sunkbd_adaptor</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:keyboard</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>type3hle</string>
                <key>description</key>
                <string>Sun Type 3 Keyboard (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type4hle</string>
                <key>description</key>
                <string>Sun Type 4 Keyboard (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5gbhle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Great Britain - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5jphle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Japan - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5sehle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Sweden - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5hle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (U.S.A. - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
    </array>
  </dict>
</plist>
