<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>orica</string>
    <key>description</key>
    <string>Oric Atmos</string>
    <key>media</key>
    <dict>
    </dict>
    <key>resolution</key>
    <array>
      <integer>240</integer>
      <integer>224</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>bios</string>
        <key>description</key>
        <string>ROM</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—Default—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>ver11</string>
            <key>description</key>
            <string>Basic 1.1</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver12</string>
            <key>description</key>
            <string>Basic 1.2 (Pascal Leclerc)</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver121</string>
            <key>description</key>
            <string>Basic 1.21 (Pascal Leclerc)</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver122</string>
            <key>description</key>
            <string>Basic 1.22 (Pascal Leclerc)</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver11de</string>
            <key>description</key>
            <string>Basic 1.1 DE</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver11es</string>
            <key>description</key>
            <string>Basic 1.1 ES</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver11fr</string>
            <key>description</key>
            <string>Basic 1.1 FR</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver11se</string>
            <key>description</key>
            <string>Basic 1.1 SE</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver11uk</string>
            <key>description</key>
            <string>Basic 1.1 UK</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver12es</string>
            <key>description</key>
            <string>Basic 1.2 ES</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver12fr</string>
            <key>description</key>
            <string>Basic 1.2 FR</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver12ge</string>
            <key>description</key>
            <string>Basic 1.2 GE</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver12sw</string>
            <key>description</key>
            <string>Basic 1.2 SW</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver12uk</string>
            <key>description</key>
            <string>Basic 1.2 UK</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver121es</string>
            <key>description</key>
            <string>Basic 1.211 ES</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver121fr</string>
            <key>description</key>
            <string>Basic 1.211 FR</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver121ge</string>
            <key>description</key>
            <string>Basic 1.211 GE</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver121sw</string>
            <key>description</key>
            <string>Basic 1.211 SW</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver121uk</string>
            <key>description</key>
            <string>Basic 1.211 UK</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver122es</string>
            <key>description</key>
            <string>Basic 1.22 ES</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver122fr</string>
            <key>description</key>
            <string>Basic 1.22 FR</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver122ge</string>
            <key>description</key>
            <string>Basic 1.22 GE</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver122sw</string>
            <key>description</key>
            <string>Basic 1.22 SW</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ver122uk</string>
            <key>description</key>
            <string>Basic 1.22 UK</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>centronics</string>
        <key>description</key>
        <string>Printer</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>printer</string>
            <key>description</key>
            <string>Centronics Printer</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>centronics_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>pl80</string>
            <key>description</key>
            <string>COMX PL-80</string>
            <key>devname</key>
            <string>comx_pl80</string>
          </dict>
          <dict>
            <key>value</key>
            <string>covox_stereo</string>
            <key>description</key>
            <string>Covox (Stereo-in-1)</string>
            <key>devname</key>
            <string>covox_stereo</string>
          </dict>
          <dict>
            <key>value</key>
            <string>covox</string>
            <key>description</key>
            <string>Covox Speech Thing</string>
            <key>devname</key>
            <string>covox</string>
          </dict>
          <dict>
            <key>value</key>
            <string>digiblst</string>
            <key>description</key>
            <string>Digiblaster (DIY)</string>
            <key>devname</key>
            <string>cpcdigiblst</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ap2000</string>
            <key>description</key>
            <string>Epson ActionPrinter 2000</string>
            <key>devname</key>
            <string>ap2000</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ex800</string>
            <key>description</key>
            <string>Epson EX-800</string>
            <key>devname</key>
            <string>ex800</string>
          </dict>
          <dict>
            <key>value</key>
            <string>lx800</string>
            <key>description</key>
            <string>Epson LX-800</string>
            <key>devname</key>
            <string>lx800</string>
          </dict>
          <dict>
            <key>value</key>
            <string>lx810l</string>
            <key>description</key>
            <string>Epson LX-810L</string>
            <key>devname</key>
            <string>lx810l</string>
          </dict>
          <dict>
            <key>value</key>
            <string>rx80</string>
            <key>description</key>
            <string>Epson RX-80</string>
            <key>devname</key>
            <string>epson_rx80</string>
          </dict>
          <dict>
            <key>value</key>
            <string>p72</string>
            <key>description</key>
            <string>NEC PinWriter P72</string>
            <key>devname</key>
            <string>p72</string>
          </dict>
          <dict>
            <key>value</key>
            <string>samdac</string>
            <key>description</key>
            <string>SAMDAC</string>
            <key>devname</key>
            <string>centronics_samdac</string>
          </dict>
          <dict>
            <key>value</key>
            <string>nlq401</string>
            <key>description</key>
            <string>Schneider NLQ 401 Matrix Printer</string>
            <key>devname</key>
            <string>nlq401</string>
          </dict>
          <dict>
            <key>value</key>
            <string>chessmec</string>
            <key>description</key>
            <string>Tasc ChessMachine EC Interface</string>
            <key>devname</key>
            <string>centronics_chessmec</string>
          </dict>
          <dict>
            <key>value</key>
            <string>smartboard</string>
            <key>description</key>
            <string>Tasc SmartBoard SB30 Interface</string>
            <key>devname</key>
            <string>centronics_smartboard</string>
          </dict>
          <dict>
            <key>value</key>
            <string>adaptator</string>
            <key>description</key>
            <string>The Adaptator 2x DE-9 Multitap</string>
            <key>devname</key>
            <string>adaptator_multitap</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>ext</string>
        <key>description</key>
        <string>Expansion</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>jasmin</string>
            <key>description</key>
            <string>Jasmin Floppy Drive Interface</string>
            <key>devname</key>
            <string>oric_jasmin</string>
          </dict>
          <dict>
            <key>value</key>
            <string>microdisc</string>
            <key>description</key>
            <string>Microdisc Floppy Drive Interface</string>
            <key>devname</key>
            <string>oric_microdisc</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>adaptator_multitap</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:joy_p1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>joy</string>
                <key>description</key>
                <string>Atari / CBM Digital joystick</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>wheel</string>
                <key>description</key>
                <string>Atari / CBM Driving Wheel</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>pad</string>
                <key>description</key>
                <string>Atari / CBM Dual paddles</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>keypad</string>
                <key>description</key>
                <string>Atari / CBM Keypad</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>lp</string>
                <key>description</key>
                <string>Atari / CBM Light Pen</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>mouse</string>
                <key>description</key>
                <string>Atari / CBM Mouse</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>trakball</string>
                <key>description</key>
                <string>Atari CX22/CX80 Trak-Ball</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cx85</string>
                <key>description</key>
                <string>Atari CX85 Numeric Keypad</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>joybstr</string>
                <key>description</key>
                <string>CBS Electronics Booster-Grip Joystick Adaptor</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:joy_p2</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>joy</string>
                <key>description</key>
                <string>Atari / CBM Digital joystick</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>wheel</string>
                <key>description</key>
                <string>Atari / CBM Driving Wheel</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>pad</string>
                <key>description</key>
                <string>Atari / CBM Dual paddles</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>keypad</string>
                <key>description</key>
                <string>Atari / CBM Keypad</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>lp</string>
                <key>description</key>
                <string>Atari / CBM Light Pen</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>mouse</string>
                <key>description</key>
                <string>Atari / CBM Mouse</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>trakball</string>
                <key>description</key>
                <string>Atari CX22/CX80 Trak-Ball</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cx85</string>
                <key>description</key>
                <string>Atari CX85 Numeric Keypad</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>joybstr</string>
                <key>description</key>
                <string>CBS Electronics Booster-Grip Joystick Adaptor</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>oric_jasmin</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:fdc:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>3dsdd</string>
                <key>description</key>
                <string>3" double-sided double density floppy drive</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:fdc:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>3dsdd</string>
                <key>description</key>
                <string>3" double-sided double density floppy drive</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:fdc:2</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>3dsdd</string>
                <key>description</key>
                <string>3" double-sided double density floppy drive</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:fdc:3</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>3dsdd</string>
                <key>description</key>
                <string>3" double-sided double density floppy drive</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>oric_microdisc</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:fdc:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>3dsdd</string>
                <key>description</key>
                <string>3" double-sided double density floppy drive</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>3dsqd</string>
                <key>description</key>
                <string>3" double-sided quad density floppy drive</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:fdc:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>3dsdd</string>
                <key>description</key>
                <string>3" double-sided double density floppy drive</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>3dsqd</string>
                <key>description</key>
                <string>3" double-sided quad density floppy drive</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:fdc:2</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>3dsdd</string>
                <key>description</key>
                <string>3" double-sided double density floppy drive</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>3dsqd</string>
                <key>description</key>
                <string>3" double-sided quad density floppy drive</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:fdc:3</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>3dsdd</string>
                <key>description</key>
                <string>3" double-sided double density floppy drive</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>3dsqd</string>
                <key>description</key>
                <string>3" double-sided quad density floppy drive</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
      <string>oric1_cass.xml</string>
    </array>
  </dict>
</plist>
