<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>roms</key>
    <array>
      <string>a1cass</string>
      <string>a2aevm80</string>
      <string>a2ap16</string>
      <string>a2ap16a</string>
      <string>a2aplcrd</string>
      <string>a2booti</string>
      <string>a2bufgrapplerplus</string>
      <string>a2bufgrapplerplusa</string>
      <string>a2cffa02</string>
      <string>a2cffa2</string>
      <string>a2corvus</string>
      <string>a2diskii</string>
      <string>a2diskiing</string>
      <string>a2focdrv</string>
      <string>a2grappler</string>
      <string>a2grapplerplus</string>
      <string>a2hsscsi</string>
      <string>a2iwm</string>
      <string>a2lancegs</string>
      <string>a2memexp</string>
      <string>a2mouse</string>
      <string>a2parprn</string>
      <string>a2pdromdr</string>
      <string>a2pic</string>
      <string>a2q68</string>
      <string>a2q68plus</string>
      <string>a2ramfac</string>
      <string>a2scsi</string>
      <string>a2sd</string>
      <string>a2sider1</string>
      <string>a2sider2</string>
      <string>a2ssc</string>
      <string>a2suprterm</string>
      <string>a2surance</string>
      <string>a2swyft</string>
      <string>a2thunpl</string>
      <string>a2tmstho</string>
      <string>a2twarp</string>
      <string>a2ultrme</string>
      <string>a2ulttrm</string>
      <string>a2uniprint</string>
      <string>a2vidtrm</string>
      <string>a2vtc1</string>
      <string>a2vulcan</string>
      <string>a2vulgld</string>
      <string>a2vuliie</string>
      <string>a2zipdrv</string>
      <string>a3fdc</string>
      <string>ace100</string>
      <string>ace1000</string>
      <string>ace2200</string>
      <string>ace500</string>
      <string>agat7</string>
      <string>agat7_flop</string>
      <string>agat840k_hle</string>
      <string>agat9</string>
      <string>agat9_flop</string>
      <string>agat_fdc</string>
      <string>albert</string>
      <string>am100</string>
      <string>am64</string>
      <string>ap2000</string>
      <string>apple1</string>
      <string>apple2</string>
      <string>apple2c</string>
      <string>apple2c0</string>
      <string>apple2c3</string>
      <string>apple2c4</string>
      <string>apple2cp</string>
      <string>apple2e</string>
      <string>apple2ee</string>
      <string>apple2eefr</string>
      <string>apple2ees</string>
      <string>apple2eeuk</string>
      <string>apple2ep</string>
      <string>apple2euk</string>
      <string>apple2gs</string>
      <string>apple2gsr0</string>
      <string>apple2gsr0p</string>
      <string>apple2gsr0p2</string>
      <string>apple2gsr1</string>
      <string>apple2jp</string>
      <string>apple2p</string>
      <string>apple3</string>
      <string>aprissi</string>
      <string>basis108</string>
      <string>ccs7710</string>
      <string>cec2000</string>
      <string>cece</string>
      <string>cecg</string>
      <string>ceci</string>
      <string>cecm</string>
      <string>cffa1</string>
      <string>cga</string>
      <string>chessmachine</string>
      <string>cmsscsi</string>
      <string>comx_pl80</string>
      <string>craft2p</string>
      <string>d2fdc</string>
      <string>diskii13</string>
      <string>dodo</string>
      <string>egret</string>
      <string>elppa</string>
      <string>ex800</string>
      <string>hkc8800a</string>
      <string>ie15_device</string>
      <string>ie15kbd</string>
      <string>ivelultr</string>
      <string>kb_ec1841</string>
      <string>kb_iskr1030</string>
      <string>kb_pcxt83</string>
      <string>keytronic_pc3270</string>
      <string>las128e2</string>
      <string>las128ex</string>
      <string>laser128</string>
      <string>laser128o</string>
      <string>laser2c</string>
      <string>lx800</string>
      <string>lx810l</string>
      <string>m68705p3</string>
      <string>mac128k</string>
      <string>mac2fdhd</string>
      <string>mac512k</string>
      <string>macclas2</string>
      <string>macclasc</string>
      <string>macii</string>
      <string>maciici</string>
      <string>maciisi</string>
      <string>maciivx</string>
      <string>mackbd_m0110</string>
      <string>mackbd_m0110a</string>
      <string>mackbd_m0110a_f</string>
      <string>mackbd_m0110a_j</string>
      <string>mackbd_m0110b</string>
      <string>mackbd_m0110f</string>
      <string>mackbd_m0110t</string>
      <string>mackbd_m0120</string>
      <string>mackbd_m0120p</string>
      <string>maclc</string>
      <string>maclc2</string>
      <string>maclc3</string>
      <string>macplus</string>
      <string>macse</string>
      <string>macse30</string>
      <string>macsefd</string>
      <string>maxxi</string>
      <string>microeng</string>
      <string>mockingboardd</string>
      <string>mprof3</string>
      <string>nb_48gc</string>
      <string>nb_824gc</string>
      <string>nb_aenet</string>
      <string>nb_amc3b</string>
      <string>nb_btbug</string>
      <string>nb_c264</string>
      <string>nb_image</string>
      <string>nb_laserview</string>
      <string>nb_m2hr</string>
      <string>nb_m2vc</string>
      <string>nb_qdlink</string>
      <string>nb_rtpd</string>
      <string>nb_sp8s3</string>
      <string>nb_spdq</string>
      <string>nb_vikbw</string>
      <string>nb_wspt</string>
      <string>p72</string>
      <string>pd3_30hr</string>
      <string>pd3_c264</string>
      <string>pd3_lviw</string>
      <string>pd3_mclr</string>
      <string>pd3_pc16</string>
      <string>pds_hyper</string>
      <string>pds_sefp</string>
      <string>prav82</string>
      <string>prav8c</string>
      <string>prav8m</string>
      <string>qsound</string>
      <string>softcard3</string>
      <string>space84</string>
      <string>spectred</string>
      <string>swtpc8212_device</string>
      <string>tk3000</string>
      <string>uniap2en</string>
      <string>uniap2pt</string>
      <string>uniap2ti</string>
      <string>upd7220</string>
      <string>votrax</string>
      <string>ym2413</string>
      <string>ym2608</string>
      <string>zijini</string>
    </array>
  </dict>
</plist>
