<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>source</key>
    <string>https://archive.org/download/mame0224_rom</string>
    <key>type</key>
    <string>7z</string>
    <key>version</key>
    <string>0.224</string>
    <key>roms</key>
    <array>
      <string>a1cass</string>
      <string>a2aevm80</string>
      <string>a2ap16</string>
      <string>a2ap16a</string>
      <string>a2aplcrd</string>
      <string>a2cffa02</string>
      <string>a2cffa2</string>
      <string>a2corvus</string>
      <string>a2diskii</string>
      <string>a2diskiing</string>
      <string>a2focdrv</string>
      <string>a2hsscsi</string>
      <string>a2iwm</string>
      <string>a2memexp</string>
      <string>a2mouse</string>
      <string>a2pic</string>
      <string>a2ramfac</string>
      <string>a2scsi</string>
      <string>a2ssc</string>
      <string>a2surance</string>
      <string>a2swyft</string>
      <string>a2thunpl</string>
      <string>a2tmstho</string>
      <string>a2twarp</string>
      <string>a2ultrme</string>
      <string>a2ulttrm</string>
      <string>a2vidtrm</string>
      <string>a2vtc1</string>
      <string>a2vulcan</string>
      <string>a2vulgld</string>
      <string>a2vuliie</string>
      <string>a2zipdrv</string>
      <string>a3fdc</string>
      <string>apple1</string>
      <string>apple2</string>
      <string>apple2c</string>
      <string>apple2e</string>
      <string>apple2gs</string>
      <string>apple3</string>
      <string>cec2000</string>
      <string>cece</string>
      <string>cecg</string>
      <string>ceci</string>
      <string>cecm</string>
      <string>cga</string>
      <string>cmsscsi</string>
      <string>d2fdc</string>
      <string>diskii13</string>
      <string>keytronic_pc3270</string>
      <string>m68705p3</string>
      <string>votrax</string>
      <string>zijini</string>
    </array>
  </dict>
</plist>
