<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>value</key>
      <string>a2lancegs</string>
      <key>description</key>
      <string>///SHH Systeme LANceGS</string>
    </dict>
    <dict>
      <key>value</key>
      <string>ie15kbd</string>
      <key>description</key>
      <string>15WWW-97-006 Keyboard</string>
    </dict>
    <dict>
      <key>value</key>
      <string>am64</string>
      <key>description</key>
      <string>AM 64</string>
    </dict>
    <dict>
      <key>value</key>
      <string>am100</string>
      <key>description</key>
      <string>AM100</string>
    </dict>
    <dict>
      <key>value</key>
      <string>agat840k_hle</string>
      <key>description</key>
      <string>Agat 840K floppy card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>agat_fdc</string>
      <key>description</key>
      <string>Agat 840K floppy controller card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>agat7</string>
      <key>description</key>
      <string>Agat-7</string>
    </dict>
    <dict>
      <key>value</key>
      <string>agat7_flop</string>
      <key>description</key>
      <string>Agat-7 140K floppy card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>agat9</string>
      <key>description</key>
      <string>Agat-9</string>
    </dict>
    <dict>
      <key>value</key>
      <string>agat9_flop</string>
      <key>description</key>
      <string>Agat-9 140K floppy card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>albert</string>
      <key>description</key>
      <string>Albert</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple3</string>
      <key>description</key>
      <string>Apple ///</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2c</string>
      <key>description</key>
      <string>Apple //c</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2c3</string>
      <key>description</key>
      <string>Apple //c (Original Memory Expansion)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2c0</string>
      <key>description</key>
      <string>Apple //c (UniDisk 3.5)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2c4</string>
      <key>description</key>
      <string>Apple //c (rev 4)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2cp</string>
      <key>description</key>
      <string>Apple //c Plus</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2e</string>
      <key>description</key>
      <string>Apple //e</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2ep</string>
      <key>description</key>
      <string>Apple //e (Platinum)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2ees</string>
      <key>description</key>
      <string>Apple //e (Spain)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2euk</string>
      <key>description</key>
      <string>Apple //e (UK)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2ee</string>
      <key>description</key>
      <string>Apple //e (enhanced)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2eefr</string>
      <key>description</key>
      <string>Apple //e (enhanced, France)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2eeuk</string>
      <key>description</key>
      <string>Apple //e (enhanced, UK)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_48gc</string>
      <key>description</key>
      <string>Apple 4*8 video card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_824gc</string>
      <key>description</key>
      <string>Apple 8*24 video card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2iwm</string>
      <key>description</key>
      <string>Apple Disk II IWM controller</string>
    </dict>
    <dict>
      <key>value</key>
      <string>diskii13</string>
      <key>description</key>
      <string>Apple Disk II NG controller (13-sector)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2diskiing</string>
      <key>description</key>
      <string>Apple Disk II NG controller (16-sector)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2diskii</string>
      <key>description</key>
      <string>Apple Disk II controller</string>
    </dict>
    <dict>
      <key>value</key>
      <string>d2fdc</string>
      <key>description</key>
      <string>Apple Disk II floppy controller</string>
    </dict>
    <dict>
      <key>value</key>
      <string>egret</string>
      <key>description</key>
      <string>Apple Egret</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple1</string>
      <key>description</key>
      <string>Apple I</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a1cass</string>
      <key>description</key>
      <string>Apple I cassette board</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2superdrive</string>
      <key>description</key>
      <string>Apple II 3.5" Disk Controller Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2hsscsi</string>
      <key>description</key>
      <string>Apple II High-Speed SCSI Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2memexp</string>
      <key>description</key>
      <string>Apple II Memory Expansion Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2mouse</string>
      <key>description</key>
      <string>Apple II Mouse Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2pic</string>
      <key>description</key>
      <string>Apple II Parallel Interface Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2parprn</string>
      <key>description</key>
      <string>Apple II Parallel Printer Interface Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2scsi</string>
      <key>description</key>
      <string>Apple II SCSI Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2sd</string>
      <key>description</key>
      <string>Apple II SD Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a3fdc</string>
      <key>description</key>
      <string>Apple III floppy controller</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2gsr0p2</string>
      <key>description</key>
      <string>Apple IIgs (ROM00 prototype 3/10/1986)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2gsr0p</string>
      <key>description</key>
      <string>Apple IIgs (ROM00 prototype 6/19/1986)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2gsr0</string>
      <key>description</key>
      <string>Apple IIgs (ROM00)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2gsr1</string>
      <key>description</key>
      <string>Apple IIgs (ROM01)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2gs</string>
      <key>description</key>
      <string>Apple IIgs (ROM03)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_aenet</string>
      <key>description</key>
      <string>Apple NuBus Ethernet card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2ssc</string>
      <key>description</key>
      <string>Apple Super Serial Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2</string>
      <key>description</key>
      <string>Apple ][</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2jp</string>
      <key>description</key>
      <string>Apple ][ J-Plus</string>
    </dict>
    <dict>
      <key>value</key>
      <string>apple2p</string>
      <key>description</key>
      <string>Apple ][+</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2surance</string>
      <key>description</key>
      <string>Applesurance Diagnostic Controller</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_qdlink</string>
      <key>description</key>
      <string>Applied Engineering Quadralink serial card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2ramfac</string>
      <key>description</key>
      <string>Applied Engineering RamFactor</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2tmstho</string>
      <key>description</key>
      <string>Applied Engineering TimeMaster H.O.</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2twarp</string>
      <key>description</key>
      <string>Applied Engineering TransWarp</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2aevm80</string>
      <key>description</key>
      <string>Applied Engineering Viewmaster 80</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2vulgld</string>
      <key>description</key>
      <string>Applied Engineering Vulcan Gold IDE controller (IIgs version)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2vuliie</string>
      <key>description</key>
      <string>Applied Engineering Vulcan IDE controller (//e version)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2vulcan</string>
      <key>description</key>
      <string>Applied Engineering Vulcan IDE controller (IIgs version)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>aprissi</string>
      <key>description</key>
      <string>Apricorn Super Serial Imager</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_amc3b</string>
      <key>description</key>
      <string>Asante MC3NB Ethernet card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>basis108</string>
      <key>description</key>
      <string>Basis 108</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2booti</string>
      <key>description</key>
      <string>Booti Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_btbug</string>
      <key>description</key>
      <string>Brigent BootBug debugger card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>ccs7710</string>
      <key>description</key>
      <string>CCS Model 7710 Asynchronous Serial Interface</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2cffa02</string>
      <key>description</key>
      <string>CFFA 2.0 Compact Flash (6502 firmware, www.dreher.net)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2cffa2</string>
      <key>description</key>
      <string>CFFA 2.0 Compact Flash (65C02 firmware, www.dreher.net)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>cffa1</string>
      <key>description</key>
      <string>CFFA Compact Flash for Apple I</string>
    </dict>
    <dict>
      <key>value</key>
      <string>cmsscsi</string>
      <key>description</key>
      <string>CMS SCSI II Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>comx_pl80</string>
      <key>description</key>
      <string>COMX PL-80</string>
    </dict>
    <dict>
      <key>value</key>
      <string>cec2000</string>
      <key>description</key>
      <string>China Education Computer 2000</string>
    </dict>
    <dict>
      <key>value</key>
      <string>cece</string>
      <key>description</key>
      <string>China Education Computer E</string>
    </dict>
    <dict>
      <key>value</key>
      <string>cecg</string>
      <key>description</key>
      <string>China Education Computer G</string>
    </dict>
    <dict>
      <key>value</key>
      <string>ceci</string>
      <key>description</key>
      <string>China Education Computer I</string>
    </dict>
    <dict>
      <key>value</key>
      <string>cecm</string>
      <key>description</key>
      <string>China Education Computer M</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2corvus</string>
      <key>description</key>
      <string>Corvus Flat Cable interface</string>
    </dict>
    <dict>
      <key>value</key>
      <string>craft2p</string>
      <key>description</key>
      <string>Craft II+</string>
    </dict>
    <dict>
      <key>value</key>
      <string>dodo</string>
      <key>description</key>
      <string>Do-Do</string>
    </dict>
    <dict>
      <key>value</key>
      <string>kb_ec1841</string>
      <key>description</key>
      <string>EC-1841 Keyboard</string>
    </dict>
    <dict>
      <key>value</key>
      <string>elppa</string>
      <key>description</key>
      <string>Elppa II+</string>
    </dict>
    <dict>
      <key>value</key>
      <string>ap2000</string>
      <key>description</key>
      <string>Epson ActionPrinter 2000</string>
    </dict>
    <dict>
      <key>value</key>
      <string>ex800</string>
      <key>description</key>
      <string>Epson EX-800</string>
    </dict>
    <dict>
      <key>value</key>
      <string>lx800</string>
      <key>description</key>
      <string>Epson LX-800</string>
    </dict>
    <dict>
      <key>value</key>
      <string>lx810l</string>
      <key>description</key>
      <string>Epson LX-810L</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2sider1</string>
      <key>description</key>
      <string>First Class Peripherals Sider 1 SASI Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2sider2</string>
      <key>description</key>
      <string>First Class Peripherals Sider 2 SASI Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>ace100</string>
      <key>description</key>
      <string>Franklin ACE 100</string>
    </dict>
    <dict>
      <key>value</key>
      <string>ace1000</string>
      <key>description</key>
      <string>Franklin ACE 1000</string>
    </dict>
    <dict>
      <key>value</key>
      <string>ace2200</string>
      <key>description</key>
      <string>Franklin ACE 2200</string>
    </dict>
    <dict>
      <key>value</key>
      <string>ace500</string>
      <key>description</key>
      <string>Franklin ACE 500</string>
    </dict>
    <dict>
      <key>value</key>
      <string>pds_hyper</string>
      <key>description</key>
      <string>GCC HyperDrive</string>
    </dict>
    <dict>
      <key>value</key>
      <string>hkc8800a</string>
      <key>description</key>
      <string>HKC 8800A</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2swyft</string>
      <key>description</key>
      <string>IAI SwyftCard</string>
    </dict>
    <dict>
      <key>value</key>
      <string>cga</string>
      <key>description</key>
      <string>IBM Color/Graphics Monitor Adapter</string>
    </dict>
    <dict>
      <key>value</key>
      <string>kb_pcxt83</string>
      <key>description</key>
      <string>IBM PC/XT Keyboard</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2ap16</string>
      <key>description</key>
      <string>IBS AP-16 80 column card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2ap16a</string>
      <key>description</key>
      <string>IBS AP-16 80 column card (alt. version)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>ie15_device</string>
      <key>description</key>
      <string>IE15</string>
    </dict>
    <dict>
      <key>value</key>
      <string>kb_iskr1030</string>
      <key>description</key>
      <string>Iskra-1030 Keyboard</string>
    </dict>
    <dict>
      <key>value</key>
      <string>ivelultr</string>
      <key>description</key>
      <string>Ivel Ultra</string>
    </dict>
    <dict>
      <key>value</key>
      <string>keytronic_pc3270</string>
      <key>description</key>
      <string>Keytronic PC3270</string>
    </dict>
    <dict>
      <key>value</key>
      <string>pd3_pc16</string>
      <key>description</key>
      <string>Lapis ProColor Server 8*16</string>
    </dict>
    <dict>
      <key>value</key>
      <string>laser2c</string>
      <key>description</key>
      <string>Laser //c</string>
    </dict>
    <dict>
      <key>value</key>
      <string>laser128</string>
      <key>description</key>
      <string>Laser 128</string>
    </dict>
    <dict>
      <key>value</key>
      <string>laser128o</string>
      <key>description</key>
      <string>Laser 128 (original hardware)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>las128ex</string>
      <key>description</key>
      <string>Laser 128ex (version 4.5)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>las128e2</string>
      <key>description</key>
      <string>Laser 128ex2 (version 6.1)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2suprterm</string>
      <key>description</key>
      <string>M&amp;R Enterprises SUP'R'TERMINAL</string>
    </dict>
    <dict>
      <key>value</key>
      <string>mac128k</string>
      <key>description</key>
      <string>Macintosh 128k</string>
    </dict>
    <dict>
      <key>value</key>
      <string>mac512k</string>
      <key>description</key>
      <string>Macintosh 512k</string>
    </dict>
    <dict>
      <key>value</key>
      <string>macclasc</string>
      <key>description</key>
      <string>Macintosh Classic</string>
    </dict>
    <dict>
      <key>value</key>
      <string>macclas2</string>
      <key>description</key>
      <string>Macintosh Classic II</string>
    </dict>
    <dict>
      <key>value</key>
      <string>macii</string>
      <key>description</key>
      <string>Macintosh II</string>
    </dict>
    <dict>
      <key>value</key>
      <string>mac2fdhd</string>
      <key>description</key>
      <string>Macintosh II (FDHD)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_m2hr</string>
      <key>description</key>
      <string>Macintosh II Hi-Resolution video card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_wspt</string>
      <key>description</key>
      <string>Macintosh II Portrait Video Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_m2vc</string>
      <key>description</key>
      <string>Macintosh II Video Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>maciici</string>
      <key>description</key>
      <string>Macintosh IIci</string>
    </dict>
    <dict>
      <key>value</key>
      <string>maciisi</string>
      <key>description</key>
      <string>Macintosh IIsi</string>
    </dict>
    <dict>
      <key>value</key>
      <string>maciivx</string>
      <key>description</key>
      <string>Macintosh IIvx</string>
    </dict>
    <dict>
      <key>value</key>
      <string>mackbd_m0110b</string>
      <key>description</key>
      <string>Macintosh Keyboard (British - M0110B)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>mackbd_m0110f</string>
      <key>description</key>
      <string>Macintosh Keyboard (French - M0110F)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>mackbd_m0110t</string>
      <key>description</key>
      <string>Macintosh Keyboard (Italian - M0110T)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>mackbd_m0110</string>
      <key>description</key>
      <string>Macintosh Keyboard (U.S. - M0110)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>maclc</string>
      <key>description</key>
      <string>Macintosh LC</string>
    </dict>
    <dict>
      <key>value</key>
      <string>maclc2</string>
      <key>description</key>
      <string>Macintosh LC II</string>
    </dict>
    <dict>
      <key>value</key>
      <string>maclc3</string>
      <key>description</key>
      <string>Macintosh LC III</string>
    </dict>
    <dict>
      <key>value</key>
      <string>mackbd_m0120</string>
      <key>description</key>
      <string>Macintosh Numeric Keypad (English - M0120)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>mackbd_m0120p</string>
      <key>description</key>
      <string>Macintosh Numeric Keypad (European - M0120P)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>macplus</string>
      <key>description</key>
      <string>Macintosh Plus</string>
    </dict>
    <dict>
      <key>value</key>
      <string>mackbd_m0110a_f</string>
      <key>description</key>
      <string>Macintosh Plus Keyboard (French - M0110A F)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>mackbd_m0110a_j</string>
      <key>description</key>
      <string>Macintosh Plus Keyboard (Japanese - M0110A J)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>mackbd_m0110a</string>
      <key>description</key>
      <string>Macintosh Plus Keyboard (U.S. - M0110A)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>macse</string>
      <key>description</key>
      <string>Macintosh SE</string>
    </dict>
    <dict>
      <key>value</key>
      <string>macsefd</string>
      <key>description</key>
      <string>Macintosh SE (FDHD)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>macse30</string>
      <key>description</key>
      <string>Macintosh SE/30</string>
    </dict>
    <dict>
      <key>value</key>
      <string>maxxi</string>
      <key>description</key>
      <string>Maxxi</string>
    </dict>
    <dict>
      <key>value</key>
      <string>microeng</string>
      <key>description</key>
      <string>Micro Engenho</string>
    </dict>
    <dict>
      <key>value</key>
      <string>pd3_30hr</string>
      <key>description</key>
      <string>Micron/XCEED Technology Color 30HR</string>
    </dict>
    <dict>
      <key>value</key>
      <string>pd3_mclr</string>
      <key>description</key>
      <string>Micron/XCEED Technology MacroColor 30</string>
    </dict>
    <dict>
      <key>value</key>
      <string>mprof3</string>
      <key>description</key>
      <string>Microprofessor III</string>
    </dict>
    <dict>
      <key>value</key>
      <string>softcard3</string>
      <key>description</key>
      <string>Microsoft SoftCard ///</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_vikbw</string>
      <key>description</key>
      <string>Moniterm Viking video card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>m68705p3</string>
      <key>description</key>
      <string>Motorola MC68705P3</string>
    </dict>
    <dict>
      <key>value</key>
      <string>p72</string>
      <key>description</key>
      <string>NEC PinWriter P72</string>
    </dict>
    <dict>
      <key>value</key>
      <string>upd7220</string>
      <key>description</key>
      <string>NEC uPD7220</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_image</string>
      <key>description</key>
      <string>NuBus Disk Image Pseudo-Card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2bufgrapplerplusa</string>
      <key>description</key>
      <string>Orange Micro Buffered Grappler+ (rev A) Printer Interface</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2bufgrapplerplus</string>
      <key>description</key>
      <string>Orange Micro Buffered Grappler+ Printer Interface</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2grappler</string>
      <key>description</key>
      <string>Orange Micro Grappler Printer Interface</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2grapplerplus</string>
      <key>description</key>
      <string>Orange Micro Grappler+ Printer Interface</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2aplcrd</string>
      <key>description</key>
      <string>PCPI Applicard</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2focdrv</string>
      <key>description</key>
      <string>Parsons Engineering Focus Drive</string>
    </dict>
    <dict>
      <key>value</key>
      <string>prav82</string>
      <key>description</key>
      <string>Pravetz 82</string>
    </dict>
    <dict>
      <key>value</key>
      <string>prav8c</string>
      <key>description</key>
      <string>Pravetz 8C</string>
    </dict>
    <dict>
      <key>value</key>
      <string>prav8m</string>
      <key>description</key>
      <string>Pravetz 8M</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2pdromdr</string>
      <key>description</key>
      <string>ProDOS ROM Drive</string>
    </dict>
    <dict>
      <key>value</key>
      <string>qsound</string>
      <key>description</key>
      <string>QSound</string>
    </dict>
    <dict>
      <key>value</key>
      <string>pds_sefp</string>
      <key>description</key>
      <string>Radius SE Full Page Display</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_rtpd</string>
      <key>description</key>
      <string>Radius Two Page Display video card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_c264</string>
      <key>description</key>
      <string>RasterOps ColorBoard 264 video card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>pd3_c264</string>
      <key>description</key>
      <string>RasterOps Colorboard 264/SE30</string>
    </dict>
    <dict>
      <key>value</key>
      <string>swtpc8212_device</string>
      <key>description</key>
      <string>SWTPC8212</string>
    </dict>
    <dict>
      <key>value</key>
      <string>pd3_lviw</string>
      <key>description</key>
      <string>Sigma Designs L-View</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_laserview</string>
      <key>description</key>
      <string>Sigma Designs LaserView video card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>space84</string>
      <key>description</key>
      <string>Space 84</string>
    </dict>
    <dict>
      <key>value</key>
      <string>spectred</string>
      <key>description</key>
      <string>Spectrum ED</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2q68</string>
      <key>description</key>
      <string>Stellation Two Q-68</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2q68plus</string>
      <key>description</key>
      <string>Stellation Two Q-68 Plus</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_spdq</string>
      <key>description</key>
      <string>SuperMac Spectrum PDQ video card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>nb_sp8s3</string>
      <key>description</key>
      <string>SuperMac Spectrum/8 Series III video card</string>
    </dict>
    <dict>
      <key>value</key>
      <string>mockingboardd</string>
      <key>description</key>
      <string>Sweet Micro Systems Mockingboard D</string>
    </dict>
    <dict>
      <key>value</key>
      <string>tk3000</string>
      <key>description</key>
      <string>TK3000//e</string>
    </dict>
    <dict>
      <key>value</key>
      <string>chessmachine</string>
      <key>description</key>
      <string>Tasc ChessMachine</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2thunpl</string>
      <key>description</key>
      <string>ThunderWare ThunderClock Plus</string>
    </dict>
    <dict>
      <key>value</key>
      <string>uniap2pt</string>
      <key>description</key>
      <string>Unitron AP II (in Brazilian Portuguese)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>uniap2en</string>
      <key>description</key>
      <string>Unitron AP II (in English)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>uniap2ti</string>
      <key>description</key>
      <string>Unitron AP II+ (Teclado Inteligente)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2ultrme</string>
      <key>description</key>
      <string>Videx UltraTerm (enhanced //e)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2ulttrm</string>
      <key>description</key>
      <string>Videx UltraTerm (original)</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2uniprint</string>
      <key>description</key>
      <string>Videx Uniprint Printer Interface</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2vidtrm</string>
      <key>description</key>
      <string>Videx Videoterm 80 Column Display</string>
    </dict>
    <dict>
      <key>value</key>
      <string>votrax</string>
      <key>description</key>
      <string>Votrax SC-01</string>
    </dict>
    <dict>
      <key>value</key>
      <string>ym2413</string>
      <key>description</key>
      <string>YM2413 OPLL</string>
    </dict>
    <dict>
      <key>value</key>
      <string>ym2608</string>
      <key>description</key>
      <string>YM2608 OPNA</string>
    </dict>
    <dict>
      <key>value</key>
      <string>zijini</string>
      <key>description</key>
      <string>Zi Jin I</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2zipdrv</string>
      <key>description</key>
      <string>Zip Technologies ZipDrive</string>
    </dict>
    <dict>
      <key>value</key>
      <string>a2vtc1</string>
      <key>description</key>
      <string>unknown Videoterm clone</string>
    </dict>
  </array>
</plist>
