<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>rs3230</string>
    <key>description</key>
    <string>Magnum 3000</string>
    <key>media</key>
    <dict>
    </dict>
    <key>resolution</key>
    <array>
      <integer>1152</integer>
      <integer>900</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>ramsize</string>
        <key>description</key>
        <string>RAM</string>
        <key>options</key>
        <array>
          <dict>
            <key>intValue</key>
            <integer>16777216</integer>
            <key>description</key>
            <string>16M</string>
            <key>value</key>
            <string>16M</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>33554432</integer>
            <key>description</key>
            <string>32M</string>
            <key>value</key>
            <string>32M</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>67108864</integer>
            <key>description</key>
            <string>64M</string>
            <key>value</key>
            <string>64M</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>intValue</key>
            <integer>134217728</integer>
            <key>description</key>
            <string>128M</string>
            <key>value</key>
            <string>128M</string>
            <key>default</key>
            <false/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>bios</string>
        <key>description</key>
        <string>ROM</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—Default—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>v5.40</string>
            <key>description</key>
            <string>R3030 v5.40, Jun 1990</string>
          </dict>
          <dict>
            <key>value</key>
            <string>v5.42</string>
            <key>description</key>
            <string>R3030 v5.42, Mar 1991</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>description</key>
        <string>Disk Drives</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string></string>
            <key>devname</key>
            <string>smartport</string>
            <key>default</key>
            <true/>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>tty0</string>
        <key>description</key>
        <string>TTY 0</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>h19</string>
            <key>description</key>
            <string>Heath H19 Terminal (Serial Port)</string>
            <key>devname</key>
            <string>serial_heath_h19</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ie15</string>
            <key>description</key>
            <string>IE15 Terminal</string>
            <key>devname</key>
            <string>ie15_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>scorpion</string>
            <key>description</key>
            <string>Micro-Robotics Scorpion Intelligent Controller</string>
            <key>devname</key>
            <string>scorpion_ic</string>
          </dict>
          <dict>
            <key>value</key>
            <string>msystems_mouse</string>
            <key>description</key>
            <string>Mouse Systems Non-rotatable Mouse (HLE)</string>
            <key>devname</key>
            <string>rs232_mouse_hle_msystems</string>
          </dict>
          <dict>
            <key>value</key>
            <string>nss_tvi</string>
            <key>description</key>
            <string>Novag Super System TV Interface</string>
            <key>devname</key>
            <string>nss_tvinterface</string>
          </dict>
          <dict>
            <key>value</key>
            <string>pty</string>
            <key>description</key>
            <string>Pseudo Terminal</string>
            <key>devname</key>
            <string>pseudo_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>rs_printer</string>
            <key>description</key>
            <string>Radio Shack Serial Printer</string>
            <key>devname</key>
            <string>rs_serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>loopback</string>
            <key>description</key>
            <string>RS-232 Loopback</string>
            <key>devname</key>
            <string>rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>dec_loopback</string>
            <key>description</key>
            <string>RS-232 Loopback (DEC 12-15336-00)</string>
            <key>devname</key>
            <string>dec_rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>null_modem</string>
            <key>description</key>
            <string>RS-232 Null Modem</string>
            <key>devname</key>
            <string>null_modem</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>patch</string>
            <key>description</key>
            <string>RS-232 Patch Box</string>
            <key>devname</key>
            <string>rs232_patch_box</string>
          </dict>
          <dict>
            <key>value</key>
            <string>rs232_sync_io</string>
            <key>description</key>
            <string>RS-232 Synchronous I/O</string>
            <key>devname</key>
            <string>rs232_sync_io</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>keyboard</string>
            <key>description</key>
            <string>Serial Keyboard</string>
            <key>devname</key>
            <string>serial_keyboard</string>
          </dict>
          <dict>
            <key>value</key>
            <string>printer</string>
            <key>description</key>
            <string>Serial Printer</string>
            <key>devname</key>
            <string>serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>terminal</string>
            <key>description</key>
            <string>Serial Terminal</string>
            <key>devname</key>
            <string>serial_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>sunkbd</string>
            <key>description</key>
            <string>Sun Keyboard Adaptor</string>
            <key>devname</key>
            <string>sunkbd_adaptor</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mockingboard</string>
            <key>description</key>
            <string>Sweet Micro Systems Mockingboard D</string>
            <key>devname</key>
            <string>mockingboardd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>swtpc8212</string>
            <key>description</key>
            <string>SWTPC8212 Terminal</string>
            <key>devname</key>
            <string>swtpc8212_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>votraxtnt</string>
            <key>description</key>
            <string>Votrax Type 'N Talk (Serial Port)</string>
            <key>devname</key>
            <string>serial_votraxtnt</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>tty1</string>
        <key>description</key>
        <string>TTY 1</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>h19</string>
            <key>description</key>
            <string>Heath H19 Terminal (Serial Port)</string>
            <key>devname</key>
            <string>serial_heath_h19</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ie15</string>
            <key>description</key>
            <string>IE15 Terminal</string>
            <key>devname</key>
            <string>ie15_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>scorpion</string>
            <key>description</key>
            <string>Micro-Robotics Scorpion Intelligent Controller</string>
            <key>devname</key>
            <string>scorpion_ic</string>
          </dict>
          <dict>
            <key>value</key>
            <string>msystems_mouse</string>
            <key>description</key>
            <string>Mouse Systems Non-rotatable Mouse (HLE)</string>
            <key>devname</key>
            <string>rs232_mouse_hle_msystems</string>
          </dict>
          <dict>
            <key>value</key>
            <string>nss_tvi</string>
            <key>description</key>
            <string>Novag Super System TV Interface</string>
            <key>devname</key>
            <string>nss_tvinterface</string>
          </dict>
          <dict>
            <key>value</key>
            <string>pty</string>
            <key>description</key>
            <string>Pseudo Terminal</string>
            <key>devname</key>
            <string>pseudo_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>rs_printer</string>
            <key>description</key>
            <string>Radio Shack Serial Printer</string>
            <key>devname</key>
            <string>rs_serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>loopback</string>
            <key>description</key>
            <string>RS-232 Loopback</string>
            <key>devname</key>
            <string>rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>dec_loopback</string>
            <key>description</key>
            <string>RS-232 Loopback (DEC 12-15336-00)</string>
            <key>devname</key>
            <string>dec_rs232_loopback</string>
          </dict>
          <dict>
            <key>value</key>
            <string>null_modem</string>
            <key>description</key>
            <string>RS-232 Null Modem</string>
            <key>devname</key>
            <string>null_modem</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>patch</string>
            <key>description</key>
            <string>RS-232 Patch Box</string>
            <key>devname</key>
            <string>rs232_patch_box</string>
          </dict>
          <dict>
            <key>value</key>
            <string>rs232_sync_io</string>
            <key>description</key>
            <string>RS-232 Synchronous I/O</string>
            <key>devname</key>
            <string>rs232_sync_io</string>
            <key>media</key>
            <dict>
              <key>bitbanger</key>
              <integer>1</integer>
            </dict>
          </dict>
          <dict>
            <key>value</key>
            <string>keyboard</string>
            <key>description</key>
            <string>Serial Keyboard</string>
            <key>devname</key>
            <string>serial_keyboard</string>
          </dict>
          <dict>
            <key>value</key>
            <string>printer</string>
            <key>description</key>
            <string>Serial Printer</string>
            <key>devname</key>
            <string>serial_printer</string>
          </dict>
          <dict>
            <key>value</key>
            <string>terminal</string>
            <key>description</key>
            <string>Serial Terminal</string>
            <key>devname</key>
            <string>serial_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>sunkbd</string>
            <key>description</key>
            <string>Sun Keyboard Adaptor</string>
            <key>devname</key>
            <string>sunkbd_adaptor</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mockingboard</string>
            <key>description</key>
            <string>Sweet Micro Systems Mockingboard D</string>
            <key>devname</key>
            <string>mockingboardd</string>
          </dict>
          <dict>
            <key>value</key>
            <string>swtpc8212</string>
            <key>description</key>
            <string>SWTPC8212 Terminal</string>
            <key>devname</key>
            <string>swtpc8212_terminal</string>
          </dict>
          <dict>
            <key>value</key>
            <string>votraxtnt</string>
            <key>description</key>
            <string>Votrax Type 'N Talk (Serial Port)</string>
            <key>devname</key>
            <string>serial_votraxtnt</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>kbd</string>
        <key>description</key>
        <string>Keyboard</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>g80_1500</string>
            <key>description</key>
            <string>Cherry G80-1500 Multi-Function Keyboard</string>
            <key>devname</key>
            <string>g80_1500</string>
          </dict>
          <dict>
            <key>value</key>
            <string>3270pc</string>
            <key>description</key>
            <string>IBM 3270PC Keyboard</string>
            <key>devname</key>
            <string>kb_3270pc</string>
          </dict>
          <dict>
            <key>value</key>
            <string>pcat101</string>
            <key>description</key>
            <string>IBM Model M Keyboard</string>
            <key>devname</key>
            <string>kb_pcat101</string>
          </dict>
          <dict>
            <key>value</key>
            <string>pcat</string>
            <key>description</key>
            <string>IBM PC/AT Keyboard</string>
            <key>devname</key>
            <string>kb_pcat84</string>
          </dict>
          <dict>
            <key>value</key>
            <string>keytronc_pc3270</string>
            <key>description</key>
            <string>Keytronic PC3270 AT</string>
            <key>devname</key>
            <string>keytronic_pc3270_at</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ms_naturl</string>
            <key>description</key>
            <string>Microsoft Natural Keyboard</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>kb_ms_natural</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>smartport</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>fdc:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>35hd</string>
                <key>description</key>
                <string>3.5" HD</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>tape</string>
                <key>description</key>
                <string>SCSI tape</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>tape</string>
                <key>description</key>
                <string>SCSI tape</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:2</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>tape</string>
                <key>description</key>
                <string>SCSI tape</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:3</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>tape</string>
                <key>description</key>
                <string>SCSI tape</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:4</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>tape</string>
                <key>description</key>
                <string>SCSI tape</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:5</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>tape</string>
                <key>description</key>
                <string>SCSI tape</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>scsi:6</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>harddisk</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>tape</string>
                <key>description</key>
                <string>SCSI tape</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>heath_watz_tlb</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>bios</string>
            <key>description</key>
            <string>ROM</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—Default—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>watzman</string>
                <key>description</key>
                <string>Watzman</string>
              </dict>
              <dict>
                <key>value</key>
                <string>watzman-a</string>
                <key>description</key>
                <string>Watzman w/clock persists after reset</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>rs232_patch_box</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:dce</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>h19</string>
                <key>description</key>
                <string>Heath H19 Terminal (Serial Port)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>ie15</string>
                <key>description</key>
                <string>IE15 Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>scorpion</string>
                <key>description</key>
                <string>Micro-Robotics Scorpion Intelligent Controller</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>msystems_mouse</string>
                <key>description</key>
                <string>Mouse Systems Non-rotatable Mouse (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>nss_tvi</string>
                <key>description</key>
                <string>Novag Super System TV Interface</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>pty</string>
                <key>description</key>
                <string>Pseudo Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>rs_printer</string>
                <key>description</key>
                <string>Radio Shack Serial Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>loopback</string>
                <key>description</key>
                <string>RS-232 Loopback</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>dec_loopback</string>
                <key>description</key>
                <string>RS-232 Loopback (DEC 12-15336-00)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>null_modem</string>
                <key>description</key>
                <string>RS-232 Null Modem</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>patch</string>
                <key>description</key>
                <string>RS-232 Patch Box</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>rs232_sync_io</string>
                <key>description</key>
                <string>RS-232 Synchronous I/O</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>bitbanger</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>keyboard</string>
                <key>description</key>
                <string>Serial Keyboard</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>printer</string>
                <key>description</key>
                <string>Serial Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>terminal</string>
                <key>description</key>
                <string>Serial Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>sunkbd</string>
                <key>description</key>
                <string>Sun Keyboard Adaptor</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>mockingboard</string>
                <key>description</key>
                <string>Sweet Micro Systems Mockingboard D</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>swtpc8212</string>
                <key>description</key>
                <string>SWTPC8212 Terminal</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>votraxtnt</string>
                <key>description</key>
                <string>Votrax Type 'N Talk (Serial Port)</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>scorpion_ic</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>bios</string>
            <key>description</key>
            <string>ROM</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—Default—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>61203</string>
                <key>description</key>
                <string>Version 61203 (3rd Dec 1986)</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>serial_heath_h19</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:tlbc</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>heath</string>
                <key>description</key>
                <string>Heath Terminal Logic Board</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>imaginator</string>
                <key>description</key>
                <string>Heath Terminal Logic Board plus Cleveland Codonics Imaginator I-100</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>gp19</string>
                <key>description</key>
                <string>Heath Terminal Logic Board plus Northwest Digital Systems GP-19</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>super19</string>
                <key>description</key>
                <string>Heath Terminal Logic Board w/Super19 ROM</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>superset</string>
                <key>description</key>
                <string>Heath Terminal Logic Board w/Superset ROM</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>ultrarom</string>
                <key>description</key>
                <string>Heath Terminal Logic Board w/Ultra ROM</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>watzman</string>
                <key>description</key>
                <string>Heath Terminal Logic Board w/Watzman ROM</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>sunkbd_adaptor</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:keyboard</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>type3hle</string>
                <key>description</key>
                <string>Sun Type 3 Keyboard (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type4hle</string>
                <key>description</key>
                <string>Sun Type 4 Keyboard (HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5gbhle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Great Britain - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5jphle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Japan - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5sehle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (Sweden - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>type5hle</string>
                <key>description</key>
                <string>Sun Type 5 Keyboard (U.S.A. - HLE)</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
    </array>
  </dict>
</plist>
