<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>rtpc010</string>
    <key>description</key>
    <string>IBM RT PC Model 010</string>
    <key>media</key>
    <dict>
    </dict>
    <key>resolution</key>
    <array>
      <integer>720</integer>
      <integer>350</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>bios</string>
        <key>description</key>
        <string>ROM</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—Default—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>ipl</string>
            <key>description</key>
            <string>IPL</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>kbd_con</string>
        <key>description</key>
        <string>Keyboard</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>kbd</string>
            <key>description</key>
            <string>IBM RT PC Keyboard</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>rtpc_kbd</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa1</string>
        <key>description</key>
        <string>Slot 1</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>mda</string>
            <key>description</key>
            <string>IBM Monochrome Display and Printer Adapter</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>isa_ibm_mda</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa2</string>
        <key>description</key>
        <string>Slot 2</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>fdc</string>
            <key>description</key>
            <string>ISA 8bits AT FDC hookup</string>
            <key>devname</key>
            <string>isa8_fdc_at</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa3</string>
        <key>description</key>
        <string>Slot 3</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>fdc</string>
            <key>description</key>
            <string>ISA 8bits AT FDC hookup</string>
            <key>devname</key>
            <string>isa8_fdc_at</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa4</string>
        <key>description</key>
        <string>Slot 4</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>fdc</string>
            <key>description</key>
            <string>ISA 8bits AT FDC hookup</string>
            <key>devname</key>
            <string>isa8_fdc_at</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa5</string>
        <key>description</key>
        <string>Slot 5</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>fdc</string>
            <key>description</key>
            <string>ISA 8bits AT FDC hookup</string>
            <key>devname</key>
            <string>isa8_fdc_at</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa6</string>
        <key>description</key>
        <string>Slot 6</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>fdc</string>
            <key>description</key>
            <string>ISA 8bits AT FDC hookup</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>isa8_fdc_at</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>isa8_fdc_at</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:fdc:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>35dd</string>
                <key>description</key>
                <string>3.5" DD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35hd</string>
                <key>description</key>
                <string>3.5" HD</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>525dd</string>
                <key>description</key>
                <string>5.25" double density floppy drive</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>525hd</string>
                <key>description</key>
                <string>5.25" high density floppy drive</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:fdc:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>35dd</string>
                <key>description</key>
                <string>3.5" DD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35hd</string>
                <key>description</key>
                <string>3.5" HD</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>525dd</string>
                <key>description</key>
                <string>5.25" double density floppy drive</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>525hd</string>
                <key>description</key>
                <string>5.25" high density floppy drive</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa_ibm_mda</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:lpt:centronics</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>printer</string>
                <key>description</key>
                <string>Centronics Printer</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>pl80</string>
                <key>description</key>
                <string>COMX PL-80</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>covox_stereo</string>
                <key>description</key>
                <string>Covox (Stereo-in-1)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>covox</string>
                <key>description</key>
                <string>Covox Speech Thing</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>digiblst</string>
                <key>description</key>
                <string>Digiblaster (DIY)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>ap2000</string>
                <key>description</key>
                <string>Epson ActionPrinter 2000</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>ex800</string>
                <key>description</key>
                <string>Epson EX-800</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>lx800</string>
                <key>description</key>
                <string>Epson LX-800</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>lx810l</string>
                <key>description</key>
                <string>Epson LX-810L</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>p72</string>
                <key>description</key>
                <string>NEC PinWriter P72</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>samdac</string>
                <key>description</key>
                <string>SAMDAC</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>nlq401</string>
                <key>description</key>
                <string>Schneider NLQ 401 Matrix Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>chessmec</string>
                <key>description</key>
                <string>Tasc ChessMachine EC Interface</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>smartboard</string>
                <key>description</key>
                <string>Tasc SmartBoard SB30 Interface</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
    </array>
  </dict>
</plist>
