<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>value</key>
    <string>rtpc010</string>
    <key>description</key>
    <string>IBM RT PC Model 010</string>
    <key>media</key>
    <dict>
    </dict>
    <key>resolution</key>
    <array>
      <integer>720</integer>
      <integer>350</integer>
    </array>
    <key>slots</key>
    <array>
      <dict>
        <key>name</key>
        <string>bios</string>
        <key>description</key>
        <string>ROM</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—Default—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>ipl</string>
            <key>description</key>
            <string>IPL</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa1</string>
        <key>description</key>
        <string>Slot 1</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>ega</string>
            <key>description</key>
            <string>IBM Enhanced Graphics Adapter</string>
            <key>devname</key>
            <string>ega</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mda</string>
            <key>description</key>
            <string>IBM Monochrome Display And Printer Adapter</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>isa_ibm_mda</string>
          </dict>
          <dict>
            <key>value</key>
            <string>fdc</string>
            <key>description</key>
            <string>ISA 8bits AT FDC Hookup</string>
            <key>devname</key>
            <string>isa8_fdc_at</string>
          </dict>
          <dict>
            <key>value</key>
            <string>baseband</string>
            <key>description</key>
            <string>Ungermann-Bass Personal NIC</string>
            <key>devname</key>
            <string>ubpnic</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa2</string>
        <key>description</key>
        <string>Slot 2</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>5080pa</string>
            <key>description</key>
            <string>IBM 5080 Peripheral Adapter</string>
            <key>devname</key>
            <string>5080pa</string>
          </dict>
          <dict>
            <key>value</key>
            <string>amgda</string>
            <key>description</key>
            <string>IBM Advanced Monochrome Graphics Display Adapter</string>
            <key>devname</key>
            <string>amgda</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ega</string>
            <key>description</key>
            <string>IBM Enhanced Graphics Adapter</string>
            <key>devname</key>
            <string>ega</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mda</string>
            <key>description</key>
            <string>IBM Monochrome Display And Printer Adapter</string>
            <key>devname</key>
            <string>isa_ibm_mda</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ide</string>
            <key>description</key>
            <string>IDE Fixed Drive Adapter</string>
            <key>devname</key>
            <string>isa_ide</string>
          </dict>
          <dict>
            <key>value</key>
            <string>fdc</string>
            <key>description</key>
            <string>ISA 8bits AT FDC Hookup</string>
            <key>devname</key>
            <string>isa8_fdc_at</string>
          </dict>
          <dict>
            <key>value</key>
            <string>baseband</string>
            <key>description</key>
            <string>Ungermann-Bass Personal NIC</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>ubpnic</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa3</string>
        <key>description</key>
        <string>Slot 3</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>5080pa</string>
            <key>description</key>
            <string>IBM 5080 Peripheral Adapter</string>
            <key>devname</key>
            <string>5080pa</string>
          </dict>
          <dict>
            <key>value</key>
            <string>amgda</string>
            <key>description</key>
            <string>IBM Advanced Monochrome Graphics Display Adapter</string>
            <key>devname</key>
            <string>amgda</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ega</string>
            <key>description</key>
            <string>IBM Enhanced Graphics Adapter</string>
            <key>devname</key>
            <string>ega</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mda</string>
            <key>description</key>
            <string>IBM Monochrome Display And Printer Adapter</string>
            <key>devname</key>
            <string>isa_ibm_mda</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ide</string>
            <key>description</key>
            <string>IDE Fixed Drive Adapter</string>
            <key>devname</key>
            <string>isa_ide</string>
          </dict>
          <dict>
            <key>value</key>
            <string>fdc</string>
            <key>description</key>
            <string>ISA 8bits AT FDC Hookup</string>
            <key>devname</key>
            <string>isa8_fdc_at</string>
          </dict>
          <dict>
            <key>value</key>
            <string>baseband</string>
            <key>description</key>
            <string>Ungermann-Bass Personal NIC</string>
            <key>devname</key>
            <string>ubpnic</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa4</string>
        <key>description</key>
        <string>Slot 4</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>5080pa</string>
            <key>description</key>
            <string>IBM 5080 Peripheral Adapter</string>
            <key>devname</key>
            <string>5080pa</string>
          </dict>
          <dict>
            <key>value</key>
            <string>amgda</string>
            <key>description</key>
            <string>IBM Advanced Monochrome Graphics Display Adapter</string>
            <key>devname</key>
            <string>amgda</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ega</string>
            <key>description</key>
            <string>IBM Enhanced Graphics Adapter</string>
            <key>devname</key>
            <string>ega</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mda</string>
            <key>description</key>
            <string>IBM Monochrome Display And Printer Adapter</string>
            <key>devname</key>
            <string>isa_ibm_mda</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ide</string>
            <key>description</key>
            <string>IDE Fixed Drive Adapter</string>
            <key>devname</key>
            <string>isa_ide</string>
          </dict>
          <dict>
            <key>value</key>
            <string>fdc</string>
            <key>description</key>
            <string>ISA 8bits AT FDC Hookup</string>
            <key>devname</key>
            <string>isa8_fdc_at</string>
          </dict>
          <dict>
            <key>value</key>
            <string>baseband</string>
            <key>description</key>
            <string>Ungermann-Bass Personal NIC</string>
            <key>devname</key>
            <string>ubpnic</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa5</string>
        <key>description</key>
        <string>Slot 5</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <true/>
          </dict>
          <dict>
            <key>value</key>
            <string>5080pa</string>
            <key>description</key>
            <string>IBM 5080 Peripheral Adapter</string>
            <key>devname</key>
            <string>5080pa</string>
          </dict>
          <dict>
            <key>value</key>
            <string>amgda</string>
            <key>description</key>
            <string>IBM Advanced Monochrome Graphics Display Adapter</string>
            <key>devname</key>
            <string>amgda</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ega</string>
            <key>description</key>
            <string>IBM Enhanced Graphics Adapter</string>
            <key>devname</key>
            <string>ega</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mda</string>
            <key>description</key>
            <string>IBM Monochrome Display And Printer Adapter</string>
            <key>devname</key>
            <string>isa_ibm_mda</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ide</string>
            <key>description</key>
            <string>IDE Fixed Drive Adapter</string>
            <key>devname</key>
            <string>isa_ide</string>
          </dict>
          <dict>
            <key>value</key>
            <string>fdc</string>
            <key>description</key>
            <string>ISA 8bits AT FDC Hookup</string>
            <key>devname</key>
            <string>isa8_fdc_at</string>
          </dict>
          <dict>
            <key>value</key>
            <string>baseband</string>
            <key>description</key>
            <string>Ungermann-Bass Personal NIC</string>
            <key>devname</key>
            <string>ubpnic</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa6</string>
        <key>description</key>
        <string>Slot 6</string>
        <key>options</key>
        <array>
          <dict>
            <key>value</key>
            <string></string>
            <key>description</key>
            <string>—None—</string>
            <key>default</key>
            <false/>
          </dict>
          <dict>
            <key>value</key>
            <string>5080pa</string>
            <key>description</key>
            <string>IBM 5080 Peripheral Adapter</string>
            <key>devname</key>
            <string>5080pa</string>
          </dict>
          <dict>
            <key>value</key>
            <string>amgda</string>
            <key>description</key>
            <string>IBM Advanced Monochrome Graphics Display Adapter</string>
            <key>devname</key>
            <string>amgda</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ega</string>
            <key>description</key>
            <string>IBM Enhanced Graphics Adapter</string>
            <key>devname</key>
            <string>ega</string>
          </dict>
          <dict>
            <key>value</key>
            <string>mda</string>
            <key>description</key>
            <string>IBM Monochrome Display And Printer Adapter</string>
            <key>devname</key>
            <string>isa_ibm_mda</string>
          </dict>
          <dict>
            <key>value</key>
            <string>ide</string>
            <key>description</key>
            <string>IDE Fixed Drive Adapter</string>
            <key>devname</key>
            <string>isa_ide</string>
          </dict>
          <dict>
            <key>value</key>
            <string>fdc</string>
            <key>description</key>
            <string>ISA 8bits AT FDC Hookup</string>
            <key>default</key>
            <true/>
            <key>devname</key>
            <string>isa8_fdc_at</string>
          </dict>
          <dict>
            <key>value</key>
            <string>baseband</string>
            <key>description</key>
            <string>Ungermann-Bass Personal NIC</string>
            <key>devname</key>
            <string>ubpnic</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>devices</key>
    <array>
      <dict>
        <key>name</key>
        <string>adaptator_multitap</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:joy_p1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>joy</string>
                <key>description</key>
                <string>Atari / CBM Digital joystick</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>wheel</string>
                <key>description</key>
                <string>Atari / CBM Driving Wheel</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>pad</string>
                <key>description</key>
                <string>Atari / CBM Dual paddles</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>keypad</string>
                <key>description</key>
                <string>Atari / CBM Keypad</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>lp</string>
                <key>description</key>
                <string>Atari / CBM Light Pen</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>mouse</string>
                <key>description</key>
                <string>Atari / CBM Mouse</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>trakball</string>
                <key>description</key>
                <string>Atari CX22/CX80 Trak-Ball</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cx85</string>
                <key>description</key>
                <string>Atari CX85 Numeric Keypad</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>joybstr</string>
                <key>description</key>
                <string>CBS Electronics Booster-Grip Joystick Adaptor</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:joy_p2</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>joy</string>
                <key>description</key>
                <string>Atari / CBM Digital joystick</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>wheel</string>
                <key>description</key>
                <string>Atari / CBM Driving Wheel</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>pad</string>
                <key>description</key>
                <string>Atari / CBM Dual paddles</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>keypad</string>
                <key>description</key>
                <string>Atari / CBM Keypad</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>lp</string>
                <key>description</key>
                <string>Atari / CBM Light Pen</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>mouse</string>
                <key>description</key>
                <string>Atari / CBM Mouse</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>trakball</string>
                <key>description</key>
                <string>Atari CX22/CX80 Trak-Ball</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cx85</string>
                <key>description</key>
                <string>Atari CX85 Numeric Keypad</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>joybstr</string>
                <key>description</key>
                <string>CBS Electronics Booster-Grip Joystick Adaptor</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>ega</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>bios</string>
            <key>description</key>
            <string>ROM</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—Default—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>ega</string>
                <key>description</key>
                <string>IBM EGA BIOS</string>
              </dict>
              <dict>
                <key>value</key>
                <string>iskr3104</string>
                <key>description</key>
                <string>Iskra-3104 EGA BIOS</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa8_fdc_at</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:fdc:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>35dd</string>
                <key>description</key>
                <string>3.5" DD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35hd</string>
                <key>description</key>
                <string>3.5" HD</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>525dd</string>
                <key>description</key>
                <string>5.25" double density floppy drive</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_5_25</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>525hd</string>
                <key>description</key>
                <string>5.25" high density floppy drive</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_5_25</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:fdc:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>35dd</string>
                <key>description</key>
                <string>3.5" DD</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>35hd</string>
                <key>description</key>
                <string>3.5" HD</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>floppy_3_5</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>525dd</string>
                <key>description</key>
                <string>5.25" double density floppy drive</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_5_25</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>525hd</string>
                <key>description</key>
                <string>5.25" high density floppy drive</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>floppy_5_25</key>
                  <integer>1</integer>
                </dict>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa_ibm_mda</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:lpt:centronics</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>printer</string>
                <key>description</key>
                <string>Centronics Printer</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>pl80</string>
                <key>description</key>
                <string>COMX PL-80</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>covox_stereo</string>
                <key>description</key>
                <string>Covox (Stereo-in-1)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>covox</string>
                <key>description</key>
                <string>Covox Speech Thing</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>digiblst</string>
                <key>description</key>
                <string>Digiblaster (DIY)</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>ap2000</string>
                <key>description</key>
                <string>Epson ActionPrinter 2000</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>ex800</string>
                <key>description</key>
                <string>Epson EX-800</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>fx80</string>
                <key>description</key>
                <string>Epson FX-80</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>jx80</string>
                <key>description</key>
                <string>Epson JX-80</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>lx800</string>
                <key>description</key>
                <string>Epson LX-800</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>lx810l</string>
                <key>description</key>
                <string>Epson LX-810L</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>rx80</string>
                <key>description</key>
                <string>Epson RX-80</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>p72</string>
                <key>description</key>
                <string>NEC PinWriter P72</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>samdac</string>
                <key>description</key>
                <string>SAMDAC</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>nlq401</string>
                <key>description</key>
                <string>Schneider NLQ 401 Matrix Printer</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>chessmec</string>
                <key>description</key>
                <string>Tasc ChessMachine EC Interface</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>smartboard</string>
                <key>description</key>
                <string>Tasc SmartBoard SB30 Interface</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>adaptator</string>
                <key>description</key>
                <string>The Adaptator 2x DE-9 Multitap</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>isa_ide</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>:ide:0</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>hdd</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <true/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>zip100</string>
                <key>description</key>
                <string>Iomega Zip 100MB IDE Drive</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cr589</string>
                <key>description</key>
                <string>Matsushita CR589 CD-ROM Drive</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>xm3301</string>
                <key>description</key>
                <string>Toshiba XM-3301 CD-ROM Drive</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>:ide:1</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—None—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>cdrom</string>
                <key>description</key>
                <string>CD-ROM</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>cdrom</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>hdd</string>
                <key>description</key>
                <string>Hard Disk</string>
                <key>default</key>
                <false/>
                <key>media</key>
                <dict>
                  <key>hard</key>
                  <integer>1</integer>
                </dict>
              </dict>
              <dict>
                <key>value</key>
                <string>zip100</string>
                <key>description</key>
                <string>Iomega Zip 100MB IDE Drive</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>cr589</string>
                <key>description</key>
                <string>Matsushita CR589 CD-ROM Drive</string>
                <key>default</key>
                <false/>
              </dict>
              <dict>
                <key>value</key>
                <string>xm3301</string>
                <key>description</key>
                <string>Toshiba XM-3301 CD-ROM Drive</string>
                <key>default</key>
                <false/>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>px320a</string>
        <key>slots</key>
        <array>
          <dict>
            <key>name</key>
            <string>bios</string>
            <key>description</key>
            <string>ROM</string>
            <key>options</key>
            <array>
              <dict>
                <key>value</key>
                <string></string>
                <key>description</key>
                <string>—Default—</string>
                <key>default</key>
                <true/>
              </dict>
              <dict>
                <key>value</key>
                <string>v106</string>
                <key>description</key>
                <string>Firmware v1.06</string>
              </dict>
              <dict>
                <key>value</key>
                <string>v105</string>
                <key>description</key>
                <string>Firmware v1.05</string>
              </dict>
              <dict>
                <key>value</key>
                <string>v104</string>
                <key>description</key>
                <string>Firmware v1.04a</string>
              </dict>
              <dict>
                <key>value</key>
                <string>v103</string>
                <key>description</key>
                <string>Firmware v1.03</string>
              </dict>
              <dict>
                <key>value</key>
                <string>v102</string>
                <key>description</key>
                <string>Firmware v1.02</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
    <key>software</key>
    <array>
    </array>
  </dict>
</plist>
