dist
embedded/mame64
embedded/SDL2.framework
embedded/Sparkle.framework
embedded/Sparkle-*
embedded/SDL2-*
build
embedded/mame-data.tgz
__pycache__

# Windows Port
AmpleWin/mame/
AmpleWin/dist/
AmpleWin/build/
AmpleWin/*.spec

nvram/
cfg/
diff/
inp/
comments/
sta/
*.ini
*.ico

# Linux Port
AmpleLinux/.venv
AmpleLinux/.build_venv
AmpleLinux/icons/
AmpleLinux/Ample.spec
AmpleLinux/mame/
!AmpleLinux/mame/.gitkeep

