<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Apple IIgs</string>
		<key>Mame</key>
		<string>apple2gs</string>
		<key>Children</key>
        <array>
            <dict>
                <key>Name</key>
                <string>Apple IIgs ROM 0</string>
                <key>Mame</key>
                <string>applegsr0</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Apple IIgs ROM 1</string>
                <key>Mame</key>
                <string>applegsr1</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Apple IIgs ROM 3</string>
                <key>Mame</key>
                <string>applegs</string>
            </dict>
        </array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Apple IIe</string>
		<key>Mame</key>
		<string>apple2e</string>
		<key>Children</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Apple IIe</string>
				<key>Mame</key>
				<string>apple2e</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Apple IIe (Enhanced)</string>
				<key>Mame</key>
				<string>apple2ee</string>
			</dict>
            <dict>
                <key>Name</key>
                <string>Apple IIe (Platinum)</string>
                <key>Mame</key>
                <string>apple2ep</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Apple IIe (Spain)</string>
                <key>Mame</key>
                <string>apple2ees</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Apple IIe (UK)</string>
                <key>Mame</key>
                <string>apple2euk</string>
            </dict>
        </array>
	</dict>

    <dict>
        <key>Name</key>
        <string>Apple //c</string>
        <key>Mame</key>
        <string>apple2c</string>
        <key>Children</key>
        <array>
            <dict>
                <key>Name</key>
                <string>Apple //c</string>
                <key>Mame</key>
                <string>apple2c</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Apple //c+</string>
                <key>Mame</key>
                <string>apple2cp</string>
            </dict>

        </array>
    </dict>

    <dict>
        <key>Name</key>
        <string>Apple ][</string>
        <key>Mame</key>
        <string>apple2</string>
        <key>Children</key>
        <array>
            <dict>
                <key>Name</key>
                <string>Apple ][</string>
                <key>Mame</key>
                <string>apple2</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Apple ][+</string>
                <key>Mame</key>
                <string>apple2p</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Apple ][ J-Plus</string>
                <key>Mame</key>
                <string>apple2jp</string>
            </dict>
        </array>
    </dict>

    <dict>
        <key>Name</key>
        <string>Apple I</string>
        <key>Mame</key>
        <string>apple1</string>
    </dict>

    <dict>
        <key>Name</key>
        <string>Apple ///</string>
        <key>Mame</key>
        <string>apple3</string>
    </dict>

    <dict>
        <key>Name</key>
        <string>Laser //c</string>
        <key>Mame</key>
        <string>laser2c</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>Laser 128</string>
        <key>Mame</key>
        <string>laser128</string>
        <key>Children</key>
        <array>
            <dict>
                <key>Name</key>
                <string>Laser 128</string>
                <key>Mame</key>
                <string>laser128</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Laser 128 EX</string>
                <key>Mame</key>
                <string>las128ex</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Laser 128 EX2</string>
                <key>Mame</key>
                <string>las128e2</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>Name</key>
        <string>Franklin Ace 100</string>
        <key>Mame</key>
        <string>ace100</string>
    </dict>
</array>
</plist>
