<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>a1bus</key>
    <dict>
      <key>Name</key>
      <string>a1bus</string>
      <key>Description</key>
      <string>Apple I Bus</string>
    </dict>
    <key>a1bus_slot</key>
    <dict>
      <key>Name</key>
      <string>a1bus_slot</string>
      <key>Description</key>
      <string>Apple I Slot</string>
    </dict>
    <key>a1cass</key>
    <dict>
      <key>Name</key>
      <string>a1cass</string>
      <key>Description</key>
      <string>Apple I cassette board</string>
    </dict>
    <key>ata_interface</key>
    <dict>
      <key>Name</key>
      <string>ata_interface</string>
      <key>Description</key>
      <string>ATA Interface</string>
    </dict>
    <key>ata_slot</key>
    <dict>
      <key>Name</key>
      <string>ata_slot</string>
      <key>Description</key>
      <string>ATA Connector</string>
    </dict>
    <key>cassette_image</key>
    <dict>
      <key>Name</key>
      <string>cassette_image</string>
      <key>Description</key>
      <string>Cassette</string>
    </dict>
    <key>cffa1</key>
    <dict>
      <key>Name</key>
      <string>cffa1</string>
      <key>Description</key>
      <string>CFFA Compact Flash for Apple I</string>
    </dict>
    <key>m6502</key>
    <dict>
      <key>Name</key>
      <string>m6502</string>
      <key>Description</key>
      <string>MOS Technology 6502</string>
    </dict>
    <key>palette</key>
    <dict>
      <key>Name</key>
      <string>palette</string>
      <key>Description</key>
      <string>palette</string>
    </dict>
    <key>pia6821</key>
    <dict>
      <key>Name</key>
      <string>pia6821</string>
      <key>Description</key>
      <string>6821 PIA</string>
    </dict>
    <key>ram</key>
    <dict>
      <key>Name</key>
      <string>ram</string>
      <key>Description</key>
      <string>RAM</string>
    </dict>
    <key>screen</key>
    <dict>
      <key>Name</key>
      <string>screen</string>
      <key>Description</key>
      <string>Video Screen</string>
    </dict>
    <key>snapsot_image</key>
    <dict>
      <key>Name</key>
      <string>snapsot_image</string>
      <key>Description</key>
      <string>Snapshot</string>
    </dict>
    <key>software_list</key>
    <dict>
      <key>Name</key>
      <string>software_list</string>
      <key>Description</key>
      <string>Software List</string>
    </dict>
    <key>a24play</key>
    <dict>
      <key>Name</key>
      <string>a24play</string>
      <key>Description</key>
      <string>4play Joystick Card (rev. B)</string>
    </dict>
    <key>a2aesms</key>
    <dict>
      <key>Name</key>
      <string>a2aesms</string>
      <key>Description</key>
      <string>Applied Engineering Super Music Synthesizer</string>
    </dict>
    <key>a2aevm80</key>
    <dict>
      <key>Name</key>
      <string>a2aevm80</string>
      <key>Description</key>
      <string>Applied Engineering Viewmaster 80</string>
    </dict>
    <key>a2alfam2</key>
    <dict>
      <key>Name</key>
      <string>a2alfam2</string>
      <key>Description</key>
      <string>ALF MC1 / Apple Music II</string>
    </dict>
    <key>a2ap16</key>
    <dict>
      <key>Name</key>
      <string>a2ap16</string>
      <key>Description</key>
      <string>IBS AP-16 80 column card</string>
    </dict>
    <key>a2ap16a</key>
    <dict>
      <key>Name</key>
      <string>a2ap16a</string>
      <key>Description</key>
      <string>IBS AP-16 80 column card (alt. version)</string>
    </dict>
    <key>a2aplcrd</key>
    <dict>
      <key>Name</key>
      <string>a2aplcrd</string>
      <key>Description</key>
      <string>PCPI Applicard</string>
    </dict>
    <key>a2arcbd</key>
    <dict>
      <key>Name</key>
      <string>a2arcbd</string>
      <key>Description</key>
      <string>Third Millenium Engineering Arcade Board</string>
    </dict>
    <key>a2bus</key>
    <dict>
      <key>Name</key>
      <string>a2bus</string>
      <key>Description</key>
      <string>Apple II Bus</string>
    </dict>
    <key>a2bus_byte8251</key>
    <dict>
      <key>Name</key>
      <string>a2bus_byte8251</string>
      <key>Description</key>
      <string>BYTE Serial Interface (8251 based)</string>
    </dict>
    <key>a2bus_slot</key>
    <dict>
      <key>Name</key>
      <string>a2bus_slot</string>
      <key>Description</key>
      <string>Apple II Slot</string>
    </dict>
    <key>a2ceyes</key>
    <dict>
      <key>Name</key>
      <string>a2ceyes</string>
      <key>Description</key>
      <string>Digital Vision ComputerEyes</string>
    </dict>
    <key>a2ceyes2</key>
    <dict>
      <key>Name</key>
      <string>a2ceyes2</string>
      <key>Description</key>
      <string>Digital Vision ComputerEyes/2</string>
    </dict>
    <key>a2cffa02</key>
    <dict>
      <key>Name</key>
      <string>a2cffa02</string>
      <key>Description</key>
      <string>CFFA2000 Compact Flash (6502 firmware, www.dreher.net)</string>
    </dict>
    <key>a2cffa2</key>
    <dict>
      <key>Name</key>
      <string>a2cffa2</string>
      <key>Description</key>
      <string>CFFA2000 Compact Flash (65C02 firmware, www.dreher.net)</string>
    </dict>
    <key>a2corvus</key>
    <dict>
      <key>Name</key>
      <string>a2corvus</string>
      <key>Description</key>
      <string>Corvus Flat Cable interface</string>
    </dict>
    <key>a2diskii</key>
    <dict>
      <key>Name</key>
      <string>a2diskii</string>
      <key>Description</key>
      <string>Apple Disk II controller</string>
    </dict>
    <key>a2diskiing</key>
    <dict>
      <key>Name</key>
      <string>a2diskiing</string>
      <key>Description</key>
      <string>Apple Disk II NG controller (16-sector)</string>
    </dict>
    <key>a2dx1</key>
    <dict>
      <key>Name</key>
      <string>a2dx1</string>
      <key>Description</key>
      <string>Decillonix DX-1</string>
    </dict>
    <key>a2echoii</key>
    <dict>
      <key>Name</key>
      <string>a2echoii</string>
      <key>Description</key>
      <string>Street Electronics Echo II</string>
    </dict>
    <key>a2echop</key>
    <dict>
      <key>Name</key>
      <string>a2echop</string>
      <key>Description</key>
      <string>Street Electronics Echo Plus</string>
    </dict>
    <key>a2ezcgi</key>
    <dict>
      <key>Name</key>
      <string>a2ezcgi</string>
      <key>Description</key>
      <string>E-Z Color Graphics Interface</string>
    </dict>
    <key>a2ezcgi3</key>
    <dict>
      <key>Name</key>
      <string>a2ezcgi3</string>
      <key>Description</key>
      <string>E-Z Color Graphics Interface (TMS9938)</string>
    </dict>
    <key>a2ezcgi5</key>
    <dict>
      <key>Name</key>
      <string>a2ezcgi5</string>
      <key>Description</key>
      <string>E-Z Color Graphics Interface (TMS9958)</string>
    </dict>
    <key>a2gameio</key>
    <dict>
      <key>Name</key>
      <string>a2gameio</string>
      <key>Description</key>
      <string>Apple II Game I/O Connector</string>
    </dict>
    <key>a2iwm</key>
    <dict>
      <key>Name</key>
      <string>a2iwm</string>
      <key>Description</key>
      <string>Apple Disk II IWM controller</string>
    </dict>
    <key>a2joy</key>
    <dict>
      <key>Name</key>
      <string>a2joy</string>
      <key>Description</key>
      <string>Apple II analog joysticks</string>
    </dict>
    <key>a2joyprt</key>
    <dict>
      <key>Name</key>
      <string>a2joyprt</string>
      <key>Description</key>
      <string>Sirius JoyPort</string>
    </dict>
    <key>a2mcms1</key>
    <dict>
      <key>Name</key>
      <string>a2mcms1</string>
      <key>Description</key>
      <string>Mountain Computer Music System (card 1)</string>
    </dict>
    <key>a2mcms2</key>
    <dict>
      <key>Name</key>
      <string>a2mcms2</string>
      <key>Description</key>
      <string>Mountain Computer Music System (card 2)</string>
    </dict>
    <key>a2memexp</key>
    <dict>
      <key>Name</key>
      <string>a2memexp</string>
      <key>Description</key>
      <string>Apple II Memory Expansion Card</string>
    </dict>
    <key>a2midi</key>
    <dict>
      <key>Name</key>
      <string>a2midi</string>
      <key>Description</key>
      <string>6850 MIDI card</string>
    </dict>
    <key>a2mockbd</key>
    <dict>
      <key>Name</key>
      <string>a2mockbd</string>
      <key>Description</key>
      <string>Sweet Micro Systems Mockingboard</string>
    </dict>
    <key>a2mouse</key>
    <dict>
      <key>Name</key>
      <string>a2mouse</string>
      <key>Description</key>
      <string>Apple II Mouse Card</string>
    </dict>
    <key>a2pdls</key>
    <dict>
      <key>Name</key>
      <string>a2pdls</string>
      <key>Description</key>
      <string>Apple II paddles</string>
    </dict>
    <key>a2phasor</key>
    <dict>
      <key>Name</key>
      <string>a2phasor</string>
      <key>Description</key>
      <string>Applied Engineering Phasor</string>
    </dict>
    <key>a2pic</key>
    <dict>
      <key>Name</key>
      <string>a2pic</string>
      <key>Description</key>
      <string>Apple Parallel Interface Card</string>
    </dict>
    <key>a2ram16k</key>
    <dict>
      <key>Name</key>
      <string>a2ram16k</string>
      <key>Description</key>
      <string>Apple II 16K Language Card</string>
    </dict>
    <key>a2ramfac</key>
    <dict>
      <key>Name</key>
      <string>a2ramfac</string>
      <key>Description</key>
      <string>Applied Engineering RamFactor</string>
    </dict>
    <key>a2sam</key>
    <dict>
      <key>Name</key>
      <string>a2sam</string>
      <key>Description</key>
      <string>Don't Ask Software S.A.M.</string>
    </dict>
    <key>a2scsi</key>
    <dict>
      <key>Name</key>
      <string>a2scsi</string>
      <key>Description</key>
      <string>Apple II SCSI Card</string>
    </dict>
    <key>a2softcard</key>
    <dict>
      <key>Name</key>
      <string>a2softcard</string>
      <key>Description</key>
      <string>Microsoft SoftCard</string>
    </dict>
    <key>a2ssbapl</key>
    <dict>
      <key>Name</key>
      <string>a2ssbapl</string>
      <key>Description</key>
      <string>Multitech Industrial SSB Apple speech card</string>
    </dict>
    <key>a2ssc</key>
    <dict>
      <key>Name</key>
      <string>a2ssc</string>
      <key>Description</key>
      <string>Apple Super Serial Card</string>
    </dict>
    <key>a2ssprite</key>
    <dict>
      <key>Name</key>
      <string>a2ssprite</string>
      <key>Description</key>
      <string>Synetix SuperSprite</string>
    </dict>
    <key>a2surance</key>
    <dict>
      <key>Name</key>
      <string>a2surance</string>
      <key>Description</key>
      <string>Applesurance Diagnostic Controller</string>
    </dict>
    <key>a2swyft</key>
    <dict>
      <key>Name</key>
      <string>a2swyft</string>
      <key>Description</key>
      <string>IAI SwyftCard</string>
    </dict>
    <key>a2themill</key>
    <dict>
      <key>Name</key>
      <string>a2themill</string>
      <key>Description</key>
      <string>Stellation Two The Mill</string>
    </dict>
    <key>a2thunpl</key>
    <dict>
      <key>Name</key>
      <string>a2thunpl</string>
      <key>Description</key>
      <string>ThunderWare ThunderClock Plus</string>
    </dict>
    <key>a2tmstho</key>
    <dict>
      <key>Name</key>
      <string>a2tmstho</string>
      <key>Description</key>
      <string>Applied Engineering TimeMaster H.O.</string>
    </dict>
    <key>a2twarp</key>
    <dict>
      <key>Name</key>
      <string>a2twarp</string>
      <key>Description</key>
      <string>Applied Engineering TransWarp</string>
    </dict>
    <key>a2ultrme</key>
    <dict>
      <key>Name</key>
      <string>a2ultrme</string>
      <key>Description</key>
      <string>Videx UltraTerm (enhanced //e)</string>
    </dict>
    <key>a2ulttrm</key>
    <dict>
      <key>Name</key>
      <string>a2ulttrm</string>
      <key>Description</key>
      <string>Videx UltraTerm (original)</string>
    </dict>
    <key>a2video</key>
    <dict>
      <key>Name</key>
      <string>a2video</string>
      <key>Description</key>
      <string>Apple II video</string>
    </dict>
    <key>a2vidtrm</key>
    <dict>
      <key>Name</key>
      <string>a2vidtrm</string>
      <key>Description</key>
      <string>Videx Videoterm 80 Column Display</string>
    </dict>
    <key>a2vtc1</key>
    <dict>
      <key>Name</key>
      <string>a2vtc1</string>
      <key>Description</key>
      <string>unknown Videoterm clone</string>
    </dict>
    <key>a2zipdrv</key>
    <dict>
      <key>Name</key>
      <string>a2zipdrv</string>
      <key>Description</key>
      <string>Zip Technologies ZipDrive</string>
    </dict>
    <key>acia6850</key>
    <dict>
      <key>Name</key>
      <string>acia6850</string>
      <key>Description</key>
      <string>MC6850 ACIA</string>
    </dict>
    <key>address_map_bank</key>
    <dict>
      <key>Name</key>
      <string>address_map_bank</string>
      <key>Description</key>
      <string>Address Map Bank</string>
    </dict>
    <key>apple2com</key>
    <dict>
      <key>Name</key>
      <string>apple2com</string>
      <key>Description</key>
      <string>Apple II Common Components</string>
    </dict>
    <key>apple_fdcl</key>
    <dict>
      <key>Name</key>
      <string>apple_fdcl</string>
      <key>Description</key>
      <string>Apple FDC (legacy)</string>
    </dict>
    <key>ay3600</key>
    <dict>
      <key>Name</key>
      <string>ay3600</string>
      <key>Description</key>
      <string>AY-5-3600 Keyboard Encoder</string>
    </dict>
    <key>ay8910</key>
    <dict>
      <key>Name</key>
      <string>ay8910</string>
      <key>Description</key>
      <string>AY-3-8910A PSG</string>
    </dict>
    <key>ay8912</key>
    <dict>
      <key>Name</key>
      <string>ay8912</string>
      <key>Description</key>
      <string>AY-3-8912A PSG</string>
    </dict>
    <key>ay8913</key>
    <dict>
      <key>Name</key>
      <string>ay8913</string>
      <key>Description</key>
      <string>AY-3-8913 PSG</string>
    </dict>
    <key>centronics</key>
    <dict>
      <key>Name</key>
      <string>centronics</string>
      <key>Description</key>
      <string>Centronics</string>
    </dict>
    <key>clock</key>
    <dict>
      <key>Name</key>
      <string>clock</string>
      <key>Description</key>
      <string>Clock</string>
    </dict>
    <key>corvus_hdc</key>
    <dict>
      <key>Name</key>
      <string>corvus_hdc</string>
      <key>Description</key>
      <string>Corvus Flat Cable HDC</string>
    </dict>
    <key>d2fdc</key>
    <dict>
      <key>Name</key>
      <string>d2fdc</string>
      <key>Description</key>
      <string>Apple Disk II floppy controller</string>
    </dict>
    <key>dac_8bit_r2r</key>
    <dict>
      <key>Name</key>
      <string>dac_8bit_r2r</string>
      <key>Description</key>
      <string>8-Bit R-2R DAC</string>
    </dict>
    <key>diskii13</key>
    <dict>
      <key>Name</key>
      <string>diskii13</string>
      <key>Description</key>
      <string>Apple Disk II NG controller (13-sector)</string>
    </dict>
    <key>f9334</key>
    <dict>
      <key>Name</key>
      <string>f9334</string>
      <key>Description</key>
      <string>Fairchild 9334 Addressable Latch</string>
    </dict>
    <key>floppy_525_sd</key>
    <dict>
      <key>Name</key>
      <string>floppy_525_sd</string>
      <key>Description</key>
      <string>5.25" single density floppy drive</string>
    </dict>
    <key>floppy_apple</key>
    <dict>
      <key>Name</key>
      <string>floppy_apple</string>
      <key>Description</key>
      <string>Apple Disk II</string>
    </dict>
    <key>floppy_connector</key>
    <dict>
      <key>Name</key>
      <string>floppy_connector</string>
      <key>Description</key>
      <string>Floppy drive connector abstraction</string>
    </dict>
    <key>flopsnd</key>
    <dict>
      <key>Name</key>
      <string>flopsnd</string>
      <key>Description</key>
      <string>Floppy sound</string>
    </dict>
    <key>harddisk_image</key>
    <dict>
      <key>Name</key>
      <string>harddisk_image</string>
      <key>Description</key>
      <string>Harddisk</string>
    </dict>
    <key>hd6845s</key>
    <dict>
      <key>Name</key>
      <string>hd6845s</string>
      <key>Description</key>
      <string>Hitachi HD6845S CRTC</string>
    </dict>
    <key>i8251</key>
    <dict>
      <key>Name</key>
      <string>i8251</string>
      <key>Description</key>
      <string>Intel 8251 USART</string>
    </dict>
    <key>input_buffer</key>
    <dict>
      <key>Name</key>
      <string>input_buffer</string>
      <key>Description</key>
      <string>Input Buffer</string>
    </dict>
    <key>iwm</key>
    <dict>
      <key>Name</key>
      <string>iwm</string>
      <key>Description</key>
      <string>Apple IWM floppy controller</string>
    </dict>
    <key>m65c02</key>
    <dict>
      <key>Name</key>
      <string>m65c02</string>
      <key>Description</key>
      <string>WDC W65C02</string>
    </dict>
    <key>m68705p3</key>
    <dict>
      <key>Name</key>
      <string>m68705p3</string>
      <key>Description</key>
      <string>Motorola MC68705P3</string>
    </dict>
    <key>mc6809e</key>
    <dict>
      <key>Name</key>
      <string>mc6809e</string>
      <key>Description</key>
      <string>Motorola MC6809E</string>
    </dict>
    <key>mc6845</key>
    <dict>
      <key>Name</key>
      <string>mc6845</string>
      <key>Description</key>
      <string>Motorola MC6845 CRTC</string>
    </dict>
    <key>mcmseng</key>
    <dict>
      <key>Name</key>
      <string>mcmseng</string>
      <key>Description</key>
      <string>Mountain Computer Music System engine</string>
    </dict>
    <key>midi_port</key>
    <dict>
      <key>Name</key>
      <string>midi_port</string>
      <key>Description</key>
      <string>MIDI port</string>
    </dict>
    <key>mm5307aa</key>
    <dict>
      <key>Name</key>
      <string>mm5307aa</string>
      <key>Description</key>
      <string>MM5307AA Baud Rate Generator</string>
    </dict>
    <key>mos6551</key>
    <dict>
      <key>Name</key>
      <string>mos6551</string>
      <key>Description</key>
      <string>MOS 6551 ACIA</string>
    </dict>
    <key>msm5832</key>
    <dict>
      <key>Name</key>
      <string>msm5832</string>
      <key>Description</key>
      <string>OKI MSM5832 RTC</string>
    </dict>
    <key>nscsi_bus</key>
    <dict>
      <key>Name</key>
      <string>nscsi_bus</string>
      <key>Description</key>
      <string>SCSI Bus (new)</string>
    </dict>
    <key>nscsi_connector</key>
    <dict>
      <key>Name</key>
      <string>nscsi_connector</string>
      <key>Description</key>
      <string>SCSI Connector Abstraction (new)</string>
    </dict>
    <key>output_latch</key>
    <dict>
      <key>Name</key>
      <string>output_latch</string>
      <key>Description</key>
      <string>Output Latch</string>
    </dict>
    <key>picture_image</key>
    <dict>
      <key>Name</key>
      <string>picture_image</string>
      <key>Description</key>
      <string>Still Image</string>
    </dict>
    <key>ptm6840</key>
    <dict>
      <key>Name</key>
      <string>ptm6840</string>
      <key>Description</key>
      <string>MC6840 PTM</string>
    </dict>
    <key>rs232</key>
    <dict>
      <key>Name</key>
      <string>rs232</string>
      <key>Description</key>
      <string>RS232 Port</string>
    </dict>
    <key>sn76489</key>
    <dict>
      <key>Name</key>
      <string>sn76489</string>
      <key>Description</key>
      <string>SN76489</string>
    </dict>
    <key>speaker</key>
    <dict>
      <key>Name</key>
      <string>speaker</string>
      <key>Description</key>
      <string>Speaker</string>
    </dict>
    <key>speaker_sound_device</key>
    <dict>
      <key>Name</key>
      <string>speaker_sound_device</string>
      <key>Description</key>
      <string>Filtered 1-bit DAC</string>
    </dict>
    <key>ssram128</key>
    <dict>
      <key>Name</key>
      <string>ssram128</string>
      <key>Description</key>
      <string>Saturn Systems 128K Extended Language Card</string>
    </dict>
    <key>timer</key>
    <dict>
      <key>Name</key>
      <string>timer</string>
      <key>Description</key>
      <string>Timer</string>
    </dict>
    <key>tms5220</key>
    <dict>
      <key>Name</key>
      <string>tms5220</string>
      <key>Description</key>
      <string>TMS5220</string>
    </dict>
    <key>tms9918a</key>
    <dict>
      <key>Name</key>
      <string>tms9918a</string>
      <key>Description</key>
      <string>TMS9918A VDP</string>
    </dict>
    <key>upd1990a</key>
    <dict>
      <key>Name</key>
      <string>upd1990a</string>
      <key>Description</key>
      <string>uPD1990A RTC</string>
    </dict>
    <key>v9938</key>
    <dict>
      <key>Name</key>
      <string>v9938</string>
      <key>Description</key>
      <string>Yamaha V9938 VDP</string>
    </dict>
    <key>v9958</key>
    <dict>
      <key>Name</key>
      <string>v9958</string>
      <key>Description</key>
      <string>Yamaha V9958 VDP</string>
    </dict>
    <key>via6522</key>
    <dict>
      <key>Name</key>
      <string>via6522</string>
      <key>Description</key>
      <string>6522 VIA</string>
    </dict>
    <key>volt_reg</key>
    <dict>
      <key>Name</key>
      <string>volt_reg</string>
      <key>Description</key>
      <string>Voltage Regulator</string>
    </dict>
    <key>z80</key>
    <dict>
      <key>Name</key>
      <string>z80</string>
      <key>Description</key>
      <string>Zilog Z80</string>
    </dict>
    <key>a2focdrv</key>
    <dict>
      <key>Name</key>
      <string>a2focdrv</string>
      <key>Description</key>
      <string>Parsons Engineering Focus Drive</string>
    </dict>
    <key>a3fdc</key>
    <dict>
      <key>Name</key>
      <string>a3fdc</string>
      <key>Description</key>
      <string>Apple III floppy controller</string>
    </dict>
    <key>beep</key>
    <dict>
      <key>Name</key>
      <string>beep</string>
      <key>Description</key>
      <string>Beep</string>
    </dict>
    <key>bitbanger</key>
    <dict>
      <key>Name</key>
      <string>bitbanger</string>
      <key>Description</key>
      <string>Bitbanger</string>
    </dict>
    <key>dac</key>
    <dict>
      <key>Name</key>
      <string>dac</string>
      <key>Description</key>
      <string>1-Bit DAC</string>
    </dict>
    <key>dac_6bit_bw</key>
    <dict>
      <key>Name</key>
      <string>dac_6bit_bw</string>
      <key>Description</key>
      <string>6-Bit Binary Weighted DAC</string>
    </dict>
    <key>dec_rs232_loopback</key>
    <dict>
      <key>Name</key>
      <string>dec_rs232_loopback</string>
      <key>Description</key>
      <string>RS232 Loopback (DEC 12-15336-00)</string>
    </dict>
    <key>generic_keyboard</key>
    <dict>
      <key>Name</key>
      <string>generic_keyboard</string>
      <key>Description</key>
      <string>Generic Keyboard</string>
    </dict>
    <key>gfxdecode</key>
    <dict>
      <key>Name</key>
      <string>gfxdecode</string>
      <key>Description</key>
      <string>gfxdecode</string>
    </dict>
    <key>ie15_cpu</key>
    <dict>
      <key>Name</key>
      <string>ie15_cpu</string>
      <key>Description</key>
      <string>ie15 CPU</string>
    </dict>
    <key>ie15_device</key>
    <dict>
      <key>Name</key>
      <string>ie15_device</string>
      <key>Description</key>
      <string>IE15</string>
    </dict>
    <key>ie15_terminal</key>
    <dict>
      <key>Name</key>
      <string>ie15_terminal</string>
      <key>Description</key>
      <string>IE15 Terminal</string>
    </dict>
    <key>ie15kbd</key>
    <dict>
      <key>Name</key>
      <string>ie15kbd</string>
      <key>Description</key>
      <string>15WWW-97-006 Keyboard</string>
    </dict>
    <key>ins8250</key>
    <dict>
      <key>Name</key>
      <string>ins8250</string>
      <key>Description</key>
      <string>National Semiconductor INS8250 UART</string>
    </dict>
    <key>ipt_merge_any_hi</key>
    <dict>
      <key>Name</key>
      <string>ipt_merge_any_hi</string>
      <key>Description</key>
      <string>Input Merger (any high)</string>
    </dict>
    <key>m6802</key>
    <dict>
      <key>Name</key>
      <string>m6802</string>
      <key>Description</key>
      <string>Motorola MC6802</string>
    </dict>
    <key>mm58167</key>
    <dict>
      <key>Name</key>
      <string>mm58167</string>
      <key>Description</key>
      <string>National Semiconductor MM58167 RTC</string>
    </dict>
    <key>null_modem</key>
    <dict>
      <key>Name</key>
      <string>null_modem</string>
      <key>Description</key>
      <string>RS232 Null Modem</string>
    </dict>
    <key>printer_image</key>
    <dict>
      <key>Name</key>
      <string>printer_image</string>
      <key>Description</key>
      <string>Printer</string>
    </dict>
    <key>pseudo_terminal</key>
    <dict>
      <key>Name</key>
      <string>pseudo_terminal</string>
      <key>Description</key>
      <string>Pseudo terminal</string>
    </dict>
    <key>rs232_loopback</key>
    <dict>
      <key>Name</key>
      <string>rs232_loopback</string>
      <key>Description</key>
      <string>RS232 Loopback</string>
    </dict>
    <key>serial_keyboard</key>
    <dict>
      <key>Name</key>
      <string>serial_keyboard</string>
      <key>Description</key>
      <string>Serial Keyboard</string>
    </dict>
    <key>serial_printer</key>
    <dict>
      <key>Name</key>
      <string>serial_printer</string>
      <key>Description</key>
      <string>Serial Printer</string>
    </dict>
    <key>serial_terminal</key>
    <dict>
      <key>Name</key>
      <string>serial_terminal</string>
      <key>Description</key>
      <string>Serial Terminal</string>
    </dict>
    <key>sunkbd</key>
    <dict>
      <key>Name</key>
      <string>sunkbd</string>
      <key>Description</key>
      <string>Sun Keyboard Port</string>
    </dict>
    <key>sunkbd_adaptor</key>
    <dict>
      <key>Name</key>
      <string>sunkbd_adaptor</string>
      <key>Description</key>
      <string>Sun Keyboard Adaptor</string>
    </dict>
    <key>swtpc8212_device</key>
    <dict>
      <key>Name</key>
      <string>swtpc8212_device</string>
      <key>Description</key>
      <string>SWTPC8212</string>
    </dict>
    <key>swtpc8212_terminal</key>
    <dict>
      <key>Name</key>
      <string>swtpc8212_terminal</string>
      <key>Description</key>
      <string>SWTPC8212 Terminal</string>
    </dict>
    <key>a2eauxslot</key>
    <dict>
      <key>Name</key>
      <string>a2eauxslot</string>
      <key>Description</key>
      <string>Apple IIe AUX Bus</string>
    </dict>
    <key>a2eauxslot_slot</key>
    <dict>
      <key>Name</key>
      <string>a2eauxslot_slot</string>
      <key>Description</key>
      <string>Apple IIe AUX Slot</string>
    </dict>
    <key>a2eext80</key>
    <dict>
      <key>Name</key>
      <string>a2eext80</string>
      <key>Description</key>
      <string>Apple IIe Extended 80-Column Card</string>
    </dict>
    <key>a2erwks3</key>
    <dict>
      <key>Name</key>
      <string>a2erwks3</string>
      <key>Description</key>
      <string>Applied Engineering RamWorks III</string>
    </dict>
    <key>a2estd80</key>
    <dict>
      <key>Name</key>
      <string>a2estd80</string>
      <key>Description</key>
      <string>Apple IIe Standard 80-Column Card</string>
    </dict>
    <key>a2hsscsi</key>
    <dict>
      <key>Name</key>
      <string>a2hsscsi</string>
      <key>Description</key>
      <string>Apple II High-Speed SCSI Card</string>
    </dict>
    <key>a2pcxport</key>
    <dict>
      <key>Name</key>
      <string>a2pcxport</string>
      <key>Description</key>
      <string>Applied Engineering PC Transporter</string>
    </dict>
    <key>a2vuliie</key>
    <dict>
      <key>Name</key>
      <string>a2vuliie</string>
      <key>Description</key>
      <string>Applied Engineering Vulcan IDE controller (//e version)</string>
    </dict>
    <key>ds1315</key>
    <dict>
      <key>Name</key>
      <string>ds1315</string>
      <key>Description</key>
      <string>Dallas DS1315 Phantom Time Chip</string>
    </dict>
    <key>isa8</key>
    <dict>
      <key>Name</key>
      <string>isa8</string>
      <key>Description</key>
      <string>8-bit ISA bus</string>
    </dict>
    <key>isa8_slot</key>
    <dict>
      <key>Name</key>
      <string>isa8_slot</string>
      <key>Description</key>
      <string>8-bit ISA slot</string>
    </dict>
    <key>pc_kbdc</key>
    <dict>
      <key>Name</key>
      <string>pc_kbdc</string>
      <key>Description</key>
      <string>PC KBDC</string>
    </dict>
    <key>pc_kbdc_slot</key>
    <dict>
      <key>Name</key>
      <string>pc_kbdc_slot</string>
      <key>Description</key>
      <string>PC keyboard port</string>
    </dict>
    <key>pcx_dmac</key>
    <dict>
      <key>Name</key>
      <string>pcx_dmac</string>
      <key>Description</key>
      <string>PC Transporter DMAC</string>
    </dict>
    <key>pic8259</key>
    <dict>
      <key>Name</key>
      <string>pic8259</string>
      <key>Description</key>
      <string>Intel 8259 PIC</string>
    </dict>
    <key>pit8253</key>
    <dict>
      <key>Name</key>
      <string>pit8253</string>
      <key>Description</key>
      <string>Intel 8253 PIT</string>
    </dict>
    <key>pit_counter</key>
    <dict>
      <key>Name</key>
      <string>pit_counter</string>
      <key>Description</key>
      <string>PIT Counter</string>
    </dict>
    <key>v30</key>
    <dict>
      <key>Name</key>
      <string>v30</string>
      <key>Description</key>
      <string>NEC V30</string>
    </dict>
    <key>a2vulcan</key>
    <dict>
      <key>Name</key>
      <string>a2vulcan</string>
      <key>Description</key>
      <string>Applied Engineering Vulcan IDE controller (IIgs version)</string>
    </dict>
    <key>a2vulgld</key>
    <dict>
      <key>Name</key>
      <string>a2vulgld</string>
      <key>Description</key>
      <string>Applied Engineering Vulcan Gold IDE controller (IIgs version)</string>
    </dict>
    <key>es5503</key>
    <dict>
      <key>Name</key>
      <string>es5503</string>
      <key>Description</key>
      <string>Ensoniq ES5503</string>
    </dict>
    <key>floppy_sonny</key>
    <dict>
      <key>Name</key>
      <string>floppy_sonny</string>
      <key>Description</key>
      <string>Floppy Disk [Sony]</string>
    </dict>
    <key>iwml</key>
    <dict>
      <key>Name</key>
      <string>iwml</string>
      <key>Description</key>
      <string>Apple IWM (Integrated Woz Machine) (legacy)</string>
    </dict>
    <key>m50741</key>
    <dict>
      <key>Name</key>
      <string>m50741</string>
      <key>Description</key>
      <string>Mitsubishi M50741</string>
    </dict>
    <key>nvram</key>
    <dict>
      <key>Name</key>
      <string>nvram</string>
      <key>Description</key>
      <string>NVRAM</string>
    </dict>
    <key>scc85c30</key>
    <dict>
      <key>Name</key>
      <string>scc85c30</string>
      <key>Description</key>
      <string>Zilog Z85C30 SCC</string>
    </dict>
    <key>w65c816</key>
    <dict>
      <key>Name</key>
      <string>w65c816</string>
      <key>Description</key>
      <string>WDC W65C816</string>
    </dict>
    <key>z80scc_channel</key>
    <dict>
      <key>Name</key>
      <string>z80scc_channel</string>
      <key>Description</key>
      <string>Z80 SCC Channel</string>
    </dict>
    <key>m50740</key>
    <dict>
      <key>Name</key>
      <string>m50740</string>
      <key>Description</key>
      <string>Mitsubishi M50740</string>
    </dict>
  </dict>
</plist>

