<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Apple IIgs</string>
		<key>Mame</key>
		<string>apple2gs</string>
		<key>Children</key>
		<array/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Apple IIe</string>
		<key>Mame</key>
		<string>apple2e</string>
		<key>Children</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Apple IIe</string>
				<key>Mame</key>
				<string>apple2e</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Apple IIe (enhanced)</string>
				<key>Mame</key>
				<string>apple2ee</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
