<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MameComponentsDate</key>
	<date>2024-05-31T12:00:00Z</date>
	<key>UseCustomMame</key>
	<false/>
	<key>AutoCloseLogWindow</key>
	<true/>
	<key>MamePath</key>
	<string>/usr/local/bin/mame</string>
	<key>MameWorkingDirectory</key>
	<string>/usr/local/share/mame/</string>
	<key>NSQuitAlwaysKeepsWindows</key>
	<true/>
	<key>DefaultDownloadURL</key>
	<string>https://archive.org/download/mame-merged/mame-merged</string>
	<key>UseLogWindow</key>
	<true/>
	<key>DefaultDownloadExtension</key>
	<string>zip</string>
</dict>
</plist>
